// ===============================
// mirror ui,包含了所有的组件,全主题
// ===============================
// ================================
// 开关变量 1=开启,其它等于关闭
// ================================
// 暗色主题
$themeDark=1
// 彩色主题
$themeColor=1

// ========
// 公用数据
// ========
@import "../stylus/importCom"

// ========
// 组件
// ========
// 容器
@import "../stylus/coms/tabs"
@import "../stylus/coms/cachepage"

// 数据
@import "../stylus/coms/list"
@import "../stylus/coms/table"
@import "../stylus/coms/form"
// 交互功能
@import "../stylus/coms/btn"
@import "../stylus/coms/onoff"
@import "../stylus/coms/msgbox"
@import "../stylus/coms/msgshow"
@import "../stylus/coms/datepick"
@import "../stylus/coms/range"
// 导航
@import "../stylus/coms/docmenu"
@import "../stylus/coms/sidemenu"
@import "../stylus/coms/mnavmenu"
@import "../stylus/coms/menubar"
@import "../stylus/coms/pagenum"