// ===========
// 用于表单生成工具
// ===========
// ================================
// 开关变量 1=开启,其它等于关闭
// ================================
// 暗色主题
$themeDark=1
// 彩色主题
$themeColor=1

// =================================
// 变量,函数和扩展样式的定义.必须引用
// =================================
@import "../stylus/importCom"

// 选择主题颜色.这里覆盖掉主题色字典
$colors-dict={
    sky:$sky,
    green:$green,
    teal:$teal
}
// 
@import "../stylus/coms/btn"
@import "../stylus/coms/form"
@import "../stylus/coms/table"
