<div id="about">
  <h2>关于ui</h2>
  <p># 为了练习而做</p>
  <p>将html,js,css做成组件,使web开发更方便.这种做法在桌面程序中早就有了,比如winfrom.较早些时候,当前后端还没有分离,还是以服务端编程时,常用的是jQuery,还有各用基于jQuery的UI.</p>
  <p>后来有了Bootstrap.学习它的scss后,认为这是一种先进的思想.于是模仿练习.它的样式是OOP的,使用scss编写生成css.生成各种组件,布局,工具的css样式.</p>
  <p>一套webui是一些组件的集合,一个组件就是html模板加css显示加js功能的组合.按bootstrap的思路,编写这种组合就得到了一套UI.</p>
  <p>看过一些其它的ui框架,都是bootstrap的形式,或者直接基于它开发的.看起来,这更是一种web前端编程思路突破,真正的将web前端工程化了,就像服务端工程化那样.</p>
  <p>所以,使用造组件的思路,可以造出各种各样的ui来.</p>
  <p># 自定义组件</p>
  <p>主流的浏览器都支持web自定义组件了,就是可以自定义标记,以及这个标记的dom对象类型.如此一来,可以自定义内置的web组件了</p>
  <p>感觉不错的自定义ui组件库: <a href="https://shoelace.style/" target="_blank">https://shoelace.style/</a></p>
  <p># css / js</p>
  <p>css使用的是 stylus <a href="https://stylus-lang.com/" target="_blank">stylus-lang.com</a> <a href="https://stylus-lang.net/" target="_blank">stylus-lang.net</a>,这个预处理器的语法风格像python那样靠空格缩进,比较简洁.另外工具函数也很丰富,类似sass.</p>
  <p>为了方便修改颜色,所有颜色使用了css变量.</p>
  <p>所有的js绑定在 window.ns 这个对象上面,ns表示namespace.</p>
  <p>没有js交互的主要用于展示性的组件使用原生的html标记,有js交互的做成了自定义标记.</p>
  <p>自定义组件样式没有封装在shadowdom里,还是使用的全局样式.</p>
</div>