<div class="doc-part-box" id="article">
  <h2>段落标题</h2>
  <p>段落标题用于一段文字的分割标题</p>
  <p class="article-title">蝶恋花·帘外东风交雨霰</p>
  <p>帘外东风交雨霰.帘里佳人,笑语如莺燕.深惜今年正月暖.</p>
  <p>灯光酒色摇金盏.掺鼓渔阳挝未遍.舞褪琼钗,汗湿香罗软.</p>
  <p>今夜何人吟古怨.清诗未就冰生砚.</p>
  <p class="article-title warning">定风波·常羡人间琢玉郎</p>
  <p>常羡人间琢玉郎</p>
  <p>天应乞与点酥娘</p>
  <p>自作清歌传皓齿</p>
  <p>风起,雪飞炎海变清凉</p>
  <p>万里归来年愈少</p>
  <p>微笑,笑时犹带岭梅香</p>
  <p>试问岭南应不好</p>
  <p>却道:此心安处是吾乡</p>
  <div class="mg-tb-10">

    @foreach (var item in Model.themecolors)
    {
      <p class="article-title @item">@item</p>
    }
  </div>
  <div class="mg-tb-10">
    @foreach (var item in Model.fontsizes)
    {
      <p class="article-title @item">@item 尺寸</p>
    }
  </div>
  <pre class="bg-gray">
&lt;p class="article-title"&gt;默认标题&lt;/p&gt;

&lt;p class="article-title xl primary"&gt;标题&lt;/p&gt;
</pre>
</div>
