<div class="doc-part-box" id="article">
  <h2>段落标题</h2>
  <p>段落标题用于一段文字的分割标题</p>
  <p class="article-title">默认标题</p>
  <div class="mg-tb-10">

    @foreach (var item in Model.themecolors)
    {
      <p class="article-title @item">@item</p>
    }
  </div>
  <div class="mg-tb-10">
    @foreach (var item in Model.fontsizes)
    {
      <p class="article-title @item">@item 尺寸</p>
    }
  </div>
  <pre class="bg-gray">
&lt;p class="article-title"&gt;默认标题&lt;/p&gt;

&lt;p class="article-title xl primary"&gt;标题&lt;/p&gt;
</pre>
</div>
