<div class="doc-part-box" id="cssvar">
  <h2>css变量</h2>
  <p>在 :root 伪类下,设置了css变量.主题颜色,字体大小使用了css变量,为了便于切换UI颜色.</p>
  <pre class="bg-gray-lt">
  // js设置html元素下定义的css变量
  document.documentElement.style.setProperty('--color-primary', 'blue');

  // 获取html元素下定义的css变量值
  window.getComputedStyle(document.documentElement).getPropertyValue('--color--primary')

  // 如果一个css变量 "--var-a" 的值是另一个css变量的值 --var-b : var(--var-a)
  // 那么改变--var-a的值后,--var-b不变,这种引用是"值"传递的

</pre>
  <br />
  <p># 颜色变量</p>
  <pre class="bg-gray-lt">
:root{}

  // 黑
  --color-black: #000;
  --color-black-lt: #333;
  --color-black-opa50: rgba(0,0,0,0.314);

  // 白,灰
  --color-white: #fff;
  --color-gray: #dee2e6;
  --color-gray-lt: #edeff1;
  --color-gray-dk: #b7c0c9;

  // 主题色
  --color-primary: #38bdf8;
  --color-primary-lt: #92dbfb;
  --color-primary-dk: #0caef6;

  // 成功
  --color-success: #28a745;
  --color-success-lt: #79df90;
  --color-success-dk: #228e3b;

  // 警告
  --color-warning: #ffc107;
  --color-warning-lt: #fd7;
  --color-warning-dk: #dfa700;

  // 消息
  --color-info: #17a2b8;
  --color-info-lt: #6bdbec;
  --color-info-dk: #148a9c;

  // 失败
  --color-danger: #dc3545;
  --color-danger-lt: #ec9099;
  --color-danger-dk: #c62232;

</pre>
  <br />
  <p># 字体大小变量</p>
  <p>默认的body字体14px,手机屏幕16px.默认body背景色白色</p>
  <pre class="bg-gray-lt">
:root{}

  // 字体大小
  --font-size-sm: 12px;
  --font-size: 14px;
  --font-size-md: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 36px;
  --font-size-xxxl: 48px;

  // 字体颜色
  --font-color: var(--black-lt);

  // 背景颜色
  --bg-color: var(--color-white);

</pre>
</div>