<div class="doc-page">
  <h2>大标题</h2>
  <p>对h1~h6和p标签的样式,h标题字体大小来自bootstrap4</p>
  <p># h6号标题的font-size值是 font-size: calc(var(--font-size) + 2px) ,其它号也是基于--font-size计算的</p>
  <p class="article-title">h1-h6</p>
  <h1>h1 标题 40px</h1>
  <h2>h2 标题 32px</h2>
  <h3>h3 标题 28px</h3>
  <h4>h4 标题 24px</h4>
  <h5>h5 标题 20px</h5>
  <h6>h6 标题 16px</h6>

  <p class="article-title">p</p>
  <p>简单的设置了下边margin-bottom 16px</p>
  @for (int i = 0; i < 4; i++)
  {
  <p>第 @i 段,.....</p>
  }
</div>