<div class="doc-part-box" id="hrline">
  <h2>hr分隔线</h2>
  <p>class="line"</p>
  <hr class="line" />
  @foreach (var item in Model.themecolors)
  {
    <p>class="line @item"</p>
    <hr class="line @item" />
  }
</div>