<div class="doc-part-box" id="hrline">
  <h2>hr分隔线</h2>
  <p>class="line"</p>
  <hr class="line" />
  <p>class="line primary"</p>
  <hr class="line primary" />
  <p>class="line danger"</p>
  <hr class="line danger" />
  <p>class="line success"</p>
  <hr class="line success" />
</div>