@*
  1.模板页名字规定: "页面名字.part.cshtml""
  2.内容容器固定如下:
    <div class="doc-part-box" id="页面名字">
      <h2>标题</h2>
      ......
      ......
    </div>
*@
<div class="doc-part-box" id="kvpair">
  <h2>名值对标签</h2>
  <p class="lead">标题和内容两个部分,用于简短的提示或者说明.</p>
  <div class="kvpair mg-b-10">
    <span class="key">Name</span>
    <span class="val">Value</span>
  </div>
  <p class="article-title">基本html与class</p>
  <p>.kvpair使用grid布局,子项垂直居中.宽度auto.</p>
  <pre class="bg-gray">
    &lt;div class="<b>kvpair</b>"&gt;
      &lt;span class="<b>key</b>"&gt;Name&lt;/span&gt;
      &lt;span class="<b>val</b>"&gt;Value&lt;/span&gt;
    &lt;/div&gt;
</pre>
  <br />
  <p class="article-title">背景色</p>
  <p>在key上使用背景样式 bg-primary bg-info 等等.</p>
  <div class="mg-b-10">
    <div class="kvpair mg-r-10">
      <span class="key bg-primary">信仰</span>
      <span class="val">自由奔放</span>
    </div>
    <div class="kvpair mg-r-10">
      <span class="key bg-warning">爱好</span>
      <span class="val">游山玩水</span>
    </div>
    <div class="kvpair mg-r-10">
      <span class="key bg-gray">提示</span>
      <span class="val bg-danger text-white">不可嬉戏</span>
    </div>
  </div>
  <br />
  <p class="article-title">圆角与大小</p>
  <p>在.key,.val上加 <b>cir</b>. 在.kvpair上加 sm lg xl</p>
  <div class="mg-b-10">
    <div class="kvpair mg-r-10">
      <span class="key cir bg-warning">生产总值</span>
      <span class="val">$10000</span>
    </div>
    <div class="kvpair mg-r-10">
      <span class="key cir bg-info">上线人数</span>
      <span class="val cir">200</span>
    </div>
    <div class="kvpair mg-r-10">
      <span class="key cir bg-gray">咖啡</span>
      <span class="val cir">不加糖和奶</span>
    </div>
    <div class="kvpair mg-r-10">
      <span class="key cir bg-success">YouTube</span>
      <span class="val cir">一个网上电视台</span>
    </div>
  </div>
  <div class="mg-b-10">
    <div class="kvpair sm mg-r-10">
      <span class="key cir bg-info">小号</span>
      <span class="val cir">使用sm</span>
    </div>
    <div class="kvpair lg mg-r-10">
      <span class="key cir bg-success">大号</span>
      <span class="val cir">比较大一点lg</span>
    </div>
    <div class="kvpair xl mg-r-10">
      <span class="key cir bg-info">更大号</span>
      <span class="val cir">比较大一点xl</span>
    </div>
  </div>
  <p class="article-title">其它用法</p>
  <p>值是一个链接.值一个按钮组件.</p>
  <div class="mg-b-10">
    <div class="kvpair mg-r-10">
      <span class="key cir bg-info">谷歌</span>
      <a class="val cir" href="https://www.google.com" target="_blank">https://www.google.com</a>
    </div>
    <div class="kvpair mg-r-10">
      <span class="key cir">按钮</span>
      <a class="val btn">On / Off</a>
    </div>
    <br /><br />
    <pre class="bg-gray">
    &lt;div class="kvpair mg-r-10"&gt;
      &lt;span class="key cir"&gt;按钮&lt;/span&gt;
      &lt;a class="val btn"&gt;On / Off&lt;/a&gt;
    &lt;/div&gt;

</pre>
  </div>
</div>
