<div class="doc-part-box" id="label">
  <h2>标签</h2>
  <p>默认标签背景颜色继承父级,可以自定义标签背景色,文字色,也可以使用主题背景色</p>
  <span class="label">默认标签</span>
  <span class="label text-white bg-dark">暗色背景 class="bg-dark"</span>
  <div class="mg-tb-10">

    @foreach (var item in Model.themecolors)
    {
      <span class="label @item">@item</span>
    }
  </div>
  <div class="mg-tb-10">
    @foreach (var item in Model.fontsizes)
    {
      <span class="label @item">@item 尺寸</span>
    }
  </div>
  <pre class="bg-gray">
&lt;span class="label primary xl"&gt;默认标签&lt;/span&gt;

&lt;span class="label text-white bg-dark"&gt;暗色背景 class="bg-dark"&lt;/span&gt;
</pre>
</div>
