<div class="doc-page">
  <h2>标签</h2>
  <p>默认标签背景颜色继承父级,可以自定义标签背景色,文字色,也可以使用主题背景色</p>
  <span class="label">默认标签</span>
  <span class="label cir">圆角 class="label cir"</span>
  <span class="label text-white bg-black-lt">暗色背景 class="label text-white bg-black-lt"</span>
  <div class="mg-tb-10">

    @foreach (var item in Model.themecolors)
    {
      <span class="label cir @item">@item</span>
    }
  </div>
  <div class="mg-tb-10">
    @foreach (var item in Model.fontsizes)
    {
      <span class="label text-@item">text-@item</span>
    }
  </div>
  <pre class="bg-gray-lt">
  // 
  &lt;span class="<strong>label</strong>"&gt;默认标签&lt;/span&gt;

  // 背景和字体颜色
  &lt;span class="label <strong>text-white bg-dark</strong>"&gt;暗色背景 class="bg-dark"&lt;/span&gt;

  // 圆角
  &lt;span class="label <strong>cir</strong>"&gt;圆角 class="label cir"&lt;/span&gt;
  
</pre>
</div>
