<div class="doc-part-box" id="list">
  <h2>列表</h2>
  <h4>&lt;ul class="list"&gt;</h4>
  <p>使用ul,ol标记,加list类. &lt;ul class="list"&gt; &lt;ol class="list"&gt;</p>
  <p>根据原有的ul,ol的样式,稍微调整了li的padding上下.在嵌套时的padding左.另外,加了数值和字母序列</p>
  <ul class="list mg-b-20">
    <li>主食</li>
    <li>
      <ul class="list">
        <li>面包</li>
        <li>米饭</li>
        <li>馒头</li>
      </ul>
    </li>
    <li>饮料</li>
    <li>
      <ul class="list">
        <li>咖啡</li>
        <li>白酒</li>
        <li>绿茶</li>
      </ul>
    </li>
  </ul>
  <h4>方块,圆,主题色</h4>
  <div class="grids-2">
    <ol class="list square danger">
      <li>尊前拟把归期说,欲语春容先惨咽</li>
      <li>人生自是有情痴,此恨不关风与月</li>
      <li>离歌且莫翻新阕,一曲能教肠寸结</li>
      <li>直须看尽洛城花,始共春风容易别</li>
    </ol>
    <ol class="list cir primary">
      <li>两个黄鹂鸣翠柳, // 两只黄鹂在翠绿的柳树间婉转地歌唱</li>
      <li>一行白鹭上青天. // 一队整齐的白鹭直冲向蔚蓝的天空</li>
      <li>窗含西岭千秋雪, // 窗前可以望见西岭上堆积着终年不化的积雪</li>
      <li>门泊东吴万里船. // 门前停泊着自万里外的东吴远行而来的船只</li>
    </ol>
  </div>
  <pre class="bg-gray">
// 方块
&lt;ul class="list square"&gt;
// 圆
&lt;ul class="list cir"&gt;
// 主题色
&lt;ul class="list square primary"&gt;
</pre>
  <h4>数值,字母样式</h4>
  <p>嵌套的序列使用了css的 "counter-reset" "counter-increment" "counters()" 这三个属性和方法</p>
  <div class="grids-2">
    <ul class="list num">
      <li>
        主食
        <ul class="list num">
          <li>面包</li>
          <li>米饭</li>
          <li>馒头</li>
        </ul>
      </li>
      <li>
        饮料
        <ul class="list num">
          <li>咖啡</li>
          <li>白酒</li>
          <li>
            茶
            <ul class="list num">
              <li>绿茶</li>
              <li>红茶</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="list abc">
      <li>
        餐具
        <ul class="list num">
          <li>大碗</li>
          <li>竹筷</li>
          <li>汤勺</li>
        </ul>
      </li>
      <li>
        优惠
        <ul class="list abc">
          <li>会员9折</li>
          <li>会员100减5</li>
          <li>
            优惠劵
            <ul class="list abc">
              <li>200酒</li>
              <li>100饮料(除酒)</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <pre class="bg-gray">
// 数值
&lt;ul class="list num"&gt;
// 字母
&lt;ul class="list abc"&gt;
<b>注意:</b>嵌套的ul,ol,也要加上 class="list num|abc" 样式
</pre>
  <h4>垂直对齐问题</h4>
  <p>列表前的方块,圆,数值,abc和列表的内容没有垂直对齐,仔细看是有一点差距的.这个情况发生在"li"的内容是文本节点的时候:</p>
  <ul class="list square danger">
    <li>没有对齐<small>(文本直接在li里)</small></li>
    <li><span>对齐了</span><small>(文本包在span里)</small></li>
  </ul>
  <pre class="bg-gray">
// li下的文本节点
&lt;li&gt;没有对齐&lt;/li&gt;
// 包一层span
&lt;li&gt;&lt;span&gt;对齐了&lt;/span&gt;&lt;/li&gt;
</pre>
  <p>如果文本包一层元素就能对齐.li设置了子元素垂直对齐 { li > * : vertical-align: middle }</p>
</div>