<div class="doc-part-box" id="list">
  <h2>列表</h2>
  <p># 使用ul,ol标记,加list类. &lt;ul class="list"&gt; &lt;ol class="list"&gt;</p>
  <p class="text-in">根据原有的ul,ol的样式,稍微调整了li的padding上下.在嵌套时的padding左.另外,加了数值和字母序列</p>
  <div class="grids">
    <ul class="list pd-lr-50">
      <li>
        主食
        <ul class="list">
          <li>面包</li>
          <li>米饭</li>
          <li>馒头</li>
          <li>玉米</li>
        </ul>
      </li>
      <li>
        饮料
        <ul class="list">
          <li>咖啡</li>
          <li>白酒</li>
          <li>可乐</li>
          <li>果汁</li>
        </ul>
      </li>
    </ul>

    <ol class="list bg-gray-lt pd-lr-50">
      <li>
        水果
        <ol class="list cir primary">
          <li>香蕉</li>
          <li>苹果</li>
          <li>柚子</li>
          <li>葡萄</li>
        </ol>
      </li>
      <li>
        蔬菜
        <ol class="list cir success">
          <li>白菜</li>
          <li>黄瓜</li>
          <li>萝卜</li>
          <li>莴笋</li>
        </ol>
      </li>
    </ol>

    <ol class="list num bg-warning-lt pd-lr-50">
      <li>
        畜
        <ol class="list square danger">
          <li>猪肉</li>
          <li>牛肉</li>
          <li>羊肉</li>
          <li>鹿肉</li>
        </ol>
      </li>
      <li>
        禽
        <ol class="list square info">
          <li>鸡肉</li>
          <li>鹌鹑</li>
          <li>鸭肉</li>
          <li>鹅肉</li>
        </ol>
      </li>
    </ol>

    <ol class="list num bg-info-lt pd-lr-50">
      <li>
        餐具
        <ol class="list num">
          <li>碗</li>
          <li>盘</li>
          <li>筷</li>
          <li>勺</li>
        </ol>
      </li>
      <li>
        会员
        <ol class="list num">
          <li>普通</li>
          <li>大户</li>
          <li>资深</li>
          <li>贵宾</li>
        </ol>
      </li>
    </ol>

    <ol class="list abc bg-success-lt pd-lr-50">
      <li>
        优惠
        <ol class="list abc">
          <li>50免5</li>
          <li>
            会员
            <ol class="list abc">
              <li>普通,大户8折</li>
              <li>资深7.5折</li>
              <li>贵宾7折</li>
            </ol>
          </li>
        </ol>
      </li>
      <li>
        优惠券
        <ol class="list abc">
          <li>酒10元</li>
          <li>肉10元</li>
          <li>免5元</li>
        </ol>
      </li>
    </ol>
  </div>
  <br />
  <p># 数值编号,字母编号样式</p>
  <p class="text-in">嵌套的序列使用了css的 "counter-reset" "counter-increment" "counters()" 这三个属性和方法</p>
  <pre class="bg-gray-lt">
  // 方块 , 圆
  &lt;ul class="list <strong>square</strong>"&gt;
  &lt;ul class="list <strong>cir</strong>"&gt;

  // 主题色
  &lt;ul class="list <strong>primary</strong>"&gt;

  // 数值 , 字母
  &lt;ul class="list <strong>num</strong>"&gt;
  &lt;ul class="list <strong>abc</strong>"&gt;
  
  // 嵌套
  &lt;li&gt;
    优惠券
    &lt;ol class="list abc"&gt;
      &lt;li&gt;酒10元&lt;/li&gt;
      &lt;li&gt;肉10元&lt;/li&gt;
      &lt;li&gt;免5元&lt;/li&gt;
    &lt;/ol&gt;
  &lt;/li&gt;

  <b>注意:</b>嵌套的ul,ol,也要加上 class="list num|abc" 样式

</pre>
</div>