<div class="doc-part-box" id="mediaquery">
  <h2>媒体查询</h2>
  <p>媒体查询可以实现不同屏幕尺寸显示不同样式</p>
  <pre class="bg-gray">
@@media only screen and (min-width: 576px) {
  #mediaquerydiv1 {
    color: green;
  }
}
@@media only screen and (min-width: 980px) and (max-width: 1200px) {
  #mediaquerydiv1 {
    color: blue;
  }
}
@@media only screen and (min-width: 1200px) {
  #mediaquerydiv1 {
    color: black;
    font-weight:bold;
  }
}
</pre>
  <style>
    #mediaquerydiv1{
      color:red;
      border:1px solid #aaa;
    }
    @@media only screen and (min-width: 576px) {
      #mediaquerydiv1 {
        color: green;
      }
    }
    @@media only screen and (min-width: 980px) and (max-width: 1200px) {
      #mediaquerydiv1 {
        color: blue;
      }
    }
    @@media only screen and (min-width: 1200px) {
      #mediaquerydiv1 {
        color: black;
        font-weight:bold;
      }
    }
  </style>
  <div id="mediaquerydiv1" class="pd-10">
    <p>576px以下:红色文字 | 576px以上:绿色文字 | 980px ~ 1200px 蓝色文字 | 1200px以上 黑色文字加粗</p>
    <p>调整浏览器大小查看效果</p>
  </div>
</div>