@*
  1.模板页名字规定: "页面名字.part.cshtml""
  2.内容容器固定如下:
<div class="doc-part-box" id="页面名字">
  <h2>标题</h2>
  ......
  ......
</div>
*@
<div class="doc-part-box" id="menubar">
  <h2>菜单条</h2>
  <p class="lead">用于手机,模仿app菜单页面,右侧有个箭头的那种菜单</p>
  <p>容器使用flex布局,两端对齐.直接子项目为2个,分别在左右两侧.</p>
  <div style="width:100%; max-width:480px">
    <div class="menubar">
      <span>标题和箭头</span>
      <span class="arr"></span>
    </div>
    <div class="menubar">
      <div>
        <span class="iconface">🍄</span>
        <span>带图标标题</span>
      </div>
      <span class="arr"></span>
    </div>
    <div class="menubar">
      <span>标题和副标题</span>
      <div>
        <span class="">关闭数据</span>
        <span class="arr"></span>
      </div>
    </div>
    <div class="menubar">
      <div>
        <span class="iconface">🚯</span>
        <span>带图标标题和副标题</span>
      </div>
      <div>
        <span class="">禁止丢垃圾</span>
        <span class="arr"></span>
      </div>
    </div>
  </div>
  <br />
  <pre class="bg-gray-lt">
    // 标题和箭头,直接作为子项目
    &lt;div class="menubar"&gt;
      &lt;span&gt;标题和箭头&lt;/span&gt;
      &lt;span class="arr"&gt;&lt;/span&gt;
    &lt;/div&gt;

    // 带图标的,需要将标题和图标再套一层DIV
    &lt;div class="menubar"&gt;
      &lt;div&gt;
        &lt;span class="iconface"&gt;🍄&lt;/span&gt;
        &lt;span&gt;带图标标题&lt;/span&gt;
      &lt;/div&gt;
      &lt;span class="arr"&gt;&lt;/span&gt;
    &lt;/div&gt;

    // 箭头和副标题也是套一层DIV
    &lt;div class="menubar"&gt;
      &lt;span&gt;标题和副标题&lt;/span&gt;
      &lt;div&gt;
        &lt;span class=""&gt;关闭数据&lt;/span&gt;
        &lt;span class="arr"&gt;&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;

</pre>
</div>