<div class="doc-part-box" id="mnavmenu">
  <h2>底部菜单</h2>
  <p>用于手机的底部导航菜单,模仿微信公众号那样的菜单</p>
  <pre class="bg-gray">
  &lt;nav class="mnavmenu"&gt;
    &lt;div class="mnavmenu-group"&gt;
      &lt;ul class="mnavmenu-itembox close"&gt;
        &lt;li&gt;&lt;a class="mnavmenu-item"&gt;菜单一&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class="mnavmenu-item"&gt;菜单二&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;b class="mnavmenu-split"&gt;&lt;/b&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class="mnavmenu-item"&gt;菜单三&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class="mnavmenu-item"&gt;菜单四&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
      &lt;span class="mnavmenu-label"&gt;&equiv; 菜单一&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class="mnavmenu-group"&gt;
      &lt;a class="mnavmenu-item"&gt;&equiv; 一级菜单&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="mnavmenu-group"&gt;
      &lt;ul class="mnavmenu-itembox close"&gt;
        &lt;li&gt;&lt;a class="mnavmenu-item"&gt;菜单2.1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a class="mnavmenu-item"&gt;菜单2.2&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
      &lt;span class="mnavmenu-label <strong>last</strong>"&gt;&equiv; 菜单二&lt;/span&gt;
    &lt;/div&gt;
  &lt;/nav&gt;

</pre>
  <br />
  <iframe src="doc/mnavmenudemo.html" style="width:360px;height:300px" frameborder="1"></iframe>
  <br />
  <div class="kvpair">
    <span class="key primary cir">查看</span>
    <a class="val btn link" href="doc/mnavmenudemo.html" target="_blank">手机页面</a>
  </div>
  <p class="article-title">js</p>
  <pre class="bg-gray">
    // mnavmenuId,dom的id
    // item: 当前点击的菜单dom
    // index: 当前点击的菜单dom索引
    let mnavmenu1 = mnavmenu('mnavmenuId', (item, index) => {
      msgbox.alert(item.innerHTML);
    });

    // index 的顺序是,左边第一组菜单的最上面那个菜单为0,开始,到最右边最下面那个菜单.
    // 方法: 点击一个菜单
    mnavmenu1.activeItem(0)
    
</pre>
</div>