<div class="doc-part-box" id="msgbox">
  <h2>弹出框</h2>
  <p># 原理来自研究bootstrap的弹出层.模仿实现三种系统弹出框alert confirm prompt</p>
  <p class="article-title">alert</p>
  <div>
    <m-btn onclick="window.ns.msgbox.alert('点击了弹出框 msgbox.alert()')">msgbox.alert()</m-btn>
    <m-btn class="primary mg-l-10" onclick="window.ns.msgbox.alert('上方弹出 msgbox.alert()',null,'primary','top')">msgbox.alert()</m-btn>
  </div>
  <br />
  <pre class="bg-gray-lt">

  // msgbox对象
  let msgbox = window.ns.<strong>msgbox</strong>;

  // 参数
  // <strong>txt</strong>: 要显示的文本内容,必选
  // <strong>onClosed</strong>: 点击确定后执行方法
  // <strong>btnStyle</strong>: 按钮主题样式,primary,success,danger,...
  // <strong>position</strong>: 弹出位置, <strong>center</strong> | top | bottom
  msgbox.<strong>alert('txt', [onClosed], [btnStyle], [position])</strong>

</pre>

  <p class="article-title">confirm</p>
  <div>
    <m-btn onclick="window.ns.msgbox.confirm('点击了弹出框 msgbox.confirm()',confirmCall)">msgbox.confirm()</m-btn>
    <span id="confirmRes" class="label primary mg-l-10"></span>
  </div>
  <br />
  <pre class="bg-gray-lt">

  // msgbox对象
  let msgbox = window.ns.<strong>msgbox</strong>;

  // 参数
  // <strong>txt</strong>: 要显示的文本内容,必选
  // <strong>callback</strong>: 确定和取消都执行 callback(result), result: 确定 1,取消 0
  // <strong>btnStyle</strong>: 按钮主题样式,primary,success,danger,...
  // <strong>position</strong>: 弹出位置, <strong>center</strong> | top | bottom
  msgbox.<strong>alert('txt', [callback], [btnStyle], [position])</strong>

</pre>

  <p class="article-title">prompt</p>
  <div>
    <m-btn onclick="window.ns.msgbox.prompt('输入内容: msgbox.prompt()',promptCall)">msgbox.confirm()</m-btn>
    <span id="promptRes" class="label primary mg-l-10"></span>
  </div>
  <br />
  <pre class="bg-gray-lt">

  // msgbox对象
  let msgbox = window.ns.<strong>msgbox</strong>;

  // 参数
  // <strong>txt</strong>: 要显示的文本内容,必选
  // <strong>callback</strong>: 确定和取消都执行 callback(result), result: 确定 '输入的字符', 取消 ''
  // <strong>btnStyle</strong>: 按钮主题样式,primary,success,danger,...
  // <strong>position</strong>: 弹出位置, <strong>center</strong> | top | bottom
  msgbox.<strong>alert('txt', [callback], [btnStyle], [position])</strong>

</pre>
  <p class="article-title">自定义弹出层</p>
  <p># 自定义框是一个HTML片段,弹出的本质是在将它显示在弹出层父级上</p>
  <img src="img/msgboxlayer.png" alt="" width="600" />
  <br />
  <m-btn class="mg-tb-10" onclick="showcustom()">弹出下面的HTML片段 msgbox.<strong>show</strong>('custom html')</m-btn>

  <pre class="bg-gray-lt">

  &lt;div style="background-color:#eee;width:400px;border:1px solid #666;align-self:center;padding:15px"&gt;
      &lt;h3&gt;自定义弹出层标题&lt;/h3&gt;
      &lt;p&gt;弹出框原理分析学习,模仿了系统的三种弹出框.实现弹出自定义html片段&lt;/p&gt;
      &lt;p&gt;自定义弹出框需要定义HTML以及按钮事件,然后调用msgbox.show()弹出&lt;/p&gt;
      &lt;div class="text-center"&gt;&lt;m-btn onclick="window.ns.msgbox.close()"&gt;取消&lt;/m-btn&gt;
      &lt;m-btn class="btn" onclick="window.ns.msgbox.close()"&gt;确定&lt;/m-btn&gt;&lt;/div&gt;
  &lt;/div&gt;

    </pre>
  <script>
    function confirmCall(res) {
      let resdom = document.querySelector('#confirmRes');
      resdom.textContent = res == 1 ? "确定(1)" : "取消(0)";
    }

    function promptCall(res) {
      let resdom = document.querySelector('#promptRes');
      resdom.textContent = res;
    }

    function showcustom() {
      let innerhtml = 
`<div style="background-color:#eee;width:400px;border:1px solid #666;align-self:center;padding:15px">
    <h3>自定义弹出层标题</h3>
    <p>弹出框原理分析学习,模仿了系统的三种弹出框.实现弹出自定义html片段</p>
    <p>自定义弹出框需要定义HTML以及按钮事件,然后调用msgbox.show()弹出</p>
    <div class="text-center"><m-btn onclick="window.ns.msgbox.close()">取消</m-btn>
    <m-btn class="btn" onclick="window.ns.msgbox.close()">确定</m-btn></div>
  </div>`;
      window.ns.msgbox.show(innerhtml);
    }
  </script>
</div>
