<div class="doc-part-box" id="msgpanel">
  <h1>信息面板</h1>
  <p>内容包含标题和一段文字.也可无标题.标题使用h1~h6,段落使用p.</p>
  <div class="msgpanel">
    <h5>标题h1~h6</h5>
    <p>可用于介绍说明,有一个醒目的标题和简短的文字描述.</p>
  </div>
  <pre class="code">
&lt;div class="msgpanel"&gt;
  &lt;h2&gt;标题h2~h4&lt;/h2&gt;
  &lt;p&gt;可用于介绍说明,有一个醒目的标题和简短的文字描述.&lt;/p&gt;
&lt;/div&gt;
</pre>
  <div class="msgpanel">
    <h6>子虚赋</h6>
    <p>《子虚赋》作于司马相如早期客游梁孝王之时。据《史记·司马相如列传》载，相如“以赀为郎，事孝景帝，为武骑常侍，非其好也。会景帝不好辞赋，是时梁孝王来朝，从游说之士齐人邹阳、淮阴枚乘、吴庄忌夫子之徒，相如见而说之。因病免，客游梁。梁孝王令与诸生同舍，相如得与诸生游士居数岁，乃著《子虚之赋》” 。当时司马相如还只是“与诸生同舍”，“得与诸生游士居”，在文坛上尚未有所建树。</p>
  </div>
  <pre class="code">
&lt;div class="msgpanel"&gt;
  &lt;h4&gt;子虚赋&lt;/h4&gt;
  &lt;p&gt;楚王派子虚出使齐国，&lt;/p&gt;
&lt;/div&gt;
</pre>
  <div class="msgpanel primary">
    <h1>Primary</h1>
    <p>class="msgpanel primary"</p>
  </div>
  <div class="msgpanel success">
    <h2>Success</h2>
    <p>......</p>
  </div>
  <div class="msgpanel danger">
    <h3>Danger</h3>
    <p>......</p>
  </div>
</div>