<div class="doc-part-box" id="msgpanel">
  <h2>信息牌</h2>
  <p>内容包含标题和一段文字.标题使用h1~h6,文字段落使用p.</p>
  <div class="msgpanel mg-b-10">
    <h5>标题h1~h6</h5>
    <p>可用于介绍说明,有一个醒目的标题和简短的文字描述.</p>
  </div>
  <div class="msgpanel primary mg-b-10">
    <h5 class="text-primary-dk">主题样式</h5>
    <p>class="msgpanel primary",左边框会应用主题色.</p>
  </div>
  <div class="msgpanel warning mg-b-10 bg-warning-lt">
    <h5 class="text-warning-dk">! 安全警示</h5>
    <p class="text-warning-dk">进入前必须检查防护服!</p>
  </div>
  <pre class="bg-gray-lt">
  &lt;div class="<strong>msgpanel primary</strong>"&gt;
    &lt;h2&gt;标题h1~h6&lt;/h2&gt;
    &lt;p&gt;可用于介绍说明,有一个醒目的标题和简短的文字描述.&lt;/p&gt;
  &lt;/div&gt;

</pre>
</div>