@*
  1.模板页名字规定: "页面名字.part.cshtml""
  2.内容容器固定如下:
    <div class="doc-part-box" id="页面名字">
      <h2>标题</h2>
      ......
      ......
    </div>
*@
<div class="doc-part-box" id="pageload">
  <h2>页面等待</h2>
  <p>一个调整字间距的页面等待动画,flex 布局,文字垂直水平居中,容器占满父元素.</p>
  <p>div 加上 pageload 类,添加内容文字.</p>
  <div class="grids">
    <div class="pageload text-lg bg-gray pd-10 grid">页面载入中...</div>
    <div class="pageload text-lg text-warning pd-10 grid">Loading...</div>
    <div class="pageload text-lg bg-primary pd-10 grid">请稍候...</div>
  </div>
  <br />
  <pre class="bg-gray">
    &lt;div class="<b>pageload</b>"&gt;页面载入中...&lt;/div&gt;

</pre>
</div>