<div class="doc-part-box" id="sidemenu">
  <h2>侧边菜单</h2>
  <p class="article-title">html结构</p>
  <p>最外层是nav容器,包含ul列表,每个ul是一组菜单.ul里的li为菜单项容器.里面的a是菜单项,每个ul内第1个span是组标题.</p>
  <p>菜单项可以是超链接 a ,点击后跳转页面.也可以做成一个按钮,点击后执行一个方法. </p>
  <pre class="bg-gray">
&lt;nav class="sidemenu-box" id="main_menubox"&gt;
  &lt;ul class="sidemenu-group"&gt;
    &lt;li&gt;
      &lt;span class="sidemenu-label"&gt;零件&lt;i class="sidemenu-arrdown"&gt;&lt;/i&gt;&lt;/span&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a class="sidemenu-item" href="#grid"&gt;册格&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="sidemenu-item" href="#typography"&gt;标题段落&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="sidemenu-item" href="#btn"&gt;按钮&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="sidemenu-item" href="#table"&gt;表格&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;b class="sidemenu-split"&gt;&lt;/b&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a class="sidemenu-item" href="#form"&gt;表单&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
  ...
&lt;/nav&gt;
</pre>
  <p class="article-title">菜单超长,分割线</p>
  <p>菜单内容项设置了超长显示省略号的样式,但需要给菜单容器设定一个宽度,自适应宽度可能不行</p>
  <p>一组菜单设置一个分割线</p>
  <pre class="bg-gray">
&lt;nav class="sidemenu-box" style="width:220px;"&gt;

&lt;li&gt;&lt;b class="sidemenu-split"&gt;&lt;/b&gt;&lt;/li&gt;

</pre>
  <br />
  <div class="grids" id="sidemenutestbox">
    <div class="grid-3">
      <nav class="sidemenu-box bg-gray" id="sidemenudemo1" style="width:220px;">
        <ul class="sidemenu-group">
          <li>
            <span class="sidemenu-label">超长度<i class="sidemenu-arrdown"></i></span>
          </li>
          <li><a class="sidemenu-item">菜单一</a></li>
          <li><a class="sidemenu-item">菜单二</a></li>
          <li><a class="sidemenu-item">菜单三</a></li>
          <li><a class="sidemenu-item">菜单四(如果菜单内容超过宽度,显示省略号)</a></li>
        </ul>
      </nav>
    </div>
    <div class="grid-2">
      <nav class="sidemenu-box primary" id="sidemenudemo2">
        <ul class="sidemenu-group">
          <li>
            <span class="sidemenu-label">点击<i class="sidemenu-arrdown"></i></span>
          </li>
          <li><a class="sidemenu-item">菜单一(点击)</a></li>
          <li><a class="sidemenu-item">菜单二</a></li>
          <li><a class="sidemenu-item">菜单三</a></li>
          <li><a class="sidemenu-item">菜单四</a></li>
        </ul>
      </nav>
    </div>
    <div class="grid-1"></div>
    <div class="grid-2">
      <nav class="sidemenu-box warning" id="sidemenudemo3">
        <ul class="sidemenu-group">
          <li>
            <span class="sidemenu-label">分割线<i class="sidemenu-arrdown"></i></span>
          </li>
          <li><a class="sidemenu-item">菜单一</a></li>
          <li><a class="sidemenu-item">菜单二</a></li>
          <li><span class="sidemenu-split"></span></li>
          <li><a class="sidemenu-item">菜单三</a></li>
          <li><a class="sidemenu-item">菜单四</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <script>
    sidemenu('sidemenudemo1');
    sidemenu('sidemenudemo2', (item, i) => {
      msgbox.alert(item.innerText + 'index:' + i);
    });
    sidemenu('sidemenudemo3');

  </script>
  <br />
  <pre class="bg-gray">
// 实例化
let menu=sidemenu('sidemenudemo1');
// 点击第0个菜单
menu.activeItem(0);
// 实例化菜单,并且点击菜单项后执行一个方法
sidemenu('sidemenudemo1',(item,index)=>{})

</pre>
</div>