<div class="doc-part-box" id="toolclass">
  <h2>便利样式</h2>
  <p>为了方便使用,做一些单独的样式类</p>
  <p class="article-title">文本超出时,显示省略号</p>
  <p>需要给元素设置宽度width或者max-width,否则没有效果.'text-overflow'类设置了max-width:100%</p>
  <p class="text-overflow" style="width:260px" title="text-overflow文本超出时,显示省略号">
    class="text-overflow" 文本超出时,显示省略号
  </p>

  <p class="article-title">文本对齐</p>
  <div class="grids-3">
    <p class="text-left bg-gray">class="text-left" 左</p>
    <p class="text-center bg-primary">class="text-center" 中</p>
    <p class="text-right bg-info">class="text-right" 右</p>
  </div>
  <p class="article-title">文本大小</p>
  <div class="grids-3">
    <p class="text-sm pd-5 text-center bg-warning">class="text-sm" 小号字12px</p>
    <p class="text-lg pd-5 text-center bg-danger">class="text-lg" 大 16px</p>
    <p class="text-xl pd-5 text-center bg-success">class="text-xl" 巨大 20px</p>
  </div>
  <p class="article-title">段落开头空2em</p>
  <p class="text-s">class="text-s" 这个用于一段文字,开头空2em.表示一段文字的开始.</p>
  <p class="article-title">文本颜色</p>
  <p>主题文本色</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
    <p class="text-@item">class="text-@item"</p>
    }
  </div>
  <p>深色 se</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
    string se = item + "se";
    <p class="text-@se">class="text-@se"</p>
    }
  </div>
  <p>淡色 lt</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
    string lt = item + "lt";
    <p class="text-@lt">class="text-@lt"</p>
    }
  </div>
  <p>其它</p>
  <span class="text-white bg-dark pd-5">白色文字 class="text-white"</span>
  <span class="text-gray bg-success pd-5">灰色文字 class="text-gray"</span>
  <span class="text-grayse bg-danger pd-5">加深灰色文字 class="text-grayse"</span>
  <span class="text-graylt bg-danger pd-5">减淡灰色文字 class="text-graylt"</span>
  <p class="article-title">背景颜色</p>
  <p>主题背景颜色</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
    <p class="bg-@item pd-5 text-white text-center">class="bg-@item"</p>
    }
  </div>
  <p>深色 se</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
    string se = item + "se";
    <p class="bg-@se pd-5 text-white text-center">class="bg-@se"</p>
    }
  </div>
  <p>淡色 lt</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
    string lt = item + "lt";
    <p class="bg-@lt pd-5 text-white text-center">class="bg-@lt"</p>
    }
  </div>
  <p>其它</p>
  <span class="bg-gray pd-5">灰色背景 class="bg-gray"</span>
  <span class="bg-grayse pd-5">加深灰色背景 class="bg-grayse"</span>
  <span class="bg-graylt pd-5">减淡灰色背景 class="bg-graylt"</span>
  <span class="text-white bg-dark pd-5">暗色背景 class="bg-dark"</span>

  <p class="article-title">边距margin 内容距padding</p>
  <p>pd-n(n=5,10,15,..,45,50) 四个方向(l,r,t,b) pd-l-n pd-r-n pd-t-n pd-b-n, 可以组合上下与左右 pd-lr-n pd-tb-n</p>
  <div>
    <span class="pd-10 bg-primary">class="pd-10"</span>
    <span class="pd-t-10 bg-primary">class="pd-t-10" 上</span>
    <span class="pd-b-10 bg-primary">class="pd-b-10" 下</span>
    <span class="pd-lr-10 bg-primary">class="mg-lr-20" 左右</span>
    <span class="pd-tb-10 bg-primary">class="mg-tb-20" 上下</span>
  </div>
  <br />
  <p class="article-title">隐藏与显示</p>
  <p>d-none d-block 媒体查询:针对不同大小屏幕 d-sm-none d-md-none d-lg-none d-xl-none</p>
  <p>例1,只在sm(576px以下小屏幕)显示: class='d-block d-sm-none'</p>
  <p>例2,只在lg(992px以上大屏幕)显示: class='d-none d-lg-block'</p>
  <div class="grids-4">
    <span class="d-block pd-5 d-sm-none bg-danger">sm 576px以下显示</span>
    <span class="d-none pd-5 d-sm-block bg-gray">sm 576px以上显示</span>
    <span class="d-none pd-5 d-lg-block bg-primary">lg 992px以上显示</span>
    <span class="d-none pd-5 d-xl-block bg-gray">lg 1200px以上显示</span>
  </div>
</div>