<div class="doc-part-box" id="toolclass">
  <h2>工具样式</h2>
  <p>为了方便使用,做一些单一功能的样式类.所谓"原子样式",组合使用多种原子样式达到一定效果.这种做法灵活搭配,也可以减少重复的css条目.</p>
  <p class="article-title">text-overflow</p>
  <p>文本超出时,显示省略号.需要给元素设置宽度width或者max-width,否则没有效果.</p>
  <p class="text-overflow" style="width:260px" title="text-overflow文本超出时,显示省略号">
    class="<strong>text-overflow</strong>" 文本超出时,显示省略号
  </p>
  <pre class="bg-gray-lt">
  // text-overflow类设置了max-width:100%
  &lt;p class="<strong>text-overflow</strong>" style="width:260px" title="text-overflow文本超出时,显示省略号"&gt;
    class="text-overflow" 文本超出时,显示省略号
  &lt;/p&gt;

</pre>
  <p class="article-title">文本对齐</p>
  <div class="grids-3">
    <p class="text-left bg-gray mg-lr-10">class="text-left" 左</p>
    <p class="text-center bg-primary mg-lr-10">class="text-center" 中</p>
    <p class="text-right bg-info mg-lr-10">class="text-right" 右</p>
  </div>
  <p class="article-title">文本大小</p>

  <p class="bg-gray-lt text-sm">text-sm 12px</p>
  <p class="bg-gray-lt">默认 14px</p>
  <p class="bg-gray-lt text-md">text-md 16px</p>
  <p class="bg-gray-lt text-lg">text-lg 20px</p>
  <p class="bg-gray-lt text-xl">text-xl 24px</p>
  <p class="bg-gray-lt text-xxl">text-xxl 36px</p>
  <p class="bg-gray-lt text-xxxl">text-xxxl 48px</p>

  <p class="article-title">text-in</p>
  <p># 段落开头缩进2em</p>
  <p class="text-in">class="<strong>text-in</strong>" 这个用于一段文字开头缩进2em.表示一段文字的开始.</p>
  <p class="article-title">文本颜色</p>
  <p># 主题文本色</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
      <p class="text-@item bg-gray-lt pd-5 mg-lr-10">class="text-@item"</p>
    }
  </div>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
      string se = item + "-dk";
      <p class="text-@se bg-gray-lt pd-5 mg-lr-10">class="text-@se"</p>
    }
  </div>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
      string lt = item + "-lt";
      <p class="text-@lt bg-gray-lt pd-5 mg-lr-10">class="text-@lt"</p>
    }
  </div>
  <p># 黑白灰</p>
  <div class="grids-3">
    <span class="text-black-lt bg-gray-lt pd-5 mg-10">默认文字颜色#333 class="text-black-lt"</span>
    <span class="text-black bg-gray-lt pd-5 mg-10">黑色 class="text-black"</span>
    <span class="text-white bg-black-lt pd-5 mg-10">白色 class="text-white"</span>
    <span class="text-gray bg-black-lt pd-5 mg-10">灰色 class="text-gray"</span>
    <span class="text-gray-dk bg-black-lt pd-5 mg-10">深灰色 class="text-gray-dk"</span>
    <span class="text-gray-lt bg-black-lt pd-5 mg-10">浅灰色 class="text-gray-lt"</span>
  </div>
  <p class="article-title">背景颜色</p>
  <p># 主题背景颜色</p>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
      <p class="bg-@item text-white pd-5 mg-lr-10">class="bg-@item"</p>
    }
  </div>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
      string dk = item + "-dk";
      <p class="bg-@dk text-white pd-5 mg-lr-10">class="bg-@dk"</p>
    }
  </div>
  <div class="grids-5">
    @foreach (var item in Model.themecolors)
    {
      string lt = item + "-lt";
      <p class="bg-@lt text-white pd-5 mg-lr-10">class="bg-@lt"</p>
    }
  </div>
  <p># 黑白灰</p>
  <div class="grids-3">
    <span class="bg-black-opa50 pd-5 mg-10">半透明黑 class="bg-black-opa50"</span>
    <span class="bg-black text-white pd-5 mg-10">黑色 class="bg-black"</span>
    <span class="bg-white pd-5 mg-10">白色 class="bg-white"</span>
    <span class="bg-gray pd-5 mg-10">灰色 class="bg-gray"</span>
    <span class="bg-gray-dk pd-5 mg-10">深灰色 class="bg-gray-dk"</span>
    <span class="bg-gray-lt pd-5 mg-10">浅灰色 class="bg-gray-lt"</span>
  </div>

  <p class="article-title">边距margin 内容距padding</p>
  <p># pd-n(n=5,10,15,..,45,50) 四个方向(l,r,t,b) pd-l-n pd-r-n pd-t-n pd-b-n, 可以组合上下与左右 pd-lr-n pd-tb-n</p>
  <div style="border:1px solid #eee">
    <span class="pd-10 bg-primary">class="pd-10"</span>
    <span class="pd-t-10 bg-primary">class="pd-t-10" 上</span>
    <span class="pd-b-10 bg-primary">class="pd-b-10" 下</span>
    <span class="pd-lr-10 bg-primary">class="mg-lr-20" 左右</span>
    <span class="pd-tb-10 bg-primary">class="mg-tb-20" 上下</span>
  </div>
  <p class="article-title">margin-auto margin-lr-auto</p>
  <p>有宽度的块级元素左右居中,样式内容是: margin-left:auto margin-right:auto margin:auto</p>
  <div style="border:1px solid #eee">
    <div class="mg-lr-auto bg-primary-lt mg-10" style="width:300px;">class="mg-lr-auto" width:300px</div>
    <div class="mg-auto bg-info-lt" style="width:300px;">class="mg-auto" width:300px</div>
  </div>
  <br />
  <p class="article-title">隐藏与显示</p>
  <p>d-none d-block 媒体查询:针对不同大小屏幕 d - sm|md|lg|xl - none|block</p>
  <p>例1,只在640px以下小屏幕才显示: class='d-block d-sm-none'</p>
  <p>例2,只在992px以上大屏幕才显示: class='d-none d-lg-block'</p>
  <div class="grids-4">
    <span class="d-block pd-5 d-sm-none bg-danger mg-lr-10">小屏幕 640px以下显示</span>
    <span class="d-none pd-5 d-sm-block bg-gray mg-lr-10">小平版 640px以上显示</span>
    <span class="d-none pd-5 d-lg-block bg-primary mg-lr-10">大平板 992px以上显示</span>
    <span class="d-none pd-5 d-xl-block bg-success mg-lr-10">PC 1200px以上显示</span>
  </div>
</div>
