// ================================
// mirror ui,包含了所有的组件,不带主题
// ================================
// 禁止组件单独导出标识变量,定义为=1,避免单独导出
$noOutPutComAlone=1
// =================================
// 变量,函数和扩展样式的定义.必须引用
// =================================
@import "importCom"

// 基本主题
@import "theme"
// 容器
@import "coms/tabs"
@import "coms/cachepage"
// 数据
@import "coms/list"
@import "coms/table.styl"
@import "coms/form.styl"
// 交互功能
@import "coms/btn.styl"
@import "coms/onoff"
@import "coms/msgbox"
@import "coms/msgshow"
@import "coms/datepick"
@import "coms/range"
// 导航
@import "coms/docmenu"
@import "coms/sidemenu"
@import "coms/mnavmenu"
@import "coms/menubar"
@import "coms/pagenum"