// ======================================
// 元素reset一致性设定
// ======================================

// 所有DOM使用边框盒模型
*, *::before, *::after
    box-sizing: border-box

// 主题色变量,字体基准大小(:root匹配文档根元素(html))
:root
    font-size:$font-size-root
    --back-color:$white['0']// 背景色
    --front-color:$black['1']// 前景色,字体颜色
    --border-color:$gray['3']// 边框色

// body.边距补白,字体大小,行高
body
    margin:0
    padding:0
    font-size: 1.4rem
    font-family: 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, sans-serif, '\5B8B\4F53'
    line-height: 1.5

// a链接
a
    @extend $ext-color-inherit