// 1.全局变量 可到variables文件夹中选择不同的版本
@import "variables/color"
@import "variables/font"
@import "variables/mediaquery"

// 2.自定义函数
@import "function/function"

// 3.reset css和全局样式
@import "base"
// 3.1快捷工具样式
@import "coms/tools"
// 4.零件
@import "coms/grids"
@import "coms/h1h6p.styl"
@import "coms/hr.styl"
@import "coms/btn.styl"
@import "coms/table.styl"
@import "coms/form.styl"
// 5.组件
@import "coms/label.styl"
@import "coms/article"
@import "coms/msgpanel"
@import "coms/sidemenu"
@import "coms/panel"
@import "coms/tabs"
@import "coms/msgbox"
@import "coms/pagenum"
@import "coms/datepick"
@import "coms/cachepage"
