// ============================
// mirror ui,包含了所有的组件
// ============================

// =================================
// 变量,函数和扩展样式的定义.必须引用
// =================================
// 变量
@import "variables/color"
@import "variables/mediaquery"
@import "variables/transition"
@import "variables/cirangle"
// extend style item
@import "function/extendclass"
// 函数
@import "function/function"

//
// 容器
@import "coms/tabs"
@import "coms/cachepage"
// 数据
@import "coms/list"
@import "coms/table.styl"
@import "coms/form.styl"
@import "coms/forminput.styl"
@import "coms/formfile.styl"
@import "coms/formcheck.styl"
// 交互功能
@import "coms/btn.styl"
@import "coms/onoff"
@import "coms/msgbox"
@import "coms/msgshow"
@import "coms/datepick"
@import "coms/range"
// 导航
@import "coms/docmenu"
@import "coms/sidemenu"
@import "coms/mnavmenu"
@import "coms/menubar"
@import "coms/pagenum"