// 1.全局变量 可到variables文件夹中选择不同的版本
@import "variables/color"
@import "variables/font"
@import "variables/mediaquery"
@import "variables/transition"
@import "variables/cirangle"
// 2.自定义函数
@import "function/function"

// 3.reset css和全局样式
@import "base"
// 3.1快捷工具样式
@import "coms/tools"
// 4.布局
@import "coms/grids"
@import "coms/layoutline"
// 5.显示
@import "coms/h1h6p.styl"
@import "coms/article"
@import "coms/label.styl"
@import "exts/kvpair"
@import "coms/hr.styl"
@import "exts/pageload"
// 6.容器
@import "coms/panel"
@import "coms/msgpanel"
@import "coms/tabs"
@import "coms/cachepage"
// 7.数据
@import "coms/list"
@import "coms/table.styl"
@import "coms/form.styl"
// 8.功能
@import "coms/btn.styl"
@import "coms/onoff"
@import "coms/msgbox"
@import "coms/msgshow"
@import "coms/datepick"
@import "coms/range"
// 9.导航
@import "coms/docmenu"
@import "coms/sidemenu"
@import "coms/mnavmenu"
@import "coms/mdirbar"
@import "exts/menubar"
@import "coms/pagenum"