if $noOutPutComAlone!=1
    @import "importCom"

// 全局主题颜色变量
:root
    --back-color:$white['0']// 背景色
    --front-color:$black['1']// 前景色,字体颜色
    --border-color:$gray['3']// 边框色
body
    color: $front-color
    background-color: $back-color
//========================
// dark(暗色),颠倒黑白
//========================
// 全局主题前缀
$themePre='.theme'
// 全局主题影响范围:背景色,字体色,边框,滚动条
{$themePre}-dark
    color-scheme: dark// 这个规则将滚动条颜色设为深色
    --back-color: $black['1']// 背景色
    --front-color: $white['1']// 前景(字体)色
    --border-color:$gray['6']// 边框色