@*
  1.模板页名字规定: "页面名字.part.cshtml""
  2.内容容器固定如下:
    <div class="doc-part-box" id="页面名字">
      <h2>标题</h2>
      ......
      ......
    </div>
*@
<div class="doc-part-box" id="date">
  <h2>date</h2>
  <p>日期时间格式化便利方法</p>
  <p class="article-title">$.datefmt(date, fmtstr)</p>
  <p>格式化时间</p>
  <p><b class="bg-gray">date</b><span class="mg-l-20">Date ,要格式化的Date对象</span></p>
  <p><b class="bg-gray">fmtstr</b><span class="mg-l-20">string ,format string 格式化字符串 (默认:四位年份,24小时制: "yyyy/MM/dd HH:mm:ss")</span></p>
  <p>自定义格式时,年月日时分秒代号必须是: y(年)M(月)d(日)H(时)m(分)s(秒)</p>
  <p><b class="bg-gray">返回</b><span class="mg-l-20">string ,返回格式化时间字符串</span></p>
  <pre class="bg-gray-lt">
    let d = new Date(2000,0,1,1,1,1);
    let dStr = $.datefmt(d);
    console.log(dStr);
    // 2000/01/01 01:01:01

    let fmtstr = 'yyyy年MM月dd日 HH时mm分ss秒';
    dStr = $.datefmt(d, fmtstr);
    console.log(dStr);
    // 2000年01月01日 01时01分01秒

</pre>

  <br />
  <p class="article-title">$.dateByfmt(fmtstr)</p>
  <p>将时间字符串转换为Date对象.</p>
  <p><b class="bg-gray">fmtstr</b><span class="mg-l-20">Date ,时间格式的字符串</span></p>
  <p>支持格式: yyyy/mm/dd yyyy-mm-dd yyyy/mm/dd hh:mm:ss 时分秒可省略自动补0,年月日必须.年份4位月日时分秒支持1位.</p>
  <p><b class="bg-gray">返回</b><span class="mg-l-20">Date|null ,成功时返回Date对象,失败返回null</span></p>
  <pre class="bg-gray-lt">
    let dStr = '2000/1/1';
    let d = $.dateByfmt(dStr, dStr);
    console.log(d.getFullYear());
    // 2000

</pre>
</div>
