@*
  1.模板页名字规定: "页面名字.part.cshtml""
  2.内容容器固定如下:
    <div class="doc-part-box" id="页面名字">
      <h2>标题</h2>
      ......
      ......
    </div>
*@
<div class="doc-part-box" id="jslib">
  <h2>全局对象</h2>
  <p>内部对象jslib,是一个类数组对象.也是模仿jQuery的,里面包含dom引用和操作方法.有length属性,表示回当前选中的dom个数.</p>
  <pre class="bg-gray-lt">

    // 类数组对象,存放选择器选中的dom元素,还有操作方法,模仿jQuery对象
    function jslib(selector){}

    // 工厂函数,实例化这个对象.
    function factory(selector){
        return new jslib(selector);
    }

    // 引用对象 模仿jQuery使用 "$".外部调用这个函数使用jslib对象.
    window.jslib = factory
    if(!window.$)
        window.$ = factory

</pre>
  <p class="article-title">jslib对象实例方法</p>
  <pre class="bg-gray-lt">
    // 向jslib类数组添加元素
    $().push(dom)

    // jslib类数组中是否已有指定元素
    $().contains(dom);

    // 重置jslib类数组内容.如果传入elemlist,则添加到jslib类数组
    // elemlist用于填充的新DOM元素列表,如果其中元素已经在jslib类数组中,则不会重复添加
    $().reset(elemlist)

    // 遍历jslib类数组元素.
    $().each(fn)
</pre>
  <p class="article-title">获取dom对象</p>
  <pre class="bg-gray-lt">
    // 从匹配的dom元素中获取dom对象,使用索引
    // 取出第二个div
    let div = $('div')[1]

</pre>
  <br />
  <p class="article-title">扩展jslib对象实例方法</p>
  <pre class="bg-gray-lt">
    // 为jslib对象添加实例方法 prototype上的方法.
    // json 一个方法名和函数值的json对像.方法名要用""号包起来.
    $.extend(json)

</pre>
  <br />

</div>