@*
  1.模板页名字规定: "页面名字.part.cshtml""
  2.内容容器固定如下:
    <div class="doc-part-box" id="页面名字">
      <h2>标题</h2>
      ......
      ......
    </div>
*@
<div class="doc-part-box" id="string">
  <h2>string</h2>
  <p>字符串相关方法</p>
  <p class="article-title">$.isEmptyOrNull(str)</p>
  <p>字符串是否为空或者null或者全是空白字符.</p>
  <p><b class="bg-gray">str</b><span class="mg-l-20">string ,被检查字符串</span></p>
  <p><b class="bg-gray">返回</b><span class="mg-l-20">boolean ,true / false</span></p>
  <br />

  <p class="article-title">$.isNullOrWhiteSpace(str)</p>
  <p>字符串是否为空或者null或者全是空白字符.</p>
  <p><b class="bg-gray">str</b><span class="mg-l-20">string ,被检查字符串</span></p>
  <p><b class="bg-gray">返回</b><span class="mg-l-20">boolean ,true / false</span></p>
  <br />

  <p class="article-title">$.format(str, ...repstrs)</p>
  <p>格式化字符串,将字符串中的占位符替换为给定字符串{d},返回替换后字符串.例:("my name is {0} from {1}",mirror,china)</p>
  <p><b class="bg-gray">str</b><span class="mg-l-20">string ,要格式化的字符串,包含占位符{d}</span></p>
  <p><b class="bg-gray">...any</b><span class="mg-l-20">repstrs ,替换占位符的字符串数组</span></p>
  <p><b class="bg-gray">返回</b><span class="mg-l-20">string ,返回替换后字符串</span></p>
  <pre class="bg-gray-lt">
    let str = 'my name is {0} from {1}';
    let nstr=$.format(str,'mirror','china');
    console.log(nstr);
    // my name is mirror from china

</pre>
  <br />

  <p class="article-title">$.dataBind(str, json)</p>
  <p>格式化字符串,根据占位符${key},到json中找到json.key,然后替换掉${key}</p>
  <p>没找到的'${key}'时, ${key}替换为''(空值)</p>
  <p><b class="bg-gray">str</b><span class="mg-l-20">string ,要格式化的字符串,包含占位符${key}</span></p>
  <p><b class="bg-gray">json</b><span class="mg-l-20">any ,json对象,键为key</span></p>
  <p><b class="bg-gray">返回</b><span class="mg-l-20">string ,返回替换后字符串</span></p>
  <pre class="bg-gray-lt">
    let json={name:'mirror',from:'china'};
    let str='my name is ${name} from ${from}';
    let nstr=$.dataBind(str,json);
    console.log(nstr);
    // my name is mirror from china

</pre>
  <br />

  <p class="article-title">$.trim(str)</p>
  <p>去除字符串前后的空白字符</p>
  <p><b class="bg-gray">str</b><span class="mg-l-20">string ,字符串</span></p>
  <p><b class="bg-gray">返回</b><span class="mg-l-20">string ,返回新字符串</span></p>
</div>