// 直角箭头

.ico-anglearr
    position: relative

    &:before
        position: absolute
        margin: auto
        top: 0
        left: 0
        right: 0
        bottom: 0
        width: calc(0.7 * 1em)
        height: calc(0.7 * 1em)
        border: .07em solid currentColor
        border-right: none
        border-bottom: none

    &.down:before
        transform: rotate(-135deg)
        // L/4 + L/2 - L/2 * sin45,下同
        bottom: calc(1em * 0.396)

    &.up:before
        transform: rotate(45deg)
        top: calc(1em * 0.396)

    &.left:before
        transform: rotate(-45deg)
        left: calc(1em * 0.396)

    &.right:before
        transform: rotate(135deg)
        right: calc(1em * 0.396)
