// bookmark书签

.ico-bookmark
    display: inline-flex
    flex-direction: column
    justify-content: center
    align-items: center
    
    &:before
        width: .5em
        height: .4em
        background-color: currentColor

    &:after
        border-style: solid
        border-width: 0 .25em .4em
        border-color: transparent currentColor