// 统计图表图标

.ico-chart
    position: relative
    border: .02em solid currentColor
    border-top: none
    border-right: none
    overflow: hidden

    &:before,&:after
        position: absolute
        left: 0
        right: 0
        margin: auto

    &:before
        bottom: 0
        width: .1em
        height: .6em
        border: 1px solid currentColor
        box-shadow: -.32em .4em,-.16em .2em,.16em .1em,.32em .3em
 
    &:after
        top: .3em
        width: .8em
        height: 1px
        background-color: currentColor
        transform: rotate(-30deg)