// 下载

.ico-download
    position: relative
    border-bottom: .04em solid

    &:before,&:after
        position: absolute
        left: 50%
        transform: translateX(-50%)

    &:before
        top: .2em
        width: .2em
        height: .4em
        background-color: currentColor
 
    &:after
        top: .6em
        width: .5em
        border-style: solid
        border-width: .3em .25em 0
        border-color: currentColor transparent transparent
        border-bottom: none