// 旗帜

.ico-flag
    position: relative
    
    &:before,&:after
        position: absolute

    &:before
        left: .15em
        top: .1em
        width: .08em
        height: .9em
        background-color: currentColor
        border-radius: .04em .04em 0 0/.04em .04em 0 0

    &:after
        left: .2em
        top: .2em
        width: .4em
        height: .4em
        border-radius: 0 .05em
        background-color: currentColor
        box-shadow: .24em .12em
        transform: rotate(5deg)