// 字体图标

.ico-font
    position: relative

    &:before
        content: 'A'
        position: absolute
        left: 50%
        top: 50%
        font-family: serif
        font-style: normal
        font-size: 1em
        transform: translate(-50%,-50%)