// 语种,网络

.ico-lang
    position: relative
    border: .04em solid currentColor
    border-radius: 50%

    &:before, &:after
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: auto
        border: .04em solid currentColor
         
    &:before
        height: .4em
        width: .916em
        border-color: currentColor transparent
    &:after
        height: 1em
        width: .5em
        border-radius: 50%