// 锁

.ico-lock
    display: inline-flex
    flex-direction: column
    justify-content: center
    align-items: center

    &:before
        width: .6em
        height: .4em
        border-radius: 50% 50% 0 0/50% 50% 0 0
        border: .1em solid currentColor
        border-bottom:none
 
    &:after
        width: .8em
        height: .4em
        background-image: radial-gradient(circle,transparent .06em,currentColor .06em)