// 菜单,3横杠图标

.ico-menu
    display: inline-flex
    justify-content:center
    align-items:center
    width: 1em
    height: 1em

    &:before
        content: ''
        display: inline-block
        width: 1em
        height: .16em
        box-shadow: inset .16em .16em,0 .32em,0 -.32em
    