// 菜单,3横杠图标

.ico-menu
    display: inline-flex
    justify-content:center
    align-items:center

    &:before
        width: 1em
        height: .16em
        box-shadow: inset .16em .16em,0 .32em,0 -.32em
    // 3个点菜单,就是改width就可
    &.dot:before
        width: .16em