// pc 电脑

.ico-pc
    display: inline-flex
    flex-direction: column
    justify-content: center
    align-items: center
    
    &:before
        width: .7em
        height: calc(.7em * 3 / 4)
        border: .06em solid currentColor

    &:after
        width: .6em
        height: .2em
        border-style: solid
        border-width: 0 .1em .15em
        border-color: currentColor transparent