// phone 手机

.ico-phone
    position: relative
    
    &:before, &:after
        position: absolute
        left: 0
        right: 0
        margin: auto

    &:before
        top: 0
        bottom: 0
        width: calc(.8em * .618)
        height: .8em
        border: .02em solid currentColor
        border-radius: .03em
        box-shadow: 0 .04em,inset 0 .01em

    &:after
        bottom: .15em
        width: .06em
        height: .06em
        border: .01em solid currentColor
        border-radius: .02em
        box-shadow: .12em -.24em,0 -.24em,-.12em -.24em,.12em -.36em,0 -.36em,-.12em -.36em,.12em -.48em,0 -.48em,-.12em -.48em
   