// 加号

.ico-plus
    position: relative
    
    &:before, &:after
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 0
        margin: auto
        background-color: currentColor

    &:before
        width: 1em
        height: 4px

    &:after
        width: 4px
        height: 1em
    