// 五角星 star5

.ico-star5
    position: relative
    margin-top:calc(0.726 * calc(0.951 * .53em))
    margin-bottom:calc(2 * .53em * 0.951 * calc(0.951 - 0.726))

    &, &:before, &:after
        width: 0
        height: 0
        border-width: calc(0.726 * calc(0.951 * .53em)) calc(0.951 * .53em)
        border-style: solid
        border-color: transparent
        border-bottom: 0
        border-top-color: currentColor
        transform-origin: calc(0.951 * .53em) calc(0.31 * .53em)

    &:before, &:after
        position: absolute
        top: calc(-0.726 * calc(0.951 * .53em))
        left: calc(-0.951 * .53em)
    &:before
        transform: rotate(72deg)
    &:after
        transform: rotate(144deg)