// 三角形箭头

.ico-triarr
    width: 0
    height: 0
    border: .5em solid transparent


    &.down
        border-top: .866em solid
        border-bottom: none
        margin: .067em 0


    &.up
        border-bottom: .866em solid
        border-top: none
        margin: .067em 0

    &.left
        border-right: .866em solid
        border-left: none
        margin: 0 .067em


    &.right
        border-left: .866em solid
        border-right: none
        margin: 0 .067em
