// 用户

.ico-user
    display: inline-flex
    flex-direction: column
    justify-content: space-evenly
    align-items: center
    
    &:before, &:after
        background-color: currentColor

    &:before
        width: .4em
        height: .4em
        border-radius: 50%

    &:after
        width: .8em
        height: .4em
        border-radius: 50% 50% 0 0/70% 70% 0 0