// =====================================================
// 颜色值采取的是tailwind css的色卡,除了黑白,灰,还有11个彩色.
// https://tailwindcss.com/docs/customizing-colors
// =====================================================

// 黑白,各附带一个相近色,以替代纯色.颜色来自tailwindcss的 Neutral-100,Neutral-900
$black={'0':#000,'1':#171717}
$white={'0':#fff,'1':#f5f5f5}

// 灰
// gray
$gray={
    '1': #f3f4f6,
    '2': #e5e7eb,
    '3': #d1d5db,
    '4': #9ca3af,
    '5': #6b7280,
    '6': #4b5563,
    '7': #374151,
    '8': #1f2937,
    '9': #111827
}

// 11种彩色,选择了100-900梯度,数值越大,颜色越深.
// red orange yellow green lime teal sky blue purple pink rose
$red={
    '1': #fee2e2,
    '2': #fecaca,
    '3': #fca5a5,
    '4': #f87171,
    '5': #ef4444,
    '6': #dc2626,
    '7': #b91c1c,
    '8': #991b1b,
    '9': #7f1d1d
}
$orange={
    '1': #ffedd5,
    '2': #fed7aa,
    '3': #fdba74,
    '4': #fb923c,
    '5': #f97316,
    '6': #ea580c,
    '7': #c2410c,
    '8': #9a3412,
    '9': #7c2d12
}
$yellow={
    '1': #fef9c3,
    '2': #fef08a,
    '3': #fde047,
    '4': #facc15,
    '5': #eab308,
    '6': #ca8a04,
    '7': #a16207,
    '8': #854d0e,
    '9': #713f12
}
$green={
    '1': #dcfce7,
    '2': #bbf7d0,
    '3': #86efac,
    '4': #4ade80,
    '5': #22c55e,
    '6': #16a34a,
    '7': #15803d,
    '8': #166534,
    '9': #14532d
}
$lime={
    '1': #ecfccb,
    '2': #d9f99d,
    '3': #bef264,
    '4': #a3e635,
    '5': #84cc16,
    '6': #65a30d,
    '7': #4d7c0f,
    '8': #3f6212,
    '9': #365314
}
$teal={
    '1':#ccfbf1,
    '2':#99f6e4,
    '3':#5eead4,
    '4':#2dd4bf,
    '5':#14b8a6,
    '6':#0d9488,
    '7':#0f766e,
    '8':#115e59,
    '9':#134e4a
}
$sky={
    '1': #e0f2fe,
    '2': #bae6fd,
    '3': #7dd3fc,
    '4': #38bdf8,
    '5': #0ea5e9,
    '6': #0284c7,
    '7': #0369a1,
    '8': #075985,
    '9': #0c4a6e
}
$blue={
    '1': #dbeafe,
    '2': #bfdbfe,
    '3': #93c5fd,
    '4': #60a5fa,
    '5': #3b82f6,
    '6': #2563eb,
    '7': #1d4ed8,
    '8': #1e40af,
    '9': #1e3a8a
}
$purple={
    '1': #f3e8ff,
    '2': #e9d5ff,
    '3': #d8b4fe,
    '4': #c084fc,
    '5': #a855f7,
    '6': #9333ea,
    '7': #7e22ce,
    '8': #6b21a8,
    '9': #581c87
}
$pink={
    '1': #fce7f3,
    '2': #fbcfe8,
    '3': #f9a8d4,
    '4': #f472b6,
    '5': #ec4899,
    '6': #db2777,
    '7': #be185d,
    '8': #9d174d,
    '9': #831843
}
$rose={
    '1': #ffe4e6,
    '2': #fecdd3,
    '3': #fda4af,
    '4': #fb7185,
    '5': #f43f5e,
    '6': #e11d48,
    '7': #be123c,
    '8': #9f1239,
    '9': #881337
}

// 黑白灰颜色字典
$blackwhitegray-dict={
    black:$black,
    white:$white,
    gray:$gray
}
// 彩色字典(全部)
$colors-dict={
    red:$red,
    orange:$orange,
    yellow:$yellow,
    green:$green,
    lime:$lime,
    teal:$teal,
    sky:$sky,
    blue:$blue,
    purple:$purple,
    pink:$pink,
    rose:$rose
}