// ==========================================================
// sytlus颜色变量定义,5种主题颜色和灰色每种3个,加上黑白一共20个变量
// lt表示减淡色,dk表示加深色
// ==========================================================

// 1.黑白灰
$black = #000
// 字体颜色,body
$black-lt = lighten($black,20%)
// 透明背景用于鼠标hover
$black-opa50 = #00000050
// 背景色,body
$white = #fff
// 默认色
$gray = #dee2e6
$gray-lt = lighten($gray, 45%)
$gray-dk = darken($gray, 15%)

// 2.主题色
$primary = #38bdf8
$primary-lt = lighten($primary, 45%)
$primary-dk = darken($primary, 15%)

// 3.成功
$success = #28a745
$success-lt = lighten($success, 45%)
$success-dk = darken($success, 15%)

// 4.警示
$warning = #ffc107
$warning-lt = lighten($warning, 45%)
$warning-dk = darken($warning, 15%)

// 5.提示
$info = #17a2b8
$info-lt = lighten($info, 45%)
$info-dk = darken($info, 15%)

// 6.失败
$danger = #dc3545
$danger-lt = lighten($danger, 45%)
$danger-dk = darken($danger, 15%)

// ============================================================================
// 颜色变量对应一个css变量,如 "$black" "--color-balck" 命名规则 "$" 换成 "--color-" 
// 组件样式颜色使用了css变量,为了省去写css变量的 var() 函数的麻烦,这里设置成变量方便使用
// 命名规则 "var(--color-balck)" 对应 "var-black"
// ============================================================================

// 1.黑白灰
var-black = var(--color-black)
// 字体颜色,body
var-black-lt = var(--color-black-lt)
var-font-color = var(--font-color)
// 透明背景用于鼠标hover
var-black-opa50 = var(--color-black-opa50)
// 背景色,body
var-white = var(--color-white)
// 默认色
var-gray = var(--color-gray)
var-gray-lt = var(--color-gray-lt)
var-gray-dk = var(--color-gray-dk)

// 2.主题色
var-primary = var(--color-primary)
var-primary-lt = var(--color-primary-lt)
var-primary-dk = var(--color-primary-dk)

// 3.成功
var-success = var(--color-success)
var-success-lt = var(--color-success-lt)
var-success-dk = var(--color-success-dk)

// 4.警示
var-warning = var(--color-warning)
var-warning-lt = var(--color-warning-lt)
var-warning-dk = var(--color-warning-dk)

// 5.提示
var-info = var(--color-info)
var-info-lt = var(--color-info-lt)
var-info-dk = var(--color-info-dk)

// 6.失败
var-danger = var(--color-danger)
var-danger-lt = var(--color-danger-lt)
var-danger-dk = var(--color-danger-dk)

// 主题颜色css变量KV对-用于for循环,key是主题class名,
// val值是一个数组,0位是主题色css变量,1位是颜色加深的css变量,2位是减淡色
$themeColorsKV = {
    primary: (var-primary var-primary-dk var-primary-lt),
    danger: (var-danger var-danger-dk var-danger-lt),
    success: (var-success var-success-dk var-success-lt),
    info: (var-info var-info-dk var-info-lt),
    warning: (var-warning var-warning-dk var-warning-lt)
}