// 字体大小,继承body
// 最小字体12px,默认14px
$font-size-sm = 12px
$font-size-base = 14px
$font-size-md = 16px
$font-size-lg = 20px
$font-size-xl = 24px
$font-size-2xl = 30px
$font-size-3xl = 36px
$font-size-4xl = 48px
$font-size-5xl = 60px
$font-size-6xl = 84px

// 字体大小字典
$fontSize-dict = {
    sm:$font-size-sm
    base: $font-size-base
    md: $font-size-md
    lg: $font-size-lg
    xl: $font-size-xl
    '2xl': $font-size-2xl
    '3xl': $font-size-3xl
    '4xl': $font-size-4xl
    '5xl': $font-size-5xl
    '6xl': $font-size-6xl
}