// 字体基准大小,10px便于使用rem单位计算,在html元素设置
$font-size-root = 10px

// 字体大小字典
$fontSize-dict = {
    sm:1.2rem
    base: 1.4rem
    md: 1.6rem
    lg: 2rem
    xl: 2.4rem
    '2xl': 3rem
    '3xl': 3.6rem
    '4xl': 4.5rem
    '5xl': 5.6rem
}