// 所有组件样式类名,在此统一定义
// btn
$selector-btn='.btn'

// cachepage
$selector-tabsbox='.tabsbox'

// datepick
$selector-date='.date'

// docmenu
$selector-docmenu='.docmenu'

// list
$selector-list='.list'

// menubar
$selector-menubar='.menubar'

// mnavmenu
$selector-mnavmenu='.mnavmenu'

// msgbox
$selector-msgbox='.msgbox'

// msgshow
$selector-msgshow='.msgshow'

// onoff
$selector-switch='.switch'

// pagenum
$selector-pagenum='.pagenum'

// range
$selector-range='.range'

// sidemenu
$selector-sidemenu='.sidemenu'

// table
$selector-table='.table'

// tabs
$selector-tabs='.tabs'