<div class="doc-part-box" id="article">
  <h2>段落标题</h2>
  <p class="lead">分隔文章段落</p>
  <p class="article-title">默认标题</p>
  <pre class="code">&lt;p class="article-title"&gt;默认标题&lt;/p&gt;</pre>
  <p class="article-title gray">灰色</p>
  <pre class="code">&lt;p class="article-title gray"&gt;灰色&lt;/p&gt;</pre>
  <p class="article-title green">绿色</p>
  <pre class="code">&lt;p class="article-title green"&gt;绿色&lt;/p&gt;</pre>
  <p class="article-title red">红色</p>
  <pre class="code">&lt;p class="article-title red"&gt;红色&lt;/p&gt;</pre>
  <p class="article-title sm">sm小号</p>
  <pre class="code">&lt;p class="article-title sm"&gt;sm小号&lt;/p&gt;</pre>
  <p class="article-title lg">lg大号</p>
  <pre class="code">&lt;p class="article-title lg"&gt;lg大号&lt;/p&gt;</pre>
  <p class="article-title xl">xl超大</p>
  <pre class="code">&lt;p class="article-title xl"&gt;xl超大&lt;/p&gt;</pre>
  <p class="article-title border">带边框</p>
  <pre class="code">&lt;p class="article-title border"&gt;带边框&lt;/p&gt;</pre>
</div>