<div class="doc-part-box" id="article">
  <h2>段落标题</h2>
  <div class="grids-4">
    <div><p class="article-title">默认标题</p></div>
    <div><p class="article-title primary">primary</p></div>
    <div><p class="article-title danger">danger</p></div>
    <div><p class="article-title success">success</p></div>
  </div>
  <div class="grids-3">
    <div><p class="article-title sm">sm小号</p></div>
    <div><p class="article-title lg">lg大</p></div>
    <div"><p class="article-title xl">xl最大</p>
  </div>
  <pre class="code">&lt;p class="article-title"&gt;默认标题&lt;/p&gt;</pre>
</div>
