<div class="doc-part-box" id="btn">
  <h2>按钮</h2>
  <p>标记使用a span button,添加.btn样式.有几种颜色.</p>
  <div class="grids-5">
    <div><a class="btn">class="btn"</a></div>
    <div><a class="btn primary">class="btn primary"</a></div>
    <div><a class="btn danger">class="btn danger"</a></div>
    <div><a class="btn success">class="btn success"</a></div>
    <div><a class="btn link">链接class="btn link"</a></div>
  </div>
  <br />
  <div class="grids-3">
    <div><button class="btn disabled">禁用class="btn disabled"</button></div>
    <div><button class="btn loading">等待中class="btn loading"</button></div>
    <div><a class="btn cir">圆角class="btn cir"</a></div>
  </div>
  <br />
  <div class="grids-3">
    <div><a class="btn sm">sm尺寸</a></div>
    <div><a class="btn lg">lg尺寸</a></div>
    <div><a class="btn xl">xl尺寸</a></div>
  </div>
  <a class="btn block">块级按钮</a>
  <pre class="code">
&lt;a class="btn"&gt;默认&lt;/a&gt;
&lt;button class="btn <b>loading</b>"&gt;等待中&lt;/button&gt;
&lt;button class="btn <b>disabled</b>"&gt;禁用&lt;/button&gt;
&lt;a class="btn <b>cir</b>"&gt;圆角&lt;/a&gt;
&lt;a class="btn <b>link</b>"&gt;链接&lt;/a&gt;
&lt;a class="btn <b>lg</b>"&gt;lg尺寸&lt;/a&gt;
&lt;a class="btn <b>success</b>"&gt;绿色&lt;/a&gt;
&lt;a class="btn <b>block</b> blue-b cir lg"&gt;块级按钮&lt;/a&gt;
</pre>
</div>