<div class="doc-part-box" id="design_form">
  <h3>表单设计</h3>
  <p>表单一直是重点,应用系统中更是如此.表单填写是工作人员最不喜欢的工作之一,因为很没意思.看到一大堆要填写还可能填错的东西,马上失去耐心.</p>
  <p>在设计上减少工作人员的反感程度,可以从表单外观样式,填写方便程度这两点来改进.</p>
  <p class="article-title">纸质风格</p>
  <p>不同行业不同业务场景的表单不会完全一样,在样式上应该都尽量简洁明了.可以参考传统纸质风格的表单样子</p>
  <p>传统纸质风格的单子,就是一个表格,里面有各种要填写的信息和标题.依照这种风格实现电子版本的话,工作人员</p>
  <p>看起来就很熟悉,在计算机上操作填写时,感觉如同拿笔填写一样.不用改习惯,学习使用成本非常低.</p>
  <p class="article-title">编辑与查看</p>
  <p>上面是新建表单时的情景,如果需要查看与修改表单,有的解决办法是做两个页面,一个查看,一个修改.这样做其实</p>
  <p>多做了查看页面,因为编辑页面也有查看的功能.不仅多一个页面,还多一按钮.与简洁必须原则不相符合.</p>
  <p>在查看页面点击编辑,就可以修改,这样查看页面变成了编辑页面.这种就好多了.</p>
  <p class="article-title">分段修改</p>
  <p>一般在编辑表单时,只会编辑表单的某一项或者几项,并不会全部修改.而在保存时,却不会加以区别.总是保存</p>
  <p>这个表单的所有字段,不管它有没修改过.这也是一个不好的地方.应该做到修改哪个保存哪个,如果修改的这个</p>
  <p>字段也会引起其它字段的变化,那么其它字段也应做为修改字段,只不过它是自动修改的.</p>
  <p>如何做到保存修改项,有的网站设计的是将表单的项分成小组,每个小组有一个编辑保存按钮.这样每次修改的就只</p>
  <p>限于这个小组的几个字段,而不是整个表单.这种做法显然好多了.</p>
</div>