<div class="doc-part-box" id="typography">
  <h2>标题段落</h2>
  <p>对h1~h6和p标签的样式</p>
  <p class="article-title">h1-h6</p>
  <h1>h1 标题 X2.5</h1>
  <h2>h2 标题 X2.2</h2>
  <h3>h3 标题 X1.8</h3>
  <h4>h4 标题 X1.3</h4>
  <h5>h5 标题 基准字体大小,14px</h5>
  <h6>h6 标题 12px</h6>

  <p class="article-title">p</p>
  <p>简单的设置了下边margin-bottom 14px</p>
  @for (int i = 0; i < 6; i++)
  {
  <p>第 @i 段,.....</p>
  }
</div>