<div class="doc-part-box" id="imagedemo">
  <h2>图片</h2>
  <p>自动适应父容器大小 class="img-autosize" 圆角class="img-rounded" 圆形class="img-circle"</p>
  <div class="grids">
    <div class="grid"><img class="img-autosize" style="border:1px solid var(--font-color)" src="img/imgdemo.gif"/></div>
    <div class="grid"><img class="img-rounded" style="border:1px solid var(--font-color)" src="img/imgdemo.gif" /></div>
    <div class="grid"><img class="img-circle" style="border:1px solid var(--font-color)" src="img/imgdemo.gif" /></div>
  </div>
</div>