<div class="doc-part-box" id="label">
  <h2>标签</h2>
  <span class="label">默认class="label"</span>
  <span class="label sm">class="label sm"</span>
  <span class="label lg">大字体lg</span>
  <span class="label xl">最大字体xl</span>
  <br />
  <span class="label primary">class="label primary"</span>
  <span class="label success">success</span>
  <span class="label danger">danger</span>
</div>