<div class="doc-part-box" id="list">
  <h2>列表</h2>
  <p class="article-title">使用ul ol li</p>
  <p>去掉了ul,ol默认的list-style,自定义了条目li的padding,底边框.</p>
  <pre>
&lt;ul class="list"&gt;
&lt;ol class="list"&gt;
</pre>
  <ul class="list">
    <li>1.政在正身,在爱人,去残贼,择良吏,正决狱,平舶赋</li>
    <li>2.人生在勤,勤则不匮,其劝率田桑,无或烦扰</li>
    <li>3.六极之人,务加宽养,必使生有以自救,没有以自给</li>
    <li>4.长吏华浮,奉客以求小誉,逐末舍本,政之所话,宜谨察之</li>
    <li>5.人事意气,干乱奉公,外内溷淆,纲纪不设,所宜纠劾</li>
  </ul>
  <p class="article-title">条目下划线</p>
  <pre>
&lt;ul class="list uline"&gt;
</pre>
  <ol class="list uline">
    <li>白日依山尽, // 夕阳依傍着西山慢慢地沉没</li>
    <li>黄河入海流. // 滔滔黄河朝着东海汹涌奔流</li>
    <li>欲穷千里目, // 若想把千里的风光景物看够</li>
    <li>更上一层楼. // 那就要登上更高的一层城楼</li>
  </ol>

  <p class="article-title">方块,圆,主题色</p>
  <div class="grids">
    <ol class="list square grid">
      <li>尊前拟把归期说,欲语春容先惨咽</li>
      <li>人生自是有情痴,此恨不关风与月</li>
      <li>离歌且莫翻新阕,一曲能教肠寸结</li>
      <li>直须看尽洛城花,始共春风容易别</li>
    </ol>
    <ol class="list cir primary grid">
      <li>两个黄鹂鸣翠柳, // 两只黄鹂在翠绿的柳树间婉转地歌唱</li>
      <li>一行白鹭上青天. // 一队整齐的白鹭直冲向蔚蓝的天空</li>
      <li>窗含西岭千秋雪, // 窗前可以望见西岭上堆积着终年不化的积雪</li>
      <li>门泊东吴万里船. // 门前停泊着自万里外的东吴远行而来的船只</li>
    </ol>
  </div>
  <pre>
// 方块
&lt;ul class="list square"&gt;
// 圆
&lt;ul class="list cir"&gt;
// 主题色
&lt;ul class="list square primary"&gt;
</pre>
</div>