// align 对齐规则

// 文本对齐
.a-center
    @extend $ext-text-align-center
.a-left
    @extend $ext-text-align-left
.a-right
    @extend $ext-text-align-right
.a-v-middle
    @extend $ext-valign-middle 

// flex,grid布局时对齐和排布 用于容器,h表示主轴,v表示交叉轴
.a-h-start
    @extend $ext-justify-start
.a-h-center
    @extend $ext-justify-center
.a-h-end
    @extend $ext-justify-end
.a-h-between
    @extend $ext-justify-sb
.a-h-around
    @extend $ext-justify-sa
.a-h-evenly
    @extend $ext-justify-se
.a-v-start
    @extend $ext-align-start
.a-v-center
    @extend $ext-align-center
.a-v-end
    @extend $ext-align-end
// flex,grid布局时对齐 用于单个子元素
.a-h-s-start
    @extend $ext-justify-self-start
.a-h-s-center
    @extend $ext-justify-self-center
.a-h-s-end
    @extend $ext-justify-self-end
.a-v-s-start
    @extend $ext-align-self-start
.a-v-s-center
    @extend $ext-align-self-center
.a-v-s-end
    @extend $ext-align-self-end