// overflow

.over-x-auto
    @extend $ext-overflow-x-auto
.over-x-hidden
    @extend $ext-overflow-x-hidden
.over-y-auto
    @extend $ext-overflow-y-auto
.over-y-hidden
    @extend $ext-overflow-y-hidden
.over-auto
    @extend $ext-overflow-auto
.over-hidden
    @extend $ext-overflow-hidden