// 文章标题
.article-title
    border-left: 5px solid
    font-weight: 600
    padding: 0.3em 0 0.3em 1em
    margin: 1em auto
    border-left-color: var-grayse
// 颜色
for key, val in $themeColorsKV
    .article-title.{key}
        border-left-color: val[0]
// 字体大小
for key, val in $fontSizeKV
    .article-title.{key}
        font-size: val