// 文章标题
.article-title
    border: 6px solid transparent
    font-weight: 600
    padding: 0.3em 0 0.3em 1em
    margin: 1.2em auto
    border-left-color: var-gray-dk
// 颜色
for key, val in $themeColorsKV
    .article-title.{key}
        border-left-color: val[0]