// 默认按钮
.btn
    display: inline-block
    padding: 0.4em 0.7em
    font-size: var-font-size
    font-weight: 400
    color: var-font-color
    text-align: center
    text-decoration: none
    background-color: var-white
    border: 1px solid var-gray
    cursor: pointer
    outline: none
    user-select: none
    transition: background-color $duration
// 点击时阴影
.btn:active
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
// hover时,背景色加深
.btn:hover
    background-color: var-gray
// 禁用(样式来自bt)
.btn.disabled
    cursor: not-allowed
    -webkit-box-shadow: none
    box-shadow: none
    opacity: 0.65
// 圆角
.btn.cir
    border-radius: 4px
// 块极按钮
.btn.block
    display: block
// 按钮等待动画
.btn.loading::after
    content: ''
    display: inline-block
    width: 1em
    height: 1em
    border: 4px dotted
    border-radius: 50%
    border-top: none
    border-bottom: none
    margin-left: 0.5em
    vertical-align: middle
    animation: btnloading 1.5s linear infinite
    cursor: wait
@keyframes btnloading
    100%
        transform: rotate(360deg)
// 主题色按钮:背景颜色为主题色,边框为主题色加深,字为白色 特别注意{插值}不能用于属性的值
for key, val in $themeColorsKV
    .btn.{key}
        color: var-white
        background-color: val[0]
        border-color: val[1]
    .btn.{key}:hover
	    background-color: val[1]
// 灰色的
.btn.gray
    background-color: var-gray
    border-color: var-grayse
.btn.gray:hover
    background-color: var-grayse
// 大小 默认是14px
for key, val in $fontSizeKV
    .btn.{key}
        font-size: val
// 链接式按钮
.btn.link
    color: var-font-color
    border-color: transparent
    background-color: transparent
    // 链接式按钮hover
    &:hover
        color: var-danger
        text-decoration: underline
        background-color: transparent
        border-color: transparent
    // 点击时
    &:active
        text-decoration: underline
        box-shadow: none
// 链接式按钮颜色主题是文字颜色
for key, val in $themeColorsKV
    .btn.link.{key}
        color: val[0]
// /////////////////////////////////////////////////////////////////////////////////////
// 按钮组
.btn-group
    display: inline-flex
    & > .btn
        flex: auto
    // 按钮组首尾加圆角
    &.cir > .btn:first-child
        border-radius: 4px 0 0 4px
    &.cir > .btn:last-child
        border-radius: 0 4px 4px 0
// 下拉式按钮组
.btn-list
    // 外框
    &-group
        position: relative
    // 鼠标hover时,显示下拉按钮组
    &-group:hover &-area
        display: block
    // 第1个按钮是标题
    &-group > .btn:after
        content: ''
        triangle(0.4em, bottom, var-font-color)
        vertical-align: middle
        margin-left: 4px
    // 下拉按钮组框
    &-area
        display: none
        position: absolute
        left: 0
        right: 0
    // 让按钮占满下拉框
    &-area .btn
        display: block