// 默认按钮 flex布局为了加图标
.btn
    display: inline-flex
    justify-content: center
    align-items: center
    padding: 6px 8px
    font-weight: 400
    font-size: inherit
    color: var-font-color
    text-decoration: none
    background-color: var-white
    border: 1px solid var-gray
    cursor: pointer
    outline: none
    user-select: none
    transition: background-color $duration
// 块级
.btn.d-block
    display:flex !important
// 点击时阴影
.btn:active
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125)
// hover时,背景色加深
.btn:hover
    background-color: var-gray-lt
// 禁用(样式来自bt)
.btn.disabled
    cursor: not-allowed
    -webkit-box-shadow: none
    box-shadow: none
    opacity: 0.65
// 圆角
.btn.cir
    border-radius: $cir-angle
// 按钮等待动画
.btn.loading::after
    content: ''
    display: inline-block
    width: 1em
    height: 1em
    border: 4px dotted
    border-radius: 50%
    border-top: none
    border-bottom: none
    margin-left: .8em
    animation: btnloading 1.5s linear infinite
@keyframes btnloading
    100%
        transform: rotate(360deg)
.btn.loading
    cursor: wait
// 主题色按钮:背景颜色为主题色,边框为主题色加深,字为白色 特别注意{插值}不能用于属性的值
for key, val in $themeColorsKV
    .btn.{key}
        color: var-white
        background-color: val[0]
        border-color: val[1]
    .btn.{key}:hover
	    background-color: val[1]
// 链接式按钮
.btn.link
    color: var-font-color
    border-color: transparent
    background-color: transparent
    // 链接式按钮hover
    &:hover
        text-decoration: underline
    // 点击时
    &:active
        box-shadow: none
// 链接式按钮主题色,显示为hover变色
for key, val in $themeColorsKV
    .btn.link.{key}:hover
        color: val[0]
        background-color: transparent
// ===============
// 按钮组
// ===============
.btn-group
    display: inline-flex
    // 按钮去掉右边框,除了末尾的那么
    & > .btn
        flex: auto
        border-right: none
    & > .btn:last-child
        border-right: 1px solid var-gray
    // 按钮组首尾加圆角,
    &.cir > .btn:first-child
        border-radius: $cir-angle 0 0 $cir-angle
    &.cir > .btn:last-child
        border-radius: 0 $cir-angle $cir-angle 0
// 下拉式按钮组
.btn-list
    // 外框
    &-group
        position: relative
    // 第1个按钮是标题,加一个三角形
    &-group > .btn:after
        content: ''
        triangle(0.4em, bottom, var-font-color)
        vertical-align: middle
        margin-left: 0.4em
    // 下拉按钮组框
    &-area
        display: none
        position: absolute
        left: 0
        right: 0
    // 让按钮占满下拉框
    &-area .btn
        display: block
    // 鼠标hover时,显示下拉按钮组
    &-group:hover &-area
        display: block