// 按钮

// 主题色变量
.btn
    --t-btn-color: inherit// 按钮文字色
    --t-btn-color-hover: inherit// hover按钮文字色
    --t-btn-bg-hover:$gray['1']// hover背景颜色
    --t-btn-bg-color: inherit// 按钮背景色
    --t-btn-bd-color:$border-color// 边框色

// 默认按钮 flex布局,为了加图标对齐方便
.btn
    @extend $ext-inline-flex-vh-center
    padding: 4px 8px
    font-weight: 400
    text-decoration: none
    color:var(--t-btn-color)
    background-color: var(--t-btn-bg-color)
    @extend $ext-border-1px
    border-color:var(--t-btn-bd-color)
    @extend $ext-cursor-pointer
    @extend $ext-border-cir-default
    outline: none
    @extend $ext-user-select-none
    transition: background-color $duration
// 块级
.btn.d-block
    @extend $ext-display-flex
// 点击时阴影
.btn:active
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.125)
// hover时,背景色加深
.btn:hover
    background-color: var(--t-btn-bg-hover)
    color:var(--t-btn-color-hover)
// 禁用(样式来自bt)
.btn.disabled
    @extend $ext-disabled
// 圆角
.btn.cir
    border-radius:1em
// 按钮等待动画
.btn.loading::after
    @extend $ext-content-empty
    @extend $ext-display-inline-block
    width: 1em
    height: 1em
    border: 4px dotted
    @extend $ext-border-circle
    border-top: none
    border-bottom: none
    margin-left: .8em
    animation: btnloading 1.5s linear infinite
@keyframes btnloading
    100%
        transform: rotate(360deg)
.btn.loading
    cursor: wait

// 链接式按钮
.btn.link
    border-color: transparent
    background-color: transparent
    // 链接式按钮hover
    &:hover
        text-decoration: underline
    // 点击时
    &:active
        box-shadow: none

// ===============
// 按钮组
// ===============
.btn-group
    @extend $ext-display-inline-flex
    @extend $ext-border-1px
    @extend $ext-border-cir-default
    // 按钮去掉右边框,除了末尾的
    & > .btn
        flex: auto
        border-color: transparent
        border-radius:0
        border-right-color:$border-color
    & > .btn:last-child
        border-right-color: transparent
    // 按钮组首尾加圆角,
    & > .btn:first-child
        border-radius: $cir-angle 0 0 $cir-angle
    & > .btn:last-child
        border-radius: 0 $cir-angle $cir-angle 0
// 下拉式按钮组
.btn-list
    // 外框
    &-group
        @extend $ext-position-relative
    // 第1个按钮是标题,加一个三角形
    &-group > .btn:after
        @extend $ext-content-empty
        triangle(0.4em, bottom, $gray['4'])
        margin-left: 6px
    // 下拉按钮组框
    &-area
        @extend $ext-display-none
        @extend $ext-position-absolute
        @extend $ext-border-1px
        @extend $ext-border-cir-default
        @extend $ext-width-100
        background-color:var(--back-color)
        flex-direction: column
        // 字体大小和字体高度不同,和字体设计有关,一般高度值比大小值大
        top: calc(1.2em + 10px)
        left: 0
    // 去掉边框
    &-area .btn
        border-color: transparent
        border-radius:0
        border-bottom-color:$border-color
    &-area .btn:last-child
        border-right-color: transparent
    // 鼠标hover时,显示下拉按钮组
    &-group:hover &-area
        @extend $ext-display-inline-flex

//===================================================//
// dark主题
{$theme-dark} .btn
    --t-btn-bg-hover:$gray['7']// hover背景颜色
    
// 彩色主题
if $theme-name-colors-dict is defined
    for k,v in $theme-name-colors-dict
        .btn.{k}
            --t-btn-color: v['0']// 按钮文字色
            --t-btn-bg-color: v['5']// 按钮背景色
            --t-btn-color-hover: v['0']// hover按钮文字色
            --t-btn-bg-hover:v['4']// hover背景颜色
        // 连接式按钮彩色时
        .btn.{k}.link
            --t-btn-color: v['5']// 按钮文字色
            //--t-btn-bg-color: v['5']// 按钮背景色
            --t-btn-color-hover: v['6']// hover按钮文字色
            //--t-btn-bg-hover:v['4']// hover背景颜色
        // 反转的,字体/边框彩色,白背景
        .btn.{k}-r
            --t-btn-color: v['5']// 按钮文字色
            --t-btn-bd-color:v['5']// 边框
            --t-btn-bg-color: v['0']// 按钮背景色
            --t-btn-color-hover: v['0']// hover按钮文字色
            --t-btn-bg-hover:v['4']// hover背景颜色