// 缓存页 选项卡标签
.tabsbox
    display: grid
    // 4列:左导航,标签框,右导航,功能框 容器总高度36 + 2(边框)
    grid-template-columns: 36px auto 36px 72px
    align-items:center
    border: 1px solid var-gray
    background-color: var-white
    user-select: none
// 1和3.左右导航按钮
.tabsbox
    &-left, &-right
        align-self:center
        cursor: pointer
    // 按钮三角形 (18的三角形所在盒模型为36X36)
    &-left
        triangle(18px, left, var-gray-dk)
    &-right
        triangle(18px, right, var-gray-dk)
    // 按钮hover(和点击)时
    &-left:hover
        border-right-color: var-black-lt
    &-right:hover
        border-left-color: var-black-lt
// 2.标签页框
.tabsbox
    // 选项卡包装框
    &-navbox
        border-left:.5em solid transparent
        border-right:.5em solid transparent
        height:36px
        overflow: hidden
    // 选项卡框
    &-nav
        // 为最右边的标签留出关闭按钮的空间
        padding-right:26px
        white-space: nowrap
        overflow-y:hidden
        overflow-x:scroll
    // 选项卡
    &-tab
        display: inline-block
        position: relative
        height:36px
        line-height:36px
        padding:0 8px
        margin:0 3px
        background-color: var-gray
        cursor: pointer
    // 活动的选项卡
    &-tab.active
        color: var-white
        background-color: var-font-color
    // 选项卡关闭按钮
    &-tabclose
        display: none
        position: absolute
        top: 0
        right: 0
        width:18px
        height:18px
        line-height:18px
        text-align:center
        color: var-white
        background-color: #CC0000
        text-decoration: none
    // hover时,增大padding-right,为右上角关闭按钮取得空间(按钮18px+原有padding的8px)
    &-tab:hover
        padding-right: calc(18px + 8px)
        transition: padding-right $duration
    // hover时,显示关闭按钮
    &-tab:hover &-tabclose
        display: inline-block
// 4.功能菜单
.tabsbox
    // 容器
    &-menugroup
        position: relative
        height:36px
        border-left: 1px solid var-gray
        cursor: pointer
    // 菜单图标
    &-menutitle
        position:absolute
        top:0
        bottom:0
        left:0
        right:0
        margin:auto
        triangle(.6em, bottom, var-gray-dk)
        border-bottom:none
    // 鼠标移入时,图标变色
    &-menugroup:hover &-menutitle
        border-top-color: var-black-lt
    // 菜单框
    &-menulist
        display:none
        position:absolute
        right:-1px
        top: calc(100% + 1px)
        width:calc(3 * 36px)
        border: 1px solid var-gray
        background-color: var-white
        border-top:none
    // 鼠标移入时,显示其下菜单项目
    &-menugroup:hover &-menulist
        display: block
    // 功能菜单项
    &-close-all, &-close-other, &-goto-active
        display: block
        padding:.4em
    // 菜单项hover
    &-close-all:hover, &-close-other:hover, &-goto-active:hover
        color: var-font-color
        background-color: var-gray-dk
    // 菜单项点击
    &-close-all:active, &-close-other:active, &-goto-active:active
        padding-left:.6em

// 主题颜色  活动选项卡,导航三角形,功能菜单图标
for key, val in $themeColorsKV
    .tabsbox
        &.{key} &-tab.active
            background-color: val[0]
        &.{key} &-left:hover
            border-right-color: val[0]
        &.{key} &-right:hover
            border-left-color: val[0]
        &.{key} &-menugroup:hover &-menutitle
            border-top-color: val[0]
