// 日期时间
// PC页面容器宽度282px: 7天 X 40px = 280+2px左右border
// 年/月/日/星期,长宽1:1 = 40px : 40px
/////////////////////////////////////////////////////
// 基本高度和宽度单位
$date-row-height = 40px
$date-col-width = 40px

// 主题色变量
.date-box
    --t-date-hover:$gray['1']// hover背景
    --t-date-opened-bg-color:$gray['1']//打开了选框的按钮
    --t-date-selected:$gray['3']// 选中的按钮
    --t-date-ym-bg-color:$gray['1']// 年月背景交替色
   
// 外层容器
.date-box
    @extend $ext-position-absolute
    width: 282px
    cursor: default
    @extend $ext-border-1px
    outline: none
    @extend $ext-user-select-none
    background-color:inherit
    z-index: 10001

// 行row    
.date-row
    &-ymt, &-week, &-day, &-time
        display: grid
        grid-template-rows: $date-row-height
    // 第1行 row1 年月退进今天
    &-ymt
        grid-template-columns: 100px repeat(3,$date-col-width)
        justify-content:space-around
    // row2 星期
    &-week,&-day
        grid-template-columns: repeat(7,1fr)
    // row3 日
    &-day
        grid-template-rows: repeat(6,$date-row-height)
    // row4 清除/时间/确定
    &-time
        grid-template-columns: $date-col-width 120px $date-col-width
        justify-content: space-around

// 列col
.date-col
    &-ym, &-today, &-week, &-day, &-clear, &-ok, &-time,&-prev, &-next
        @extend $ext-display-grid
        place-items:center
    // 年月/周/今天/时间 按钮加粗体
    &-ym, &-week, &-today, &-time
        @extend $ext-weight-700//(这个样式权重不高)
    // 日期不加粗
    &-day
        @extend $ext-weight-500
    // 年/月
    // 进退
    &-prev, &-next
        @extend $ext-position-relative
    &-prev:before,&-next:before
        @extend $ext-content-empty
        @extend $ext-display-inline-block
        @extend $ext-position-absolute
        border:2px solid
        border-right:none
        border-bottom:none
        left:50%
        width:28.28px
        height:28.28px
    &-prev:before
        top:15.84px
        transform: translateX(-50%) rotate(45deg)
    &-next:before
        bottom:15.84px
        transform: translateX(-50%) rotate(-135deg)
    // 今天
    // 星期
    // 日 \/这个是转义,/是css支持的语法,在stylus里也是除号.
    &-day
        border-radius: ($date-col-width/10) \/ ($date-row-height/10)
    // 取消
    // 确定
    &-ok
        grid-column: 3
    // 时间

// 选项框
.date-ops
    &-ym, &-time
        position: absolute
        left: 0
        width: 100%
        // css的calc写法时,如果有stylue变量,要用%s当占位符,表达式要放引号内.后面空格%空格接上变量名
        height: 'calc(100% - %s)' % $date-row-height
        background-color:inherit
    // 年月框
    &-ym
        display:grid
        grid-template-columns: 70% 30%
        top: $date-row-height
        border-top: 1px solid $border-color
    &-year, &-month
        display: grid
    // 年框
    &-year
        grid-template-rows: repeat(50,$date-row-height)
        grid-template-columns: repeat(4,1fr)
        overflow-x: hidden
        overflow-y: scroll
    // 月框
    &-month
        grid-template-rows: repeat(6,$date-row-height)
        grid-template-columns: repeat(2,1fr)
    // 时间框
    &-time
        @extend $ext-display-grid
        place-items:center
        bottom: $date-row-height
        border-bottom: 1px solid $border-color
    // 时框
    &-hour
        @extend $ext-position-relative
        width:80%
        height:80%
        @extend $ext-border-circle
        @extend $ext-border-1px
    // 分秒加减框
    &-plus
        @extend $ext-position-absolute
        top:45%
        left:50%
        transform: translateX(-50%)
        @extend $ext-display-grid
        grid-template-rows: repeat(2,$date-row-height)
        grid-template-columns: repeat(2,$date-col-width*0.9) ($date-col-width/3) repeat(2,($date-col-width*0.7))

// 选项
.date-op
    // 年,月,时,上/下午/分秒加减按钮
    &-year, &-month, &-hour, &-am, &-pm, &-plus
        @extend $ext-display-grid
        place-items: center
        font-weight:500
    // 年月选项交替背景色
    &-month:nth-of-type(4n+1),&-month:nth-of-type(4n+4)
    &-year:nth-of-type(8n+1),&-year:nth-of-type(8n+2),&-year:nth-of-type(8n+7),&-year:nth-of-type(8n+8)
        background-color: var(--t-date-ym-bg-color)
    // 边框: 时,上午下午,加减按钮
    &-hour, &-plus, &-am, &-pm
        @extend $ext-border-1px
    // 时
    &-hour
        @extend $ext-position-absolute
        width: $date-col-width
        height: $date-row-height
        transform: translate(-50%,-50%)
        @extend $ext-border-circle
    &-hour.h12,&-hour.h6
        left:50%
    &-hour.h12
        top:0
    &-hour.h6
        top: 100%
    &-hour.h9, &-hour.h3 
        top: 50%
    &-hour.h9 
        left: 0
    &-hour.h3 
        left: 100%
    &-hour.h5, &-hour.h1 
        left: 75%
    &-hour.h11, &-hour.h1 
        top: 6.9%
    &-hour.h7, &-hour.h5 
        top: 93.3%
    &-hour.h11, &-hour.h7 
        left: 25%
    &-hour.h10, &-hour.h2 
        top: 25%
    &-hour.h10, &-hour.h8 
        left: 6.9%
    &-hour.h4, &-hour.h2 
        left: 93.3%
    &-hour.h8, &-hour.h4 
        top: 75%
    // 上/下午
    &-am, &-pm
        @extend $ext-position-absolute
        width: $date-col-width
        height: $date-row-height
        @extend $ext-border-cir-default
        top:20%
        transform: translateX(-50%)
    &-am
        left:35%
    &-pm
        left:65%
    // 分秒加减按钮
    &-plus
        @extend $ext-border-cir-default
    // 第一行第3个,第二行第3个,放在网格的第4列
    &-plus:nth-of-type(3), &-plus:nth-of-type(7)
        grid-column: 4

// hover 颜色,字
@media (any-hover: hover)
    .date
        // 年月/年月选项/进退/今天/日/清空/时间/时间选项/确定
        &-col-ym:hover, &-col-prev:hover, &-col-next:hover, &-col-today:hover, &-col-day:hover:not(&-today,&-selected), &-col-clear:hover, &-col-ok:hover, &-col-time:hover
        &-op-year:hover:not(&-selected), &-op-month:hover:not(&-selected), &-op-hour:hover:not(&-selected), &-op-am:hover:not(&-selected), &-op-pm:hover:not(&-selected), &-op-plus:hover
            background-color: var(--t-date-hover)
            @extend $ext-cursor-pointer

// active 选项点击
.date-op
    &-year:active, &-month:active,&-hour:active,&-am:active,&-pm:active,&-plus:active
        @extend $ext-weight-700

// 特定项颜色突出
.date
    // 周末
    &-weekend
        color:$red['5']
    // 非当前月的日
    &-dayout
        opacity: 0.2
    // 当日
    &-today
        background-color: $gray['6']
    // 选中(样式为了增强优先级)
    &-box &-selected
        background-color: var(--t-date-selected)
    // 打开了选框的按钮
    &-open
        background-color: var(--t-date-opened-bg-color)

// 手机版显示
@media only screen and (max-width: $screen-phone) 
    .date-box
        position: fixed
        top: 25vh
        left: 0
        width: 100vw

// 
{$themePre}-dark .date-box
    --t-date-hover:$gray['6']// hover背景
    --t-date-opened-bg-color:$gray['7']//打开了选框的按钮
    --t-date-selected:$gray['6']// 选中的按钮
    --t-date-ym-bg-color:$gray['8']// 年月背景交替色