//==文档菜单==//
{$selector-docmenu}
    // 主题色变量
    --t-docmenu-active-color:$gray['6']// 菜单项选中字色
    --t-docmenu-active-bg-color:$gray['2']// 菜单项选中背景色
    @extend $ext-display-block
    // 嵌套子菜单组的缩进
    &-group &-group
        margin-left: 1em
    // 菜单项
    &-item
        display:block
        text-decoration: none
        padding: 4px 0 4px 2em
        font-weight:500
        cursor:pointer
        @extend $ext-text-overflow
    // 直接子菜单项
    & > &-item
        padding: 4px 0 4px 1em
    // 菜单项hover,菜单项加上下划线
    &-item:not(.active):hover
        text-decoration: underline
    // 菜单项选中
    &-item.active
        font-weight:700
        color: var(--t-docmenu-active-color)
        background-color: var(--t-docmenu-active-bg-color)
        border-left:2px solid
    // 菜单组标题
    &-title
        display:flex
        align-items: center
        font-weight:700
        padding: 4px 0
        cursor:pointer

    // 菜单组标题 收起/展开图标
    &-open, &-close
        display:inline-block
        position:relative
        width:1em
        height:1em
    &-open:before, &-close:before
        content:''
        display:inline-block
        position:absolute
        width:.7em
        height:.7em
        border: 2px solid currentColor
        border-right: none
        border-bottom: none
    // close
    &-open:before
        bottom: .396em
        left: 50%
        transform: translateX(-50%) rotate(-135deg)
    &-close:before
        right: .396em
        top: 50%
        transform: translateY(-50%) rotate(135deg)
    // 菜单组关闭
    &-group-close *:not(:first-child)
        @extend $ext-display-none
if $themeTag is defined
    // 暗色主题
    {$themePre}-dark .docmenu
        --t-docmenu-active-color:$gray['1']// 菜单项选中字色
        --t-docmenu-active-bg-color:$gray['6']// 菜单项选中背景色