//==文档菜单==//

// 主题色变量
.docmenu
    --t-docmenu-active-color:$black['1']// 菜单项选中字色
    --t-docmenu-active-bg-color:$gray['3']// 菜单项选中背景色

.docmenu
    @extend $ext-display-block
    // 嵌套子菜单组的缩进
    &-group &-group
        margin-left: 1em
    // 菜单项
    &-item
        @extend $ext-display-block
        text-decoration: none
        padding: 4px 0 4px 2em
        @extend $ext-weight-500
        @extend $ext-cursor-pointer
        @extend $ext-text-overflow
        @extend $ext-border-cir-default
    // 直接子菜单项
    & > &-item
        padding: 4px 0 4px 1em
    // 菜单项hover,菜单项加上下划线
    &-item:not(.active):hover
        text-decoration: underline
    // 菜单项选中
    &-item.active
        @extend $ext-weight-700
        color: var(--t-docmenu-active-color)
        background-color: var(--t-docmenu-active-bg-color)
    // 菜单组标题
    &-title
        @extend $ext-display-flex
        @extend $ext-align-center
        @extend $ext-weight-700
        padding: 4px 0
        @extend $ext-cursor-pointer

    // 菜单组标题 收起/展开图标
    &-open, &-close
        @extend $ext-display-inline-block
        @extend $ext-position-relative
        width:1em
        height:1em
    &-open:before, &-close:before
        @extend $ext-content-empty
        @extend $ext-display-inline-block
        @extend $ext-position-absolute
        width:.7em
        height:.7em
        border: 2px solid currentColor
        border-right: none
        border-bottom: none
    // close
    &-open:before
        bottom: .396em
        left: 50%
        transform: translateX(-50%) rotate(-135deg)
    &-close:before
        right: .396em
        top: 50%
        transform: translateY(-50%) rotate(135deg)
    // 菜单组关闭
    &-group-close *:not(:first-child)
        @extend $ext-display-none

{$themePre}-dark .docmenu
    --t-docmenu-active-color:$white['1']// 菜单项选中字色
    --t-docmenu-active-bg-color:$gray['6']// 菜单项选中背景色
