// 输入框和选择框

// 主题色变量
//.input-text,.select,.textarea
.select
    --t-form-select-bg-color: $white['0']// select背景色

//===================
// 表单,使用label标签
//===================
.form-label
    @extend $ext-display-inline-block

//================================
// input-text, select, textarea
//================================
.input-text,.select,.textarea
    @extend $ext-display-block
    width: 100%
    padding: 6px 16px
    font-size: inherit
    background-color:inherit
    @extend $ext-border-1px
    @extend $ext-border-cir-default
    border-color:var(--t-form-bd-color)
    transition: border-color $duration
// 圆角
.input-text.cir,.select.cir,.textarea.cir
    border-radius: 1em

// 选择框 需要设置背景色,option元素的背景色,发现继承无效
.select
    background-color:var(--t-form-select-bg-color)

// 多行文本框
.textarea
    min-height: 100px
    resize: vertical
    overflow-y: auto

// 获得焦点时: 显示外边框 外边框不占空间位置
.input-text:focus, .textarea:focus, .select:focus
    outline: 2px solid var(--t-form-bd-color)

// dark主题
{$theme-dark} .select
    --t-form-select-bg-color: $black['1']// select背景色
// 彩色主题