// 设定: 文本框,多行文本框,选择框,表单标签

// 这两个用于去掉EDGE浏览器下INPUT框输入内容后自动产生的X号和小眼晴图标
// 新版EDGE没这个问题了
//input::-ms-clear, input::-ms-reveal
    //@extend $ext-display-none

// 主题色变量,会应用到输入框,选择框,单/多选,文件
.input-text,.select,.textarea,.input-file,.input-check
    --t-form-bd-color:$border-color// 边框颜色
    --t-form-hover:$gray['5']// hover边框颜色

// dark主题
{$themePre}-dark .input-text, {$themePre}-dark .select, {$themePre}-dark .textarea,{$themePre}-dark .input-file, {$themePre}-dark .input-check
    --t-form-bd-color:$gray['4']// 边框颜色
    --t-form-hover: $gray['3']// hover边框颜色
    
// 彩色主题
for k,v in $theme-name-colors-dict
    .input-text.{k},.select.{k},.textarea.{k},.input-file.{k},.input-check.{k}
        --t-form-bd-color: v['4']// 边框颜色,获得焦点时边框颜色
        --t-form-hover: v['6']// hover边框颜色
    // dark模式下颜色
    {$themePre}-dark .input-text.{k},{$themePre}-dark .select.{k},{$themePre}-dark .textarea.{k},{$themePre}-dark .input-file.{k},{$themePre}-dark .input-check.{k}
        --t-form-bd-color: v['6']// 边框颜色,获得焦点时边框颜色
        --t-form-hover: v['4']// hover边框颜色

// hover: 边框色微变.(在hover时,改变边框颜色变量也可以达到效果)
.input-text:hover, .textarea:hover, .select:hover, .input-file:hover, .input-check:hover .check, .input-check:hover .radio
    border-color: var(--t-form-hover)

// disabled
.input-text[disabled],.select[disabled],.textarea[disabled],.input-file[disabled],.input-check[disabled]
    @extend $ext-disabled
.input-file[disabled] input[type=file],.input-check[disabled] .form-label
    cursor: not-allowed

// =====================================================================
// 表单栅格布局
// =====================================================================
// 表单栅格布局 每一行的表单元素放在class="grids"里,每个元素设定"单元格数"
// class="grid-x".使用栅格布局时,表单元素和表单标题是直接作为布局项元素的
// ,元素尺寸会被容器拉伸
// 传统纸质表单的模仿,表单界面就像纸质的那种.输入框没有边框,是在一个格子中

.form-table
    & .form-label, & .input-text, & .textarea, & .input-file, & .select, & .input-check
        align-self: center
        border: none
        border-radius:0
        outline: none
    // 外边框
    @extend $ext-border-1px
    // 内边框 各表单项边框由grids底边框和grid右边框组成.除了最后一个元素不含边框外,因为会与大边框重合
    .grids:not(:last-child)
        border-bottom: 1px solid $border-color
    .grids [class*=grid]:not(:last-child)
        border-right: 1px solid $border-color
    // 输入框边框去掉
    //.input-text, .textarea
        //border: none
    // 输入框焦点时,背景色变化,以示可以编辑
    .input-text:hover, .input-text:focus, .textarea:hover, .textarea:focus
        background-color: $border-color
    // .textarea多行文本框高度自动适应册格高度,但最小高度为100px