// Headings h1-6大标题
h1, h2, h3, h4, h5, h6
    font-family: inherit
    font-weight: 600
    line-height: 1.1
    color: inherit
h1, h2, h3, h4, h5, h6
    margin: 8px auto
h1
    font-size: calc(var(--font-size) + 26px)
h2
    font-size: calc(var(--font-size) + 18px)
h3
    font-size: calc(var(--font-size) + 14px)
h4
    font-size: calc(var(--font-size) + 10px)
h5
    font-size: calc(var(--font-size) + 6px)
h6
    font-size: calc(var(--font-size) + 2px)
// p标记
p
    margin: 0 0 16px