// Headings h1-6大标题
h1, h2, h3, h4, h5, h6
    font-family: inherit
    font-weight: 500
    line-height: 1.1
    color: inherit
h1, h2, h3
    margin: calc(var(--font-size) * 1.5) auto
h4, h5, h6
    margin: var(--font-size) auto
h1
    font-size: calc(var(--font-size) * 2.6)
h2
    font-size: calc(var(--font-size) * 2.2)
h3
    font-size: calc(var(--font-size) * 1.8)
h4
    font-size: calc(var(--font-size) * 1.3)
h5
    font-size: var(--font-size)
h6
    font-size: 12px
// p标记
p
    margin: 0 0 var(--font-size)