// Headings h1-6大标题
h1, h2, h3, h4, h5, h6
    font-family: inherit
    font-weight: 600
    @extend $ext-color-inherit
    line-height: 1.1
    background-color: inherit
    margin: .6em 0
h1
    font-size: $fontSize-dict['3xl']
h2
    font-size: $fontSize-dict['2xl']
h3
    font-size: $fontSize-dict['xl']
h4
    font-size: $fontSize-dict['lg']
h5
    font-size: $fontSize-dict['md']
h6
    font-size: $fontSize-dict['base']