// hr元素,偶尔用一下
.line
    height: 1px
    background-color: var-grayse
    border: none
    outline: none
    margin: calc(var(--font-size) * 2) auto
    padding: 0
// 颜色
for key, val in $themeColorsKV
    .line.{key}
        background-color: val[0]