label-hover(bg-color, border-color)
    background-color: bg-color
    border-color: border-color
// 标记 记号 分四种颜色 四种大小 是否有边框 圆角或直角
.label
    display: inline-block
    font-size: var-font-size
    color: var-font-color
    text-align: center
    background-color: #ffffff
    padding: 0.2em 0.8em
    border: 1px solid var-grayback
    border-radius: 1em
.label:hover
    label-hover(var-grayback, var-graybackse)
// 四种(默认是灰)背景颜色 字都是白色
labelColors = { primary: var-primary, danger: var-danger, success: var-success }
for key, val in labelColors
    .label.{key}
        color: #ffffff
        background-color: val
.label.primary:hover
    label-hover(var-primaryse, var-primaryse)
.label.danger:hover
    label-hover(var-dangerse, var-dangerse)
.label.success:hover
    label-hover(var-successse, var-successse)
// 四种大小 默认是14px
labelSizes = { sm: 12px, lg: calc(var(--font-size) * 1.25), xl: calc(var(--font-size) * 1.6) }
for key, val in labelSizes
    .label.{key}
        font-size: val
