// 手机版顶部导航
.mdirbar
    display: grid
    grid-template-columns: 15% auto 15%
    place-items: center
    background-color: var-white
    border-bottom: 1px solid var-graylt
    user-select: none    
    box-shadow: 0 2px 5px var-graylt
// 回退按钮
.mdirbar .back
    display: inline-block
    width: 1em    
    height: 1em    
    border: 2px solid #333    
    border-right: none    
    border-top: none    
    padding-left: 10px   
    transform: rotate(45deg)    
    margin: 0 auto   
    
.mdirbar .back:active
    border-color: orangered     