// ==菜单栏.用于手机==//
// 容器 flex布局,里面内容两端对齐.内容子集元素最多2个,如有多个用div包起
{$selector-menubar}
    // 主题色变量
    --t-menubar-bg-color-active:$gray['2']// 菜单点击时背景颜色
    //
    display:flex
    justify-content: space-between
    align-items: center
    border: 1px solid var(--border-color)
    border-right: none
    border-left: none
    user-select: none
    padding: .8em 0

    // 第一个子元素是左边容器,让左边有点距离
    & > :first-child
        padding-left: 1.2em
    
    // 右侧箭头
    & .arr
        display:inline-block
        border-left: none
        border-right: none
        width: .8em
        height: .8em
        border-top: 2px solid currentColor
        border-right: 2px solid currentColor
        margin-right: 1.6rem
        transform: rotate(45deg)

    &:active
        background-color: var(--t-menubar-bg-color-active)

if $themeDark==1
    {$themePre}-dark {$selector-menubar}
        --t-menubar-bg-color-active:$gray['6']// 菜单点击时背景颜色