// 底部导航主菜单,用于手机版.支持类似微信菜单形式和APP导航菜单形式

// 外层容器 nav
.mnavmenu
    display: flex
    align-items: center
    position: fixed
    bottom: 0
    width: 100%
    min-height: 36px
    padding: 8px 0
    border-top: 1px solid var-grayse
    text-align: center
    background-color: var-white
    user-select: none

    // 菜单组容器 div
    &-group
        position: relative
        flex: 1 1 0

    // 菜单组容器加分割线
    &-group.split
        border-right: 1px solid var-gray

    // 菜单形式1:点击后出子菜单,模仿微信那种的.每个菜单组容器里含有 span,ul
    // 菜单组标题 span
    &-label
        display: block

    // 菜单组菜单容器 ul
    &-itembox
        position: absolute
        bottom: 28px
        width: 100%
        background-color: var-white
        z-index: 10000
        list-style: none
        box-shadow: 2px -2px 5px var-graylt

    // 菜单容器收起(默认状态)
    &-itembox.close
        display: none
  
    // 菜单项
    &-item
        display: block
        padding: 8px 0
        margin: 4px 0

    // 菜单项分割线
    &-split
        display: block
        height: 1px
        width:90%
        margin:0 auto
        border-bottom: 1px dashed var-gray

    // 菜单形式2: 导航菜单,没有子菜单,模仿app那种.每个菜单组容器里含有 span
    // 导航菜单 span
    &-menu
        display: block