// 底部导航主菜单,用于手机版.支持类似微信菜单形式和APP导航菜单形式

// 外层容器 nav
.mnavmenu
    @extend $ext-display-flex
    @extend $ext-align-center
    border-top: 1px solid $border-color
    text-align: center
    @extend $ext-user-select-none

    // 菜单组容器 div
    &-group
        @extend $ext-position-relative
        flex: 1 1 0

    // 菜单组容器加分割线
    &-group.split
        border-right: 1px solid $border-color

    // 菜单形式1:点击后出子菜单,模仿微信那种的.每个菜单组容器里含有 span,ul
    // 菜单组标题 span
    &-label
        @extend $ext-display-block

    // 菜单组菜单容器 ul
    &-itembox
        @extend $ext-position-absolute
        bottom: 1.8em
        @extend $ext-width-100
        border-top: 1px solid $border-color
        z-index: 10000
        list-style: none
        background-color:var(--back-color)

    // 菜单容器收起(默认状态)
    &-itembox.close
        @extend $ext-display-none
  
    // 菜单项
    &-item
        @extend $ext-display-block
        padding: 10px 0

    // 菜单项分割线
    &-split
        @extend $ext-display-block
        height: 1px
        width:90%
        margin:0 auto
        border-bottom: 1px dashed $border-color

    // 菜单形式2: 导航菜单,没有子菜单,模仿app那种.每个菜单组容器里含有 span
    // 导航菜单 span
    &-menu
        flex: 1 0