// 弹出框
.msgbox
    // 遮罩
    &-shadow
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        opacity: 0.4
        background-color: #000
        z-index: 10000
    // 父层
    &-modal
        display: flex
        justify-content: center
        position: fixed
        left: 0
        top: 0
        right: 0
        bottom: 0
        overflow-x: hidden
        overflow-y: auto
        z-index: 10001
    // 弹出框
    &
        position: relative
        width: 75vw
        height: 120px
        padding: 20px
        background-color: #fff
        box-shadow: 2px 2px 16px #000
// 输入框高度大一些
.msgbox-prompt
    height: 140px
.msgbox
    // 位置中
    &-center
        align-self: center
    // 位置上
    &-top
        align-self: flex-start
    // 位置下
    &-bottom
        align-self: flex-end
// 弹出框按钮
.msgbox
    &-ok,&-cancel
        position: absolute
        bottom: 1em
    &-ok
        left: 80%
    &-cancel
        left: 60%

// PC屏
@media only screen and (min-width: $screen-tablet)
    .msgbox
        width: 360px
