if $noOutPutComAlone!=1
    @import "../importCom"
// 信息提示框
{$selector-msgshow}
    display:none
    align-items: center
    border: 1px solid $border-color
    grid-template-columns:100px auto 5%
    padding: .625rem
    & .title
        font-weight: 500
    & .close
        text-align:right
        cursor: pointer
    & .close:active
        color:$red['5']