// 信息提示框
.msgshow
    @extend $ext-display-block
    padding: 10px
    @extend $ext-border-1px
    @extend $ext-border-cir-default
    & .title
        font-weight: 600
    & .msg
        margin-left: 1em
    & .close
        float: right
        cursor: pointer