// 信息提示框
.msgshow
    padding: 0.8em
    background-color: var-graylt
    border-radius: 4px
    & .title
        font-weight: 600
    & .text
        margin-left: 1em
    & .close
        float: right
        cursor: pointer
// 颜色
for key, val in $themeColorsKV
    .msgshow.{key}
        background-color: val[2]
        color: val[1]
// 字体大小
for key, val in $fontSizeKV
    .msgshow.{key}
        font-size: val