// 主题色变量
.switch
    --t-switch-checked-bg-color:$gray['7']// 选中(开)背景色
    --t-switch-tag-color:$gray['4']// 标记/文字色

// 开关 swtich ON / OFF
.switch
    @extend $ext-display-inline-flex
    @extend $ext-align-center
    @extend $ext-weight-700
    width: 5em
    padding: .2em .6em
    @extend $ext-border-1px
    border-radius: 1em
    @extend $ext-user-select-none
    transition: background-color $duration
    color:var(--t-switch-tag-color)

.switch.checked
    justify-content: end
    background-color: var(--t-switch-checked-bg-color)
    @extend $ext-color-white

// 图标形式
.switch.notag:before
    @extend $ext-content-empty
    width:1.2em
    height:1.2em
    @extend $ext-border-circle
    background-color:var(--t-switch-tag-color)
.switch.checked.notag:before
    background-color:$white['0']

{$theme-dark} .switch
    --t-switch-checked-bg-color:$gray['6']// 选中(开)背景色
    
// 彩色主题
for k,v in $theme-name-colors-dict
    .switch.{k}
        --t-switch-checked-bg-color:v['6']// 选中(开)背景色