// 主题色变量
.switch
    --t-switch-checked-bg-color:$gray['7']// 选中(开)背景色
    --t-switch-tag-color:$gray['4']// 标记/文字色

// 开关 swtich ON / OFF
.switch
    @extend $ext-display-inline-flex
    @extend $ext-align-center
    min-width: 3em
    padding: .1em .3em
    @extend $ext-border-1px
    border-radius: .6em
    @extend $ext-user-select-none
    transition: background-color $duration
    color:var(--t-switch-tag-color)

.switch.checked
    @extend $ext-justify-end
    background-color: var(--t-switch-checked-bg-color)
    @extend $ext-color-white

// 开关切换图标
.switch:not([on],[off]):before
    @extend $ext-content-empty
    width:1em
    height:1em
    @extend $ext-border-circle
    background-color:var(--t-switch-tag-color)
.switch.checked:before
    background-color:$white['1']

{$themePre}-dark .switch
    --t-switch-checked-bg-color:$gray['6']// 选中(开)背景色
    
// 彩色主题,不要支持全局主题
for k,v in $theme-name-colors-dict
    .switch.{k}
        --t-switch-checked-bg-color:v['6']// 选中(开)背景色