// 开关 ON / OFF
// type=checkbox 勾选是ON,没选是OFF
.onoff-check
    position: absolute
    opacity: 0

// label 点击改变checkbox选中状态
.onoff-label
    display: inline-block
    width: 5em
    height:2em
    line-height:2em
    border: 1px solid var-grayse
    border-radius: 20px
    background-color: var-gray
    user-select: none
    transition: background-color 1s

.onoff-label:after
    content: 'OFF'
    padding-left: 10px

// 勾选
.onoff-check:checked + .onoff-label
    text-align: right
    background-color: var-font-color
    color:white

.onoff-check:checked + .onoff-label:after
    content: 'ON'
    padding-right: 10px

// 大小
for key, val in $fontSizeKV
    .onoff-label.{key}
        font-size: val
// 颜色
for key, val in $themeColorsKV
    .onoff-check:checked + .onoff-label.{key}
        background-color: val[0]
        border-color: val[1]