// 页面等待效果
.pageload
    display:flex
    justify-content:center
    align-items:center
    width:100%
    height:100%
    animation: pageloading 2.4s linear infinite

@keyframes pageloading
    0%
        letter-spacing: 1px
    25%
        letter-spacing: 5px
    50%
        letter-spacing: 9px
    75%
        letter-spacing: 5px
    100%
        letter-spacing: 1px    
    