.pagenum
    // 外框
    &
        user-select: none
    
    // 当前选中页
    &-active, &-active:hover
        color: var-white
        background-color: var-gray-dk

    // 总页码,跳转区域 框   
    &-skip
        margin-left: 1em
    &-input
        display: inline-block
        width: 3.6em
        margin: 0 4px
        text-align: center
        
    &-input:focus
        outline: none

// 颜色
for key, val in $themeColorsKV
    .pagenum
        &.{key} &-active, &.{key} &-active:hover
            color: var-white
            background-color: val[0]
