// panel
.panel
    border: 1px solid var-gray-lt
    padding: 4px
    &-head
        background-color: inherit
        overflow: hidden
        padding: 10px
        text-align: center
    &-body
        padding: 15px
        background-color: inherit
