if $noOutPutComAlone!=1
    @import "../importCom"

// range 滑块
{$selector-range}
    &-box
    // 主题色变量
        --t-range-btn-bg-color:$gray['6']// 滑块背景色
        --t-range-bar-bg-color:$gray['3']// 滑条已划过背景色
        --t-range-txt-color:inherit// 文字颜色
        display:flex
        flex-direction: column
        // 滑块比条高一半,这里需要将按滑块出的部分包含到框内.
        padding-bottom:.8rem
    // 条的高度为滑块的1/2
    &-bar
        display:flex
        align-items: center
        border: 1px solid $border-color
        cursor: pointer
        height: .8rem
        border-radius:.8rem//同高度
        border-left:0 solid var(--t-range-bar-bg-color)
    // 显示值的框和滑块同大小
    &-btn,&-txt
        display:inline-block
        width: 1.6rem
        height: 1.6rem
    &-btn
        background-color: var(--t-range-btn-bg-color)
        border-radius: 50%
    &-btn.active
        cursor: grab
    &-txt
        margin-bottom:.4rem// 文字按钮距离
        text-align:center
        color:var(--t-range-txt-color)

if $themeTag is defined
    {$themePre}-dark {$selector-range}-box
        --t-range-btn-bg-color:$gray['3']// 滑块背景色
        --t-range-bar-bg-color:$gray['6']// 滑条已划过背景色
    // 彩色主题
    for k,v in $colors-dict
        {$selector-range}-box.{k}
            --t-range-btn-bg-color:v['5']// 滑块背景色
            --t-range-bar-bg-color:v['4']// 滑条已划过背景色
            --t-range-txt-color:v['5']// 文字颜色同滑块色