if $noOutPutComAlone!=1
    @import "../importCom"

// 侧边菜单
$selector-sidemenu='.sidemenu'
{$selector-sidemenu}
    // 主题色变量
    --t-sidemenu-hover-bg-color:$gray['4']// hover菜单项背景色
    --t-sidemenu-active-color:$white['1']// 菜单项选中字色
    --t-sidemenu-active-bg-color:$gray['7']// 菜单项选中背景色
    display:block
    user-select:none
    // 每个菜单组是一个ul
    &-group
        margin: 0
        padding: 8px 0
        list-style: none
    // 菜单项
    &-item
        display:block
        font-weight:500
        cursor:pointer
        border-radius: 4px
        text-decoration: none
        padding: 4px 0 4px 2em
        @extend $ext-text-overflow
    // 菜单项hover,菜单项的下划线去掉
    &-item:not(.active):hover
        text-decoration:none
        background-color: var(--t-sidemenu-hover-bg-color)
    // 菜单项选中
    &-item.active
        font-weight:700
        color: var(--t-sidemenu-active-color)
        background-color: var(--t-sidemenu-active-bg-color)
    // 菜单组标题
    &-label
        display:flex
        align-items: center
        cursor:pointer
        width:100%
        font-weight:700
        justify-content: space-between
        padding: 6px
        border-bottom: 1px solid $border-color
        @extend $ext-text-overflow

    // 菜单组标题 收起/展开图标
    &-arrleft, &-arrdown
        display:inline-flex
        justify-content: center
        align-items: center
        width:1em
        height:1em
       
    &-arrleft:before, &-arrdown:before
        content:''
        display:inline-block
        width:1em
        height:2px
        background-color: currentColor
    // close
    &-arrleft:before
        box-shadow:0 -.3em,0 .3em; 
         
    // 菜单组关闭
    &-group-close li:not(:first-child)
        @extend $ext-display-none
    // 菜单组关闭时,不显示下边框线
    &-group-close &-label
        border-bottom: none
    // 菜单组里分隔线
    &-split
        display:block
        height: 1px
        margin: 4px 0 4px 2em
        border-bottom: 1px dashed $border-color

if $themeTag is defined
    // dark主题
    {$themePre}-dark {$selector-sidemenu}
        --t-sidemenu-hover-bg-color:$gray['6']// hover菜单项背景色
        --t-sidemenu-active-color:$black['1']// 菜单项选中字色
        --t-sidemenu-active-bg-color:$gray['2']// 菜单项选中背景色
    // 彩色主题
    for k,v in $colors-dict
        {$selector-sidemenu}.{k}
            --t-sidemenu-hover-bg-color:v['4']// hover菜单项背景色
            --t-sidemenu-active-color:v['1']// 菜单项选中字色
            --t-sidemenu-active-bg-color:v['5']// 菜单项选中背景色