/**
    侧边菜单
*/
.sidemenu
    display: block
    user-select: none
    // 每个菜单组是一个ul
    &-group
        margin: 0
        padding: .7em 0
        list-style: none
    // 菜单项
    &-item
        display: block
        text-decoration: none
        padding: .4em 0 .4em 2.4em
        font-weight: 400
        @extend .text-overflow
        cursor: pointer
    // 菜单项hover,菜单项的下划线去掉
    &-item:not(.active):hover
        text-decoration: none
        color: var-white
        background-color: var-black-opa50
    // 菜单项选中
    &-item.active
        font-weight: 600
        background-color: var-black-lt
        color: var-white
    // 菜单组标题
    &-label
        display: block
        position: relative
        width: 100%
        font-weight: 700
        padding: .4em
        border-bottom: 1px solid var-gray
        @extend .text-overflow
        cursor: pointer

    // 菜单组标题 收起/展开
    &-arrleft, &-arrdown
        display:inline-block
        position: absolute
        width:1em
        height:1px
        top: 50%
        right: .4em
        background-color: currentColor
    &-arrleft
        box-shadow:0 -.3em,0 .3em; 
         
    // 菜单组关闭
    &-group-close li:not(:first-child)
        display: none
    // 菜单组关闭时,不显示下边框线
    &-group-close &-label
        border-bottom: none
    // 菜单组里分隔线
    &-split
        display: block
        height: 1px
        margin: .4em 0 .4em 2.4em
        border-bottom: 1px dashed var-gray
// 手机端:
@media only screen and (max-width: $screen-tablet)
    .sidemenu
        // 菜单组标题变小点 收起/展开
        &-arrleft, &-arrdown
            width:.6em
        // 菜单项左对齐
        &-item
            padding: .4em 0 .4em .4em
