if $noOutPutComAlone!=1
    @import "../importCom"

// 表格
$selector-table='.table'
{$selector-table}
    // 主题色变量
    --t-table-hover-color:$gray['3']// 悬停背景色
    --t-table-striped-color:$gray['2']// 交替斑马线背景色
    border-collapse: collapse// 单元格边框合并
    width: 100%
    // 行的底边框
    & tr
        border-bottom:1px solid $border-color
    // 单元格
    & th,& td
        padding:8px
        // 表头和单元格内容需要对齐时,可以在父级的tr或table标签上设置对齐样式
        text-align: inherit
    // 带内外边框的表格
    &.border th,&.border td
        border: 1px solid $border-color

    // 斑马线风格(不包含th的tr)
    &.striped tr:nth-child(even):not(th)
        background-color: var(--t-table-striped-color)

    // hover类鼠标移入效果(不包含th的tr)
    &.hover tr:hover :not(th)
        background-color: var(--t-table-hover-color)

    // 紧凑
    &.small th,&.small td
        padding:2px

if $themeTag is defined
    // dark主题
    {$themePre}-dark {$selector-table}
        --t-table-hover-color:$gray['5']// 悬停背景色
        --t-table-striped-color:$gray['7']// 交替斑马线背景色
    // 彩色主题
    for k,v in $colors-dict
        {$selector-table}.{k}
            --t-table-hover-color:v['3']// 悬停背景色
            --t-table-striped-color:v['2']// 交替斑马线背景色