// 表格
.table
    border-collapse: collapse
    border-spacing: 0
    width: 100%
// 带外边框的表格
.table.border
    border: 1px solid var-gray
// 带内外边框的表格
.table.border-all, .table.border-all td
    border: 1px solid var-grayse
// 条纹的表格,隔行颜色变化,鼠标移入效果
.table.striped tr:nth-child(even)
    background-color: var-gray
// 主题隔行颜色变化
for key, val in $themeColorsKV
    .table.striped.{key} tr:nth-child(even)
        background-color: val[0]
// hover类鼠标移入效果
.table.hover tr:hover
    background-color: var-black50
// 单元格头
.table th
    border-top: 1px solid var-gray
    border-bottom: 2px solid var-gray
    vertical-align: bottom
    padding: 5px
    text-align: left
    font-weight: 600
// 单元格
.table td
    border-bottom: 1px solid var-gray
    vertical-align: middle
    padding: 5px
