// 标签页,选项卡页

.tabs
    // 容器
    display: grid
    grid-template: min-content auto / auto
    // 方位
    &.left 
        grid-template: auto / min-content auto

    &.right 
        grid-template: auto / auto min-content
      
    &.bottom 
        grid-template: auto min-content / auto
      
    // 标签栏
    &-header 
        display: flex
        grid-row-start: 1
        text-align: center
        border-color: #ddd
        border-style: solid
        border-width: 0
        border-bottom-width: 1px
    
    // 标签栏 左右布局时,标签竖排
    &.left &-header, &.right &-header 
        flex-direction: column
        border-width: 0

    &.left &-header 
        border-right-width: 1px
    
    // 标签栏 位置右
    &.right &-header 
        grid-row-start: 1
        grid-column-start: 2
        border-left-width: 1px
    
    // 标签栏 位置下
    &.bottom &-header 
        grid-row-start: 2
        grid-column-start: 1
        border-width: 0
        border-top-width: 1px
    
    // 内容框
    &-content 
        overflow-x: hidden
        overflow-y: auto
    
    // 标签
    &-label 
        padding: .3em .5em
        border-style: solid
        border-color: transparent
        border-width: 0
        border-bottom-width: 3px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
        user-select: none
    
    &-label:hover 
        background-color: var-gray-lt
      
    // 标签 左右位置
    &.left &-label, &.right &-label 
        padding: .5em .3em
        text-orientation: upright
        writing-mode: vertical-lr
        border-width: 0

    &.left &-label 
        border-right-width: 3px

    &.right &-label 
        border-left-width: 3px

    &.bottom &-label 
        border-width: 0
        border-top-width: 3px
    

    // 标签-活动的
    &-label.active
        border-color: var-gray-dk
        font-weight: 700

    // 标签 占满行均分标签栏
    &.full &-label
        flex: 1 1 0
    
    // 内容
    &-panel
        display: none
    
    // 内容-活动的
    &-panel.active
        display: block
      
// 颜色
.tabs
    for key, val in $themeColorsKV
        // 选项卡框底边色
        &.{key} &-label.active
            border-color: val[0]