// 标签页,选项卡页

// 主题色变量
.tabs
    --t-tabs-label-hover: $gray['2']// 标签hover色
    --t-tabs-label-active-color: $black['1']// 标签选中文字色
    --t-tabs-label-active-bg-color: $gray['3']// 标签选中背景色
.tabs
    // 容器
    display: grid
    grid-template: min-content auto / auto
    // 方位
    &.left 
        grid-template: auto / min-content auto

    &.right 
        grid-template: auto / auto min-content
      
    &.bottom 
        grid-template: auto min-content / auto
      
    // 标签栏
    &-header 
        @extend $ext-display-flex
        grid-row-start: 1
        @extend $ext-text-align-center
        border: 0 solid $border-color
        border-bottom-width: 1px
    
    // 标签栏 左右布局时,标签竖排
    &.left &-header, &.right &-header 
        flex-direction: column
        border-width: 0

    &.left &-header 
        border-right-width: 1px
    
    // 标签栏 位置右
    &.right &-header 
        grid-row-start: 1
        grid-column-start: 2
        border-left-width: 1px
    
    // 标签栏 位置下
    &.bottom &-header 
        grid-row-start: 2
        grid-column-start: 1
        border-width: 0
        border-top-width: 1px
    
    // 内容框
    &-content 
        overflow-x: hidden
        overflow-y: auto
    
    // 标签
    &-label 
        padding: 2px .5em
        color:$gray['4']
        border-radius:$cir-angle $cir-angle 0 0
        @extend $ext-text-overflow
        @extend $ext-user-select-none

    // hover
    &-label:hover 
        background-color: var(--t-tabs-label-hover)
        @extend $ext-cursor-pointer
      
    // 标签 左右位置
    &.left &-label, &.right &-label 
        padding: .5em 2px
        text-orientation: upright
        writing-mode: vertical-lr
        border-width: 0

    &.left &-label 
        border-radius:$cir-angle 0 0 $cir-angle

    &.right &-label 
        border-radius: 0 $cir-angle $cir-angle 0

    &.bottom &-label 
        border-radius: 0 0 $cir-angle $cir-angle

    // 标签-活动的
    &-label.active
        border-color: $border-color
        background-color: var(--t-tabs-label-active-bg-color)
        color:var(--t-tabs-label-active-color)

    // 标签 占满行均分标签栏
    &.full &-label
        flex: 1 1 0
    
    // 内容
    &-panel
        @extend $ext-display-none
    
    // 内容-活动的
    &-panel.active
        @extend $ext-display-block

// dark主题
.theme-dark .tabs
    --t-tabs-label-hover: $gray['7']// 标签hover色
    --t-tabs-label-active-bg-color: $gray['6']// 标签选中背景色
    --t-tabs-label-active-color: $white['1']// 标签选中文字色
    
// 彩色主题
if $theme-name-colors-dict is defined
    for k,v in $theme-name-colors-dict
        .tabs.{k}
            --t-tabs-label-active-bg-color:v['5']
            --t-tabs-label-active-color: v['0']