//===========================================================
// 工具样式 边框
//===========================================================
 
// 4边和上下左右
.bd
    border:1px solid $border-color
    &-t
        border-top:1px solid $border-color
    &-b
        border-bottom:1px solid $border-color
    &-l
        border-left:1px solid $border-color
    &-r
        border-right:1px solid $border-color
