//===========================================================
// 工具样式,实现单一功能的样式,一般含有一条css属性,但也有多条的.
//===========================================================
//=======
// 文本
//=======
for k, v in $fontSize-dict
    .text-{k}
        font-size: v
// 文本段落首行缩进
.text-in
    text-indent: 2em
// 文本超出时,显示省略号
.text-overflow
    @extend $ext-text-overflow

//===========
// 边距和内补
//===========
// margin padding 
// 10px-100px,步进10px
margin-padding(10,100,5)
// 1px-9px,1
margin-padding(1,9,1)

//===========
// 边框,圆角
//===========
// 4边和上下左右
.bd
    border:1px solid $border-color
    &-t
        border-top:1px solid $border-color
    &-b
        border-bottom:1px solid $border-color
    &-l
        border-left:1px solid $border-color
    &-r
        border-right:1px solid $border-color
// 边框圆角
.bdr
    border-radius:$cir-angle
    // 上左
    &-tl
        border-top-left-radius:$cir-angle
    // 上右
    &-tr
        border-top-right-radius:$cir-angle
    // 下右
    &-br
        border-bottom-right-radius:$cir-angle
    // 下左
    &-bl
        border-bottom-left-radius:$cir-angle

//=======
// 颜色
//=======
//  黑/白/灰/彩色
for colorName,list in $colors-dict
    for saturation,val in list
        // 文字颜色
        .text-{colorName}-{saturation}
            color: val
        // 背景颜色
        .bg-{colorName}-{saturation}
            background-color: val
        // 边框颜色
        .bd-{colorName}-{saturation}
            border-color: val

//===========
// 布局和对齐
//===========
// 文本内容(子元素)对齐
.text
    &-left
        text-align: left
    &-right
        text-align: right
    &-center
        text-align: center
// margin 上下,左右auto居中
.mg-lr-auto
    margin-left: auto
    margin-right: auto
.mg-auto
    margin: auto
// 线性布局(flex)时,让子元素在轴(主/交)线上居中/居右,用于父元素
.f-h-center
    @extend $ext-justify-center
.f-h-end
    @extend $ext-justify-end
.f-v-center
    @extend $ext-align-center
.f-v-end
    @extend $ext-align-end
// flex/grid 布局时,让子元素在垂直轴线上居中,用于子元素
.f-vs-center
    @extend $ext-align-self-center
.f-vs-end
    @extend $ext-align-self-end

// display:none block 隐藏|显示
.d-none
    @extend $ext-display-none
.d-block
    @extend $ext-display-block
// display:none block 针对不同屏幕隐藏或者显示
mediaquerydisplay(screen-type)
    .d-{screen-type}-none
        display: none !important
    .d-{screen-type}-block
        display: block !important
// 小屏幕 >640
@media only screen and (min-width: $screen-phone)
    mediaquerydisplay(sm)
// 迷你平板 > 768
@media only screen and (min-width: $screen-tablet)
    mediaquerydisplay(md)
// 全尺寸平板   > 1024
@media only screen and (min-width: $screen-bigtablet)
    mediaquerydisplay(lg)
// 桌面电脑屏幕 > 1280
@media only screen and (min-width: $screen-pc)
    mediaquerydisplay(xl)