//===========
// 工具样式
//===========
// 文本内容(子元素)对齐
.text
    &-left
        @extend $ext-text-align-left
    &-right
        @extend $ext-text-align-right
    &-center
        @extend $ext-text-align-center
// 基准线居中
.v-middle
    @extend $ext-valign-middle

// margin 上下,左右auto居中
.mg-lr-auto
    margin-left: auto
    margin-right: auto
.mg-auto
    margin: auto
// ======
// 布局
// ======
// 线性布局(flex)时,让子元素在主轴线上居中/居右对齐,用于父元素
.f-h-center
    @extend $ext-justify-center
.f-h-end
    @extend $ext-justify-end
// 线性布局(flex)时,让子元素两端分布/平均分布/间隔相等分布,用于父元素
.f-h-sb
    @extend $ext-justify-sb
.f-h-sa
    @extend $ext-justify-sa
.f-h-se
    @extend $ext-justify-se
// 线性布局(flex)时,让子元素在交叉轴线上居左/中/右,用于父元素
.f-v-start
    @extend $ext-align-start
.f-v-center
    @extend $ext-align-center
.f-v-end
    @extend $ext-align-end
// flex/grid 布局时,让子元素在垂直轴线上居左/中/右,用于子元素
.f-vs-start
    @extend $ext-align-self-start
.f-vs-center
    @extend $ext-align-self-center
.f-vs-end
    @extend $ext-align-self-end

//=================================
// display:none block 隐藏|显示
//=================================
.d-none
    @extend $ext-display-none
.d-block
    @extend $ext-display-block
.d-inline-block
    @extend $ext-display-inline-block
// display:none block 针对不同屏幕隐藏或者显示
mediaquerydisplay(screen-type)
    .d-{screen-type}-none
        display: none !important
    .d-{screen-type}-block
        display: block !important
// 小屏幕 >640
@media only screen and (min-width: $screen-phone)
    mediaquerydisplay(sm)
// 迷你平板 > 768
@media only screen and (min-width: $screen-tablet)
    mediaquerydisplay(md)
// 全尺寸平板   > 1024
@media only screen and (min-width: $screen-bigtablet)
    mediaquerydisplay(lg)
// 桌面电脑屏幕 > 1280
@media only screen and (min-width: $screen-pc)
    mediaquerydisplay(xl)

// ================
// margin和padding
// ================
margin-padding(1,9,1);
margin-padding(10,50,5);