//===========================================================
// 工具样式,长度
//===========================================================
for len in range(10,100,5)
    val=len*1%// 百分比宽度
    valVw=len*1vw// VW宽度
    .w-{len}
        width:val
    .w-vw-{len}
        width:valVw