// 名值对标签
.kvpair
    display: inline-grid
    grid-template-columns: auto auto
    place-items: center
    // 边框和补白
    .key
        border-right:1px solid $border-color
        border-radius:$cir-angle 0 0 $cir-angle
    .val
        border-radius:0 $cir-angle $cir-angle 0
    .key,.val
        padding: 2px .5em
    // 圆角
    &.cir
        .key
            border-radius:1em 0 0 1em
        .val
            border-radius:0 1em 1em 0
