*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
:root {
  --font-size: 14px;
  --font-color: #343a40;
  --body-bgcolor: #fff;
  --gray: #dee2e6;
  --graylt: #eef1f3;
  --grayse: #b7c0c9;
  --white: #fff;
  --primary: #6c6;
  --danger: #dc3545;
  --success: #28a745;
  --warning: #ffc107;
  --info: #17a2b8;
  --primaryse: #44c144;
  --dangerse: #c62232;
  --successse: #228e3b;
  --warningse: #dfa700;
  --infose: #148a9c;
  --primarylt: #b3e6b3;
  --dangerlt: #ee9aa2;
  --successlt: #85e29a;
  --warninglt: #ffe083;
  --infolt: #78deee;
}
html {
  font-size: 100px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, sans-serif, '\5B8B\4F53';
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: var(--body-bgcolor);
}
@media only screen and (max-width: 768px) {
  :root {
    --font-size: 16px;
  }
}
img {
  vertical-align: middle;
}
.img-autosize {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-circle {
  border-radius: 50%;
}
a {
  color: var(--font-color);
}
.text-overflow,
.sidemenu-item {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-sm {
  font-size: 12px !important;
}
.text-lg {
  font-size: 0.16rem !important;
}
.text-xl {
  font-size: 0.2rem !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-s {
  text-indent: 2em;
}
.text-primary {
  color: var(--primary) !important;
}
.text-primaryse {
  color: var(--primaryse) !important;
}
.text-primarylt {
  color: var(--primarylt) !important;
}
.text-danger {
  color: var(--danger) !important;
}
.text-dangerse {
  color: var(--dangerse) !important;
}
.text-dangerlt {
  color: var(--dangerlt) !important;
}
.text-success {
  color: var(--success) !important;
}
.text-successse {
  color: var(--successse) !important;
}
.text-successlt {
  color: var(--successlt) !important;
}
.text-info {
  color: var(--info) !important;
}
.text-infose {
  color: var(--infose) !important;
}
.text-infolt {
  color: var(--infolt) !important;
}
.text-warning {
  color: var(--warning) !important;
}
.text-warningse {
  color: var(--warningse) !important;
}
.text-warninglt {
  color: var(--warninglt) !important;
}
.text-white {
  color: var(--white) !important;
}
.text-gray {
  color: var(--gray) !important;
}
.text-grayse {
  color: var(--grayse) !important;
}
.text-graylt {
  color: var(--graylt) !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-primaryse {
  background-color: var(--primaryse) !important;
}
.bg-primarylt {
  background-color: var(--primarylt) !important;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-dangerse {
  background-color: var(--dangerse) !important;
}
.bg-dangerlt {
  background-color: var(--dangerlt) !important;
}
.bg-success {
  background-color: var(--success) !important;
}
.bg-successse {
  background-color: var(--successse) !important;
}
.bg-successlt {
  background-color: var(--successlt) !important;
}
.bg-info {
  background-color: var(--info) !important;
}
.bg-infose {
  background-color: var(--infose) !important;
}
.bg-infolt {
  background-color: var(--infolt) !important;
}
.bg-warning {
  background-color: var(--warning) !important;
}
.bg-warningse {
  background-color: var(--warningse) !important;
}
.bg-warninglt {
  background-color: var(--warninglt) !important;
}
.bg-white {
  background: var(--white) !important;
}
.bg-gray {
  background: var(--gray) !important;
}
.bg-grayse {
  background: var(--grayse) !important;
}
.bg-graylt {
  background: var(--graylt) !important;
}
.bg-dark {
  background: var(--font-color) !important;
}
.mg-5 {
  margin: 5px;
}
.mg-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mg-t-5 {
  margin-top: 5px;
}
.mg-b-5 {
  margin-bottom: 5px;
}
.mg-lr-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mg-l-5 {
  margin-left: 5px;
}
.mg-r-5 {
  margin-right: 5px;
}
.pd-5 {
  padding: 5px;
}
.pd-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pd-t-5 {
  padding-top: 5px;
}
.pd-b-5 {
  padding-bottom: 5px;
}
.pd-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.pd-l-5 {
  padding-left: 5px;
}
.pd-r-5 {
  padding-right: 5px;
}
.mg-10 {
  margin: 10px;
}
.mg-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-b-10 {
  margin-bottom: 10px;
}
.mg-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mg-l-10 {
  margin-left: 10px;
}
.mg-r-10 {
  margin-right: 10px;
}
.pd-10 {
  padding: 10px;
}
.pd-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pd-t-10 {
  padding-top: 10px;
}
.pd-b-10 {
  padding-bottom: 10px;
}
.pd-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pd-l-10 {
  padding-left: 10px;
}
.pd-r-10 {
  padding-right: 10px;
}
.mg-15 {
  margin: 15px;
}
.mg-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mg-t-15 {
  margin-top: 15px;
}
.mg-b-15 {
  margin-bottom: 15px;
}
.mg-lr-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mg-l-15 {
  margin-left: 15px;
}
.mg-r-15 {
  margin-right: 15px;
}
.pd-15 {
  padding: 15px;
}
.pd-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pd-t-15 {
  padding-top: 15px;
}
.pd-b-15 {
  padding-bottom: 15px;
}
.pd-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.pd-l-15 {
  padding-left: 15px;
}
.pd-r-15 {
  padding-right: 15px;
}
.mg-20 {
  margin: 20px;
}
.mg-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mg-t-20 {
  margin-top: 20px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.mg-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mg-l-20 {
  margin-left: 20px;
}
.mg-r-20 {
  margin-right: 20px;
}
.pd-20 {
  padding: 20px;
}
.pd-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pd-t-20 {
  padding-top: 20px;
}
.pd-b-20 {
  padding-bottom: 20px;
}
.pd-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pd-l-20 {
  padding-left: 20px;
}
.pd-r-20 {
  padding-right: 20px;
}
.mg-25 {
  margin: 25px;
}
.mg-tb-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mg-t-25 {
  margin-top: 25px;
}
.mg-b-25 {
  margin-bottom: 25px;
}
.mg-lr-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.mg-l-25 {
  margin-left: 25px;
}
.mg-r-25 {
  margin-right: 25px;
}
.pd-25 {
  padding: 25px;
}
.pd-tb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pd-t-25 {
  padding-top: 25px;
}
.pd-b-25 {
  padding-bottom: 25px;
}
.pd-lr-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.pd-l-25 {
  padding-left: 25px;
}
.pd-r-25 {
  padding-right: 25px;
}
.mg-30 {
  margin: 30px;
}
.mg-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mg-t-30 {
  margin-top: 30px;
}
.mg-b-30 {
  margin-bottom: 30px;
}
.mg-lr-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.mg-l-30 {
  margin-left: 30px;
}
.mg-r-30 {
  margin-right: 30px;
}
.pd-30 {
  padding: 30px;
}
.pd-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pd-t-30 {
  padding-top: 30px;
}
.pd-b-30 {
  padding-bottom: 30px;
}
.pd-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.pd-l-30 {
  padding-left: 30px;
}
.pd-r-30 {
  padding-right: 30px;
}
.mg-35 {
  margin: 35px;
}
.mg-tb-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.mg-t-35 {
  margin-top: 35px;
}
.mg-b-35 {
  margin-bottom: 35px;
}
.mg-lr-35 {
  margin-left: 35px;
  margin-right: 35px;
}
.mg-l-35 {
  margin-left: 35px;
}
.mg-r-35 {
  margin-right: 35px;
}
.pd-35 {
  padding: 35px;
}
.pd-tb-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.pd-t-35 {
  padding-top: 35px;
}
.pd-b-35 {
  padding-bottom: 35px;
}
.pd-lr-35 {
  padding-left: 35px;
  padding-right: 35px;
}
.pd-l-35 {
  padding-left: 35px;
}
.pd-r-35 {
  padding-right: 35px;
}
.mg-40 {
  margin: 40px;
}
.mg-tb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mg-t-40 {
  margin-top: 40px;
}
.mg-b-40 {
  margin-bottom: 40px;
}
.mg-lr-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.mg-l-40 {
  margin-left: 40px;
}
.mg-r-40 {
  margin-right: 40px;
}
.pd-40 {
  padding: 40px;
}
.pd-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pd-t-40 {
  padding-top: 40px;
}
.pd-b-40 {
  padding-bottom: 40px;
}
.pd-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.pd-l-40 {
  padding-left: 40px;
}
.pd-r-40 {
  padding-right: 40px;
}
.mg-45 {
  margin: 45px;
}
.mg-tb-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.mg-t-45 {
  margin-top: 45px;
}
.mg-b-45 {
  margin-bottom: 45px;
}
.mg-lr-45 {
  margin-left: 45px;
  margin-right: 45px;
}
.mg-l-45 {
  margin-left: 45px;
}
.mg-r-45 {
  margin-right: 45px;
}
.pd-45 {
  padding: 45px;
}
.pd-tb-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.pd-t-45 {
  padding-top: 45px;
}
.pd-b-45 {
  padding-bottom: 45px;
}
.pd-lr-45 {
  padding-left: 45px;
  padding-right: 45px;
}
.pd-l-45 {
  padding-left: 45px;
}
.pd-r-45 {
  padding-right: 45px;
}
.mg-50 {
  margin: 50px;
}
.mg-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mg-t-50 {
  margin-top: 50px;
}
.mg-b-50 {
  margin-bottom: 50px;
}
.mg-lr-50 {
  margin-left: 50px;
  margin-right: 50px;
}
.mg-l-50 {
  margin-left: 50px;
}
.mg-r-50 {
  margin-right: 50px;
}
.pd-50 {
  padding: 50px;
}
.pd-tb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pd-t-50 {
  padding-top: 50px;
}
.pd-b-50 {
  padding-bottom: 50px;
}
.pd-lr-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.pd-l-50 {
  padding-left: 50px;
}
.pd-r-50 {
  padding-right: 50px;
}
.mg-lr-auto {
  margin-left: auto;
  margin-right: auto;
}
.mg-auto {
  margin: auto;
}
.d-none {
  display: none !important;
}
.d-block {
  display: block !important;
}
@media only screen and (min-width: 640px) {
  .d-sm-none {
    display: none !important;
  }
  .d-sm-block {
    display: block !important;
  }
}
@media only screen and (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
}
@media only screen and (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
}
@media only screen and (min-width: 1200px) {
  .d-xl-none {
    display: none !important;
  }
  .d-xl-block {
    display: block !important;
  }
}
.grids-1 {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  overflow: hidden;
}
.grids-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  overflow: hidden;
}
.grids-3 {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333333333%);
  overflow: hidden;
}
.grids-4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  overflow: hidden;
}
.grids-5 {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  overflow: hidden;
}
.grids-6 {
  display: grid;
  grid-template-columns: repeat(6, 16.666666666666664%);
  overflow: hidden;
}
.grids-7 {
  display: grid;
  grid-template-columns: repeat(7, 14.285714285714285%);
  overflow: hidden;
}
.grids-8 {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  overflow: hidden;
}
.grids-9 {
  display: grid;
  grid-template-columns: repeat(9, 11.11111111111111%);
  overflow: hidden;
}
.grids-10 {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  overflow: hidden;
}
.grids-11 {
  display: grid;
  grid-template-columns: repeat(11, 9.090909090909092%);
  overflow: hidden;
}
.grids-12 {
  display: grid;
  grid-template-columns: repeat(12, 8.333333333333332%);
  overflow: hidden;
}
@media only screen and (min-width: 640px) {
  .grids-sm-1 {
    grid-template-columns: repeat(1, 100%);
  }
  .grids-sm-2 {
    grid-template-columns: repeat(2, 50%);
  }
  .grids-sm-3 {
    grid-template-columns: repeat(3, 33.33333333333333%);
  }
  .grids-sm-4 {
    grid-template-columns: repeat(4, 25%);
  }
  .grids-sm-5 {
    grid-template-columns: repeat(5, 20%);
  }
  .grids-sm-6 {
    grid-template-columns: repeat(6, 16.666666666666664%);
  }
  .grids-sm-7 {
    grid-template-columns: repeat(7, 14.285714285714285%);
  }
  .grids-sm-8 {
    grid-template-columns: repeat(8, 12.5%);
  }
  .grids-sm-9 {
    grid-template-columns: repeat(9, 11.11111111111111%);
  }
  .grids-sm-10 {
    grid-template-columns: repeat(10, 10%);
  }
  .grids-sm-11 {
    grid-template-columns: repeat(11, 9.090909090909092%);
  }
  .grids-sm-12 {
    grid-template-columns: repeat(12, 8.333333333333332%);
  }
}
@media only screen and (min-width: 768px) {
  .grids-md-1 {
    grid-template-columns: repeat(1, 100%);
  }
  .grids-md-2 {
    grid-template-columns: repeat(2, 50%);
  }
  .grids-md-3 {
    grid-template-columns: repeat(3, 33.33333333333333%);
  }
  .grids-md-4 {
    grid-template-columns: repeat(4, 25%);
  }
  .grids-md-5 {
    grid-template-columns: repeat(5, 20%);
  }
  .grids-md-6 {
    grid-template-columns: repeat(6, 16.666666666666664%);
  }
  .grids-md-7 {
    grid-template-columns: repeat(7, 14.285714285714285%);
  }
  .grids-md-8 {
    grid-template-columns: repeat(8, 12.5%);
  }
  .grids-md-9 {
    grid-template-columns: repeat(9, 11.11111111111111%);
  }
  .grids-md-10 {
    grid-template-columns: repeat(10, 10%);
  }
  .grids-md-11 {
    grid-template-columns: repeat(11, 9.090909090909092%);
  }
  .grids-md-12 {
    grid-template-columns: repeat(12, 8.333333333333332%);
  }
}
@media only screen and (min-width: 992px) {
  .grids-lg-1 {
    grid-template-columns: repeat(1, 100%);
  }
  .grids-lg-2 {
    grid-template-columns: repeat(2, 50%);
  }
  .grids-lg-3 {
    grid-template-columns: repeat(3, 33.33333333333333%);
  }
  .grids-lg-4 {
    grid-template-columns: repeat(4, 25%);
  }
  .grids-lg-5 {
    grid-template-columns: repeat(5, 20%);
  }
  .grids-lg-6 {
    grid-template-columns: repeat(6, 16.666666666666664%);
  }
  .grids-lg-7 {
    grid-template-columns: repeat(7, 14.285714285714285%);
  }
  .grids-lg-8 {
    grid-template-columns: repeat(8, 12.5%);
  }
  .grids-lg-9 {
    grid-template-columns: repeat(9, 11.11111111111111%);
  }
  .grids-lg-10 {
    grid-template-columns: repeat(10, 10%);
  }
  .grids-lg-11 {
    grid-template-columns: repeat(11, 9.090909090909092%);
  }
  .grids-lg-12 {
    grid-template-columns: repeat(12, 8.333333333333332%);
  }
}
@media only screen and (min-width: 1200px) {
  .grids-xl-1 {
    grid-template-columns: repeat(1, 100%);
  }
  .grids-xl-2 {
    grid-template-columns: repeat(2, 50%);
  }
  .grids-xl-3 {
    grid-template-columns: repeat(3, 33.33333333333333%);
  }
  .grids-xl-4 {
    grid-template-columns: repeat(4, 25%);
  }
  .grids-xl-5 {
    grid-template-columns: repeat(5, 20%);
  }
  .grids-xl-6 {
    grid-template-columns: repeat(6, 16.666666666666664%);
  }
  .grids-xl-7 {
    grid-template-columns: repeat(7, 14.285714285714285%);
  }
  .grids-xl-8 {
    grid-template-columns: repeat(8, 12.5%);
  }
  .grids-xl-9 {
    grid-template-columns: repeat(9, 11.11111111111111%);
  }
  .grids-xl-10 {
    grid-template-columns: repeat(10, 10%);
  }
  .grids-xl-11 {
    grid-template-columns: repeat(11, 9.090909090909092%);
  }
  .grids-xl-12 {
    grid-template-columns: repeat(12, 8.333333333333332%);
  }
}
.grids {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  flex: 1 1 0;
  overflow: hidden;
}
.grid-1 {
  flex: 0 1 8.333333333333332%;
  overflow: hidden;
}
.grid-2 {
  flex: 0 1 16.666666666666664%;
  overflow: hidden;
}
.grid-3 {
  flex: 0 1 25%;
  overflow: hidden;
}
.grid-4 {
  flex: 0 1 33.33333333333333%;
  overflow: hidden;
}
.grid-5 {
  flex: 0 1 41.66666666666667%;
  overflow: hidden;
}
.grid-6 {
  flex: 0 1 50%;
  overflow: hidden;
}
.grid-7 {
  flex: 0 1 58.333333333333336%;
  overflow: hidden;
}
.grid-8 {
  flex: 0 1 66.66666666666666%;
  overflow: hidden;
}
.grid-9 {
  flex: 0 1 75%;
  overflow: hidden;
}
.grid-10 {
  flex: 0 1 83.33333333333334%;
  overflow: hidden;
}
.grid-11 {
  flex: 0 1 91.66666666666666%;
  overflow: hidden;
}
.grid-12 {
  flex: 0 1 100%;
  overflow: hidden;
}
@media only screen and (min-width: 640px) {
  .grid-sm-1 {
    flex: 0 1 8.333333333333332%;
  }
  .grid-sm-2 {
    flex: 0 1 16.666666666666664%;
  }
  .grid-sm-3 {
    flex: 0 1 25%;
  }
  .grid-sm-4 {
    flex: 0 1 33.33333333333333%;
  }
  .grid-sm-5 {
    flex: 0 1 41.66666666666667%;
  }
  .grid-sm-6 {
    flex: 0 1 50%;
  }
  .grid-sm-7 {
    flex: 0 1 58.333333333333336%;
  }
  .grid-sm-8 {
    flex: 0 1 66.66666666666666%;
  }
  .grid-sm-9 {
    flex: 0 1 75%;
  }
  .grid-sm-10 {
    flex: 0 1 83.33333333333334%;
  }
  .grid-sm-11 {
    flex: 0 1 91.66666666666666%;
  }
  .grid-sm-12 {
    flex: 0 1 100%;
  }
}
@media only screen and (min-width: 768px) {
  .grid-md-1 {
    flex: 0 1 8.333333333333332%;
  }
  .grid-md-2 {
    flex: 0 1 16.666666666666664%;
  }
  .grid-md-3 {
    flex: 0 1 25%;
  }
  .grid-md-4 {
    flex: 0 1 33.33333333333333%;
  }
  .grid-md-5 {
    flex: 0 1 41.66666666666667%;
  }
  .grid-md-6 {
    flex: 0 1 50%;
  }
  .grid-md-7 {
    flex: 0 1 58.333333333333336%;
  }
  .grid-md-8 {
    flex: 0 1 66.66666666666666%;
  }
  .grid-md-9 {
    flex: 0 1 75%;
  }
  .grid-md-10 {
    flex: 0 1 83.33333333333334%;
  }
  .grid-md-11 {
    flex: 0 1 91.66666666666666%;
  }
  .grid-md-12 {
    flex: 0 1 100%;
  }
}
@media only screen and (min-width: 992px) {
  .grid-lg-1 {
    flex: 0 1 8.333333333333332%;
  }
  .grid-lg-2 {
    flex: 0 1 16.666666666666664%;
  }
  .grid-lg-3 {
    flex: 0 1 25%;
  }
  .grid-lg-4 {
    flex: 0 1 33.33333333333333%;
  }
  .grid-lg-5 {
    flex: 0 1 41.66666666666667%;
  }
  .grid-lg-6 {
    flex: 0 1 50%;
  }
  .grid-lg-7 {
    flex: 0 1 58.333333333333336%;
  }
  .grid-lg-8 {
    flex: 0 1 66.66666666666666%;
  }
  .grid-lg-9 {
    flex: 0 1 75%;
  }
  .grid-lg-10 {
    flex: 0 1 83.33333333333334%;
  }
  .grid-lg-11 {
    flex: 0 1 91.66666666666666%;
  }
  .grid-lg-12 {
    flex: 0 1 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .grid-xl-1 {
    flex: 0 1 8.333333333333332%;
  }
  .grid-xl-2 {
    flex: 0 1 16.666666666666664%;
  }
  .grid-xl-3 {
    flex: 0 1 25%;
  }
  .grid-xl-4 {
    flex: 0 1 33.33333333333333%;
  }
  .grid-xl-5 {
    flex: 0 1 41.66666666666667%;
  }
  .grid-xl-6 {
    flex: 0 1 50%;
  }
  .grid-xl-7 {
    flex: 0 1 58.333333333333336%;
  }
  .grid-xl-8 {
    flex: 0 1 66.66666666666666%;
  }
  .grid-xl-9 {
    flex: 0 1 75%;
  }
  .grid-xl-10 {
    flex: 0 1 83.33333333333334%;
  }
  .grid-xl-11 {
    flex: 0 1 91.66666666666666%;
  }
  .grid-xl-12 {
    flex: 0 1 100%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.08rem auto;
}
h1 {
  font-size: 0.4rem;
}
h2 {
  font-size: 0.32rem;
}
h3 {
  font-size: 0.28rem;
}
h4 {
  font-size: 0.24rem;
}
h5 {
  font-size: 0.2rem;
}
h6 {
  font-size: 0.16rem;
}
p {
  margin: 0 0 0.14rem;
}
.line {
  height: 1px;
  background-color: var(--grayse);
  border: none;
  outline: none;
  margin: 2em auto;
  padding: 0;
}
.line.primary {
  background-color: var(--primary);
}
.line.danger {
  background-color: var(--danger);
}
.line.success {
  background-color: var(--success);
}
.line.info {
  background-color: var(--info);
}
.line.warning {
  background-color: var(--warning);
}
.btn {
  display: inline-block;
  padding: 0.06rem 0.08rem;
  font-weight: 400;
  font-size: 0.14rem;
  color: var(--font-color);
  text-align: center;
  text-decoration: none;
  background-color: var(--white);
  border: 1px solid var(--gray);
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: background-color 0.3s;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.btn:hover {
  background-color: var(--gray);
}
.btn.disabled {
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}
.btn.cir {
  border-radius: 4px;
}
.btn.block {
  display: block;
}
.btn.loading::after {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 4px dotted;
  border-radius: 50%;
  border-top: none;
  border-bottom: none;
  margin-left: 0.8em;
  vertical-align: middle;
  animation: btnloading 1.5s linear infinite;
  cursor: wait;
}
.btn.primary {
  color: var(--white);
  background-color: var(--primary);
  border-color: var(--primaryse);
}
.btn.primary:hover {
  background-color: var(--primaryse);
}
.btn.danger {
  color: var(--white);
  background-color: var(--danger);
  border-color: var(--dangerse);
}
.btn.danger:hover {
  background-color: var(--dangerse);
}
.btn.success {
  color: var(--white);
  background-color: var(--success);
  border-color: var(--successse);
}
.btn.success:hover {
  background-color: var(--successse);
}
.btn.info {
  color: var(--white);
  background-color: var(--info);
  border-color: var(--infose);
}
.btn.info:hover {
  background-color: var(--infose);
}
.btn.warning {
  color: var(--white);
  background-color: var(--warning);
  border-color: var(--warningse);
}
.btn.warning:hover {
  background-color: var(--warningse);
}
.btn.sm {
  font-size: 12px;
  padding: 0.05rem 0.07rem;
}
.btn.lg {
  font-size: 0.16rem;
  padding: 0.08rem 0.1rem;
}
.btn.xl {
  font-size: 0.2rem;
  padding: 0.1rem 0.12rem;
}
.btn.link {
  color: var(--font-color);
  border-color: transparent;
  background-color: transparent;
}
.btn.link:hover {
  color: var(--danger);
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}
.btn.link:active {
  text-decoration: underline;
  box-shadow: none;
}
.btn.link.primary {
  color: var(--primary);
}
.btn.link.danger {
  color: var(--danger);
}
.btn.link.success {
  color: var(--success);
}
.btn.link.info {
  color: var(--info);
}
.btn.link.warning {
  color: var(--warning);
}
.btn-group {
  display: inline-flex;
}
.btn-group > .btn {
  flex: auto;
}
.btn-group.cir > .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group.cir > .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-list-group {
  position: relative;
}
.btn-list-group:hover .btn-list-area {
  display: block;
}
.btn-list-group > .btn:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
  border-top-color: var(--font-color);
  vertical-align: middle;
  margin-left: 4px;
}
.btn-list-area {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
.btn-list-area .btn {
  display: block;
}
@-moz-keyframes btnloading {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes btnloading {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes btnloading {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes btnloading {
  100% {
    transform: rotate(360deg);
  }
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table.border {
  border: 1px solid var(--gray);
}
.table.border-all,
.table.border-all td {
  border: 1px solid var(--grayse);
}
.table.hover tr:nth-child(even) {
  background-color: var(--gray);
}
.table.hover.primary tr:nth-child(even) {
  background-color: var(--primary);
}
.table.hover.danger tr:nth-child(even) {
  background-color: var(--danger);
}
.table.hover.success tr:nth-child(even) {
  background-color: var(--success);
}
.table.hover.info tr:nth-child(even) {
  background-color: var(--info);
}
.table.hover.warning tr:nth-child(even) {
  background-color: var(--warning);
}
.table tr:hover {
  background-color: var(--primary);
}
.table.primary tr:hover {
  background-color: var(--gray);
}
.table th {
  border-bottom: 2px solid var(--grayse);
  vertical-align: bottom;
  padding: 5px;
  text-align: left;
  font-weight: 600;
}
.table td {
  border-bottom: 1px solid var(--gray);
  vertical-align: middle;
  padding: 5px;
}
::-ms-clear,
::-ms-reveal {
  display: none;
}
.input-label {
  display: inline-block;
  margin-bottom: 0.08rem;
}
.input-text {
  display: block;
  border: 1px solid var(--grayse);
  transition: border-color 0.3s;
  width: 100%;
  padding: 0.05rem 0.08rem;
  font-size: var(--font-size);
  background-color: var(--white);
}
.select {
  display: block;
  border: 1px solid var(--grayse);
  transition: border-color 0.3s;
  width: 100%;
  padding: 0.05rem 0.08rem;
  font-size: var(--font-size);
  background-color: var(--white);
}
.textarea {
  border: 1px solid var(--grayse);
  transition: border-color 0.3s;
  width: 100%;
  font-size: var(--font-size);
  height: 1rem;
  padding: 4px;
  resize: none;
  background-color: var(--white);
  overflow-y: auto;
}
.textarea-label {
  display: inline-block;
  margin-bottom: 0.08rem;
}
.input-file-box {
  position: relative;
  height: 0.28rem;
  line-height: 0.28rem;
}
.input-file {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  cursor: pointer;
  z-index: 11;
}
.input-file-label {
  position: absolute;
  height: 100%;
  border: 1px solid var(--grayse);
  transition: border-color 0.3s;
  width: 100%;
  padding: 0 8px;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.input-check {
  position: absolute;
  opacity: 0;
}
.input-check-label {
  z-index: 10;
  cursor: pointer;
}
.input-check-label .check,
.input-check-label .radio {
  display: inline-block;
  position: relative;
  height: 1.2em;
  width: 1.2em;
  margin-right: 4px;
  border: 1px solid var(--grayse);
  background-color: var(--gray);
  vertical-align: text-bottom;
}
.input-check-label .radio {
  border-radius: 50%;
}
.input-check:checked + .input-check-label .check:after {
  border-width: 3px;
}
.input-check-label .check:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 0.7em;
  height: 1em;
  border: 0 solid var(--font-color);
  border-top: none;
  border-left: none;
  background: transparent;
  transform: rotate(45deg);
  transition: border-width 0.3s;
}
.input-check:checked + .input-check-label .radio:after {
  width: 0.5em;
  height: 0.5em;
}
.input-check-label .radio:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 0;
  height: 0;
  background-color: var(--font-color);
  border-radius: 50%;
  transition: width, height 0.3s;
}
.input-check:checked + .input-check-label.primary .check {
  background-color: var(--primary);
}
.input-check:checked + .input-check-label.primary .check:after {
  border-color: var(--white);
}
.input-check:checked + .input-check-label.primary .radio {
  border-color: var(--primary);
}
.input-check:checked + .input-check-label.primary .radio:after {
  background-color: var(--primary);
}
.input-check:checked + .input-check-label.danger .check {
  background-color: var(--danger);
}
.input-check:checked + .input-check-label.danger .check:after {
  border-color: var(--white);
}
.input-check:checked + .input-check-label.danger .radio {
  border-color: var(--danger);
}
.input-check:checked + .input-check-label.danger .radio:after {
  background-color: var(--danger);
}
.input-check:checked + .input-check-label.success .check {
  background-color: var(--success);
}
.input-check:checked + .input-check-label.success .check:after {
  border-color: var(--white);
}
.input-check:checked + .input-check-label.success .radio {
  border-color: var(--success);
}
.input-check:checked + .input-check-label.success .radio:after {
  background-color: var(--success);
}
.input-check:checked + .input-check-label.info .check {
  background-color: var(--info);
}
.input-check:checked + .input-check-label.info .check:after {
  border-color: var(--white);
}
.input-check:checked + .input-check-label.info .radio {
  border-color: var(--info);
}
.input-check:checked + .input-check-label.info .radio:after {
  background-color: var(--info);
}
.input-check:checked + .input-check-label.warning .check {
  background-color: var(--warning);
}
.input-check:checked + .input-check-label.warning .check:after {
  border-color: var(--white);
}
.input-check:checked + .input-check-label.warning .radio {
  border-color: var(--warning);
}
.input-check:checked + .input-check-label.warning .radio:after {
  background-color: var(--warning);
}
.input-label.sm {
  font-size: 12px;
}
.textarea-label.sm {
  font-size: 12px;
}
.input-text.sm {
  font-size: 12px;
  padding: 0.04rem 0.06rem;
}
.select.sm {
  font-size: 12px;
  padding: 0.04rem 0.06rem;
}
.input-check-label.sm {
  font-size: 12px;
}
.input-label.lg {
  font-size: 0.16rem;
}
.textarea-label.lg {
  font-size: 0.16rem;
}
.input-text.lg {
  font-size: 0.16rem;
  padding: 0.06rem 0.08rem;
}
.select.lg {
  font-size: 0.16rem;
  padding: 0.06rem 0.08rem;
}
.input-check-label.lg {
  font-size: 0.16rem;
}
.input-label.xl {
  font-size: 0.2rem;
}
.textarea-label.xl {
  font-size: 0.2rem;
}
.input-text.xl {
  font-size: 0.2rem;
  padding: 0.08rem 0.08rem;
}
.select.xl {
  font-size: 0.2rem;
  padding: 0.08rem 0.08rem;
}
.input-check-label.xl {
  font-size: 0.2rem;
}
.input-text:hover,
.textarea:hover,
.select:hover,
.input-file:hover + .input-file-label {
  border-color: var(--primary);
}
.input-text:focus,
.textarea:focus,
.input-file:focus + .input-file-label,
.select:focus {
  outline: 2px solid var(--primarylt);
}
.grids .input-label,
.grids .textarea-label,
.grids .input-check-label,
.grids .input-text,
.grids .textarea,
.grids .input-file-box,
.grids .select,
.grids .input-check {
  align-self: center;
}
.grids .input-label {
  margin-bottom: 0;
}
.form-table-box {
  border: 1px solid var(--grayse);
}
.form-table-box .grids:not(:last-child) {
  border-bottom: 1px solid var(--grayse);
}
.form-table-box .grids [class*=grid]:not(:last-child) {
  border-right: 1px solid var(--grayse);
}
.form-table-box .input-text,
.form-table-box .textarea {
  border: none;
}
.form-table-box .input-text:hover,
.form-table-box .input-text:focus,
.form-table-box .textarea:hover,
.form-table-box .textarea:focus {
  background-color: var(--gray);
  outline: none;
}
.form-table-box .textarea,
.form-table-box .input-text {
  height: 100%;
  line-height: 100%;
}
.label {
  display: inline-block;
  color: var(--font-color);
  text-align: center;
  background-color: inherit;
  padding: 0.2em 0.8em;
  border: 1px solid var(--gray);
  border-radius: 1em;
}
.label:hover {
  background-color: var(--gray);
}
.label.primary {
  color: var(--white);
  background-color: var(--primary);
}
.label.primary:hover {
  background-color: var(--primaryse);
}
.label.danger {
  color: var(--white);
  background-color: var(--danger);
}
.label.danger:hover {
  background-color: var(--dangerse);
}
.label.success {
  color: var(--white);
  background-color: var(--success);
}
.label.success:hover {
  background-color: var(--successse);
}
.label.info {
  color: var(--white);
  background-color: var(--info);
}
.label.info:hover {
  background-color: var(--infose);
}
.label.warning {
  color: var(--white);
  background-color: var(--warning);
}
.label.warning:hover {
  background-color: var(--warningse);
}
.label.sm {
  font-size: 12px;
}
.label.lg {
  font-size: 0.16rem;
}
.label.xl {
  font-size: 0.2rem;
}
.article-title {
  border-left: 5px solid;
  font-weight: 600;
  padding: 0.3em 0 0.3em 1em;
  margin: 1em auto;
  border-left-color: var(--grayse);
}
.article-title.primary {
  border-left-color: var(--primary);
}
.article-title.danger {
  border-left-color: var(--danger);
}
.article-title.success {
  border-left-color: var(--success);
}
.article-title.info {
  border-left-color: var(--info);
}
.article-title.warning {
  border-left-color: var(--warning);
}
.article-title.sm {
  font-size: 12px;
}
.article-title.lg {
  font-size: 0.16rem;
}
.article-title.xl {
  font-size: 0.2rem;
}
.msgpanel {
  border-left: 5px solid;
  padding: 1em;
  margin: 1em auto;
  color: var(--font-color);
  border-bottom: 1px solid var(--gray);
  border-top: 1px solid var(--gray);
  border-right: 1px solid var(--gray);
  border-left-color: var(--grayse);
}
.msgpanel.primary {
  border-left-color: var(--primary);
}
.msgpanel.primary h1,
.msgpanel.primary h2,
.msgpanel.primary h3,
.msgpanel.primary h4,
.msgpanel.primary h5,
.msgpanel.primary h6 {
  color: var(--primary);
}
.msgpanel.danger {
  border-left-color: var(--danger);
}
.msgpanel.danger h1,
.msgpanel.danger h2,
.msgpanel.danger h3,
.msgpanel.danger h4,
.msgpanel.danger h5,
.msgpanel.danger h6 {
  color: var(--danger);
}
.msgpanel.success {
  border-left-color: var(--success);
}
.msgpanel.success h1,
.msgpanel.success h2,
.msgpanel.success h3,
.msgpanel.success h4,
.msgpanel.success h5,
.msgpanel.success h6 {
  color: var(--success);
}
.msgpanel.info {
  border-left-color: var(--info);
}
.msgpanel.info h1,
.msgpanel.info h2,
.msgpanel.info h3,
.msgpanel.info h4,
.msgpanel.info h5,
.msgpanel.info h6 {
  color: var(--info);
}
.msgpanel.warning {
  border-left-color: var(--warning);
}
.msgpanel.warning h1,
.msgpanel.warning h2,
.msgpanel.warning h3,
.msgpanel.warning h4,
.msgpanel.warning h5,
.msgpanel.warning h6 {
  color: var(--warning);
}
.sidemenu-box {
  user-select: none;
}
.sidemenu-group {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
.sidemenu-item {
  display: block;
  color: var(--font-color);
  cursor: pointer;
  text-decoration: none;
  padding: 0.4em 0 0.4em 2.4em;
  font-weight: 400;
}
.sidemenu-item:hover {
  text-decoration: none;
  color: var(--white);
}
.sidemenu-item.active {
  font-weight: 600;
  background-color: rgba(0,0,0,0.314);
}
.sidemenu-item:not(.active):hover {
  background-color: rgba(0,0,0,0.314);
}
.sidemenu-label {
  display: block;
  position: relative;
  width: 100%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
}
.sidemenu-arrleft,
.sidemenu-arrdown {
  position: absolute;
  top: 10px;
  right: 8px;
}
.sidemenu-arrleft {
  display: inline-block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: var(--font-color);
}
.sidemenu-arrdown {
  display: inline-block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: var(--font-color);
}
.sidemenu-group-close li:not(:first-child) {
  display: none;
}
.sidemenu-split {
  display: block;
  height: 1px;
  margin: 6px 8px 6px 2.4em;
  border-bottom: 1px dashed var(--gray);
}
.sidemenu-box.primary {
  background-color: var(--primary);
}
.sidemenu-box.primary .sidemenu-item.active {
  color: var(--white);
}
.sidemenu-box.primary .sidemenu-item:not(.active):hover {
  background-color: rgba(0,0,0,0.314);
}
.sidemenu-box.danger {
  background-color: var(--danger);
}
.sidemenu-box.danger .sidemenu-item.active {
  color: var(--white);
}
.sidemenu-box.danger .sidemenu-item:not(.active):hover {
  background-color: rgba(0,0,0,0.314);
}
.sidemenu-box.success {
  background-color: var(--success);
}
.sidemenu-box.success .sidemenu-item.active {
  color: var(--white);
}
.sidemenu-box.success .sidemenu-item:not(.active):hover {
  background-color: rgba(0,0,0,0.314);
}
.sidemenu-box.info {
  background-color: var(--info);
}
.sidemenu-box.info .sidemenu-item.active {
  color: var(--white);
}
.sidemenu-box.info .sidemenu-item:not(.active):hover {
  background-color: rgba(0,0,0,0.314);
}
.sidemenu-box.warning {
  background-color: var(--warning);
}
.sidemenu-box.warning .sidemenu-item.active {
  color: var(--white);
}
.sidemenu-box.warning .sidemenu-item:not(.active):hover {
  background-color: rgba(0,0,0,0.314);
}
.panel {
  border: 1px solid var(--grayse);
  padding: 4px;
}
.panel-head {
  background-color: inherit;
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
.panel-body {
  padding: 15px;
  background-color: inherit;
}
.tabs-box {
  position: relative;
}
.tabs-header {
  display: flex;
  border-bottom: 2px solid var(--grayse);
}
.tabs-label {
  flex: 0 1 auto;
  padding: 0 15px;
  height: 31px;
  line-height: 30px;
  background-color: var(--gray);
  color: var(--font-color);
  cursor: pointer;
}
.tabs-box.full .tabs-label {
  flex: 1 1 0;
}
.tabs-label.active,
.tabs-box.list .tabs-label.active {
  background-color: var(--grayse);
  color: #fff;
}
.tabs-panel {
  display: none;
}
.tabs-panel.active {
  display: block;
}
.tabs-box.list {
  display: grid;
  grid-template-columns: 108px auto;
}
.tabs-box.list .tabs-header {
  display: block;
  border: none;
  border-right: 2px solid var(--grayse);
}
.tabs-box.list .tabs-label {
  height: auto;
  line-height: normal;
  display: block;
  padding: 10px;
  background-color: var(--gray);
  color: var(--font-color);
  cursor: pointer;
  text-align: center;
}
.tabs-box.primary .tabs-header {
  border-bottom-color: var(--primary);
}
.tabs-box.list.primary .tabs-header {
  border-right-color: var(--primary);
}
.tabs-box.primary .tabs-label.active,
.tabs-box.list.primary .tabs-label.active {
  background-color: var(--primary);
}
.tabs-box.danger .tabs-header {
  border-bottom-color: var(--danger);
}
.tabs-box.list.danger .tabs-header {
  border-right-color: var(--danger);
}
.tabs-box.danger .tabs-label.active,
.tabs-box.list.danger .tabs-label.active {
  background-color: var(--danger);
}
.tabs-box.success .tabs-header {
  border-bottom-color: var(--success);
}
.tabs-box.list.success .tabs-header {
  border-right-color: var(--success);
}
.tabs-box.success .tabs-label.active,
.tabs-box.list.success .tabs-label.active {
  background-color: var(--success);
}
.tabs-box.info .tabs-header {
  border-bottom-color: var(--info);
}
.tabs-box.list.info .tabs-header {
  border-right-color: var(--info);
}
.tabs-box.info .tabs-label.active,
.tabs-box.list.info .tabs-label.active {
  background-color: var(--info);
}
.tabs-box.warning .tabs-header {
  border-bottom-color: var(--warning);
}
.tabs-box.list.warning .tabs-header {
  border-right-color: var(--warning);
}
.tabs-box.warning .tabs-label.active,
.tabs-box.list.warning .tabs-label.active {
  background-color: var(--warning);
}
.msgbox-shadow {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: #000;
  z-index: 10000;
}
.msgbox-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10001;
}
.msgbox {
  position: relative;
  width: 75vw;
  height: 120px;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 2px 16px #000;
}
.msgbox-center {
  align-self: center;
}
.msgbox-top {
  align-self: flex-start;
}
.msgbox-bottom {
  align-self: flex-end;
}
.msgbox-btn {
  position: absolute;
  bottom: 10px;
  width: 76px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid var(--grayse);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--gray);
  user-select: none;
  color: var(--font-color);
  outline: 0;
  cursor: pointer;
}
.msgbox-ok {
  right: 10px;
}
.msgbox-cancel {
  right: 96px;
}
.msgbox-btn:hover {
  background-color: var(--grayse);
}
.msgbox.primary .msgbox-btn {
  background-color: var(--primary);
  color: var(--white);
}
.msgbox.danger .msgbox-btn {
  background-color: var(--danger);
  color: var(--white);
}
.msgbox.success .msgbox-btn {
  background-color: var(--success);
  color: var(--white);
}
.msgbox.info .msgbox-btn {
  background-color: var(--info);
  color: var(--white);
}
.msgbox.warning .msgbox-btn {
  background-color: var(--warning);
  color: var(--white);
}
.msgbox.primary .msgbox-btn:hover {
  background-color: var(--primaryse);
}
.msgbox.danger .msgbox-btn:hover {
  background-color: var(--dangerse);
}
.msgbox.success .msgbox-btn:hover {
  background-color: var(--successse);
}
.msgbox.info .msgbox-btn:hover {
  background-color: var(--infose);
}
.msgbox.warning .msgbox-btn:hover {
  background-color: var(--warningse);
}
.msgbox-input {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 4px 8px;
  margin: 5px auto;
  width: 100%;
  border: 1px solid var(--grayse);
  color: var(--font-color);
  background-color: var(--white);
  outline: 0;
}
@media only screen and (min-width: 768px) {
  .msgbox {
    width: 360px;
  }
}
.pagenum {
  height: 2.7em;
  line-height: 2.7em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagenum-btns {
  font-size: 0;
  color: var(--font-color);
  background-color: #fff;
}
.pagenum-prev,
.pagenum-num,
.pagenum-active,
.pagenum-next,
.pagenum-break {
  display: inline-block;
  width: 2.7em;
  text-align: center;
  font-size: 14px;
  border: 1px solid var(--grayse);
  border-left: none;
}
.pagenum-prev:hover,
.pagenum-num:hover,
.pagenum-active:hover,
.pagenum-next:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--gray);
}
.pagenum-prev {
  border-left: 1px solid var(--grayse);
}
.pagenum-active,
.pagenum-active:hover {
  color: #fff;
  background-color: var(--grayse);
}
.pagenum-break {
  color: var(--grayse);
}
.pagenum-skip {
  margin-left: 5px;
}
.pagenum-input {
  width: 2.7em;
  height: 90%;
  text-align: center;
  border: 1px solid var(--gray);
  padding: 0;
  margin: 0 3px;
}
.pagenum-input:focus {
  outline: 2px solid var(--grayse);
}
.pagenum-ok {
  display: inline-block;
  width: 3em;
  text-align: center;
  margin-left: 5px;
  color: var(--font-color);
  border: 1px solid var(--grayse);
}
.pagenum-ok:hover {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}
.pagenum.primary .pagenum-active,
.pagenum.primary .pagenum-active:hover {
  color: var(--white);
  background-color: var(--primary);
}
.pagenum.danger .pagenum-active,
.pagenum.danger .pagenum-active:hover {
  color: var(--white);
  background-color: var(--danger);
}
.pagenum.success .pagenum-active,
.pagenum.success .pagenum-active:hover {
  color: var(--white);
  background-color: var(--success);
}
.pagenum.info .pagenum-active,
.pagenum.info .pagenum-active:hover {
  color: var(--white);
  background-color: var(--info);
}
.pagenum.warning .pagenum-active,
.pagenum.warning .pagenum-active:hover {
  color: var(--white);
  background-color: var(--warning);
}
.date-box {
  position: absolute;
  width: 308px;
  cursor: default;
  border: 1px solid var(--grayse);
  padding: 10px 5px;
  text-align: center;
  box-shadow: 1px 1px 10px var(--grayse);
  background-color: #fff;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.date-area-ymt {
  display: flex;
}
.date-area-year,
.date-area-month,
.date-area-today {
  position: relative;
  padding: 0 4px;
}
.date-area-year {
  flex: 0 1 44%;
}
.date-area-month {
  flex: 0 1 38%;
}
.date-area-today {
  flex: 0 1 18%;
}
.date-area-week {
  display: flex;
  padding: 5px 0;
}
.date-area-day {
  display: flex;
  flex-wrap: wrap;
}
.date-area-tc {
  display: flex;
  position: relative;
}
.date-area-time,
.date-area-clear,
.date-area-ok {
  border-top: 1px solid var(--grayse);
  padding-top: 10px;
}
.date-area-time {
  flex: 0 1 64%;
}
.date-area-clear,
.date-area-ok {
  flex: 0 1 18%;
  padding-left: 4px;
  padding-right: 4px;
}
.date-select-year,
.date-select-month,
.date-select-hour,
.date-select-minute,
.date-select-second {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px solid var(--grayse);
  border-radius: 4px;
  border-top: none;
  background-color: var(--gray);
  z-index: 9999;
}
.date-select-year {
  height: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 0;
}
.date-select-hour,
.date-select-minute,
.date-select-second {
  bottom: 48px;
  top: 0;
}
.date-option-year,
.date-option-month,
.date-option-hour,
.date-option-minute,
.date-option-second,
.date-option-title {
  border-bottom: 1px solid var(--grayse);
  font-weight: 500;
}
.date-option-year,
.date-option-month {
  flex: 0 1 33.33333333%;
  height: 40px;
  line-height: 40px;
}
.date-option-year:hover,
.date-option-month:hover,
.date-option-hour:hover,
.date-option-minute:hover,
.date-option-second:hover {
  background-color: var(--grayse);
}
.date-option-year.selected,
.date-option-month.selected {
  background-color: var(--primary);
}
.date-option-hour {
  flex: 0 1 14.66666666%;
  line-height: 60px;
}
.date-option-minute,
.date-option-second {
  flex: 0 1 10%;
  line-height: 40px;
}
.date-option-title {
  color: var(--grayse);
}
.date-btn-year,
.date-btn-month,
.date-btn-today,
.date-btn-prev,
.date-btn-next,
.date-btn-time,
.date-btn-clear,
.date-btn-ok {
  display: inline-block;
  font-weight: 600;
  border: 1px solid var(--grayse);
  border-radius: 3px;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
}
.date-btn-year,
.date-btn-month {
  color: var(--font-color);
  width: calc(100% - 52px);
}
.date-btn-today,
.date-btn-prev,
.date-btn-next {
  color: var(--primary);
}
.date-btn-today,
.date-btn-clear,
.date-btn-ok {
  width: 100%;
}
.date-btn-clear,
.date-btn-ok {
  font-weight: 500;
  color: var(--font-color);
}
.date-btn-prev,
.date-btn-next {
  width: 26px;
}
.date-btn-clear:hover,
.date-btn-ok:hover,
.date-btn-prev:hover,
.date-btn-next:hover {
  background-color: var(--gray);
}
.date-btn-time {
  font-weight: 500;
  width: 32px;
  margin: 0 5px;
}
.date-btn-time.open {
  color: #fff;
  background-color: var(--primary);
}
.date-item-week,
.date-item-day {
  flex: 0 1 14.28571428%;
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
}
.date-item-week {
  font-weight: 600;
}
.date-item-weekend {
  color: #c00;
}
.date-item-day:hover {
  background-color: var(--gray);
}
.date-item-dayoutmonth {
  opacity: 0.3;
}
.date-item-day.selected:not(.date-item-today) {
  background-color: var(--grayse);
}
.date-item-today,
.date-item-today:hover {
  color: #fff;
  background-color: var(--primary);
}
@media only screen and (max-width: 640px) {
  .date-box {
    position: fixed;
    width: calc(100vw - 2px);
    height: 372px;
    border-color: #007bff;
    right: 0;
    margin: auto;
  }
  .date-select-year {
    height: 240px;
  }
  .date-option-year,
  .date-option-month {
    height: 48px;
    line-height: 48px;
  }
  .date-btn-year,
  .date-btn-month,
  .date-btn-today,
  .date-btn-prev,
  .date-btn-next,
  .date-btn-time,
  .date-btn-clear,
  .date-btn-ok {
    height: 40px;
    line-height: 40px;
  }
  .date-btn-year,
  .date-btn-month {
    width: calc(100% - 80px);
  }
  .date-btn-prev,
  .date-btn-next {
    width: 40px;
  }
  .date-item-week,
  .date-item-day {
    height: 36px;
    line-height: 36px;
  }
}
.tabsbox {
  display: flex;
  position: relative;
  height: 44px;
  border: 2px solid var(--gray);
  background-color: var(--grayse);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabsbox-left,
.tabsbox-right {
  flex: 0 1 36px;
  cursor: pointer;
  padding: 8px 0;
  background-color: #fff;
}
.tabsbox-right {
  text-align: right;
}
.tabsbox-left:before,
.tabsbox-right:before {
  content: '';
  vertical-align: middle;
}
.tabsbox-left:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: var(--grayse);
}
.tabsbox-right:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left-color: var(--grayse);
}
.tabsbox-left:hover,
.tabsbox-right:hover {
  background-color: var(--gray);
}
.tabsbox-left:active,
.tabsbox-right:active {
  background-color: var(--graylt);
}
.tabsbox-menutitle {
  width: 80px;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}
.tabsbox-menutitle:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--grayse);
  margin-left: 4px;
  vertical-align: middle;
}
.tabsbox-menutitle:hover {
  background-color: var(--gray);
}
.tabsbox-menutitle:hover ~ .tabsbox-menugroup {
  display: block;
}
.tabsbox-menugroup {
  display: none;
  position: absolute;
  top: 39px;
  right: 0;
  width: 100px;
  color: var(--grayse);
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--grayse);
  border-top: none;
  cursor: pointer;
}
.tabsbox-menugroup:hover {
  display: block;
}
.tabsbox-close-all,
.tabsbox-close-other,
.tabsbox-goto-active {
  padding: 10px;
  display: block;
}
.tabsbox-goto-active {
  border-bottom: 1px solid var(--gray);
}
.tabsbox-close-all:hover,
.tabsbox-close-other:hover,
.tabsbox-goto-active:hover {
  color: var(--font-color);
  background-color: var(--grayse);
}
.tabsbox-navbox {
  flex: 1 1 0;
  width: 0;
  overflow: hidden;
}
.tabsbox-nav {
  position: relative;
  margin-right: 100px;
  white-space: nowrap;
  overflow-x: auto;
  background-color: var(--graylt);
}
.tabsbox-tab {
  display: inline-block;
  position: relative;
  padding: 10px 15px;
  height: 40px;
  margin: 0 2px;
  background-color: var(--grayse);
  cursor: pointer;
}
.tabsbox-tab:hover {
  color: var(--graylt);
  padding-right: 24px;
  transition: padding-right 0.3s;
}
.tabsbox-tab.active {
  color: #fff;
  background-color: var(--font-color);
}
.tabsbox-tabclose {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  top: 0;
  right: 0;
  background-color: #c00;
  text-decoration: none;
}
.tabsbox-tab:hover .tabsbox-tabclose {
  display: inline-block;
}
.tabsbox.primary {
  border-bottom-color: var(--primary);
}
.tabsbox.primary .tabsbox-tab.active {
  background-color: var(--primary);
}
.tabsbox.primary .tabsbox-menugroup {
  border-left-color: var(--primary);
  border-bottom-color: var(--primary);
}
.tabsbox.primary .tabsbox-left:before {
  border-right-color: var(--primary);
}
.tabsbox.primary .tabsbox-right:before {
  border-left-color: var(--primary);
}
.tabsbox.danger {
  border-bottom-color: var(--danger);
}
.tabsbox.danger .tabsbox-tab.active {
  background-color: var(--danger);
}
.tabsbox.danger .tabsbox-menugroup {
  border-left-color: var(--danger);
  border-bottom-color: var(--danger);
}
.tabsbox.danger .tabsbox-left:before {
  border-right-color: var(--danger);
}
.tabsbox.danger .tabsbox-right:before {
  border-left-color: var(--danger);
}
.tabsbox.success {
  border-bottom-color: var(--success);
}
.tabsbox.success .tabsbox-tab.active {
  background-color: var(--success);
}
.tabsbox.success .tabsbox-menugroup {
  border-left-color: var(--success);
  border-bottom-color: var(--success);
}
.tabsbox.success .tabsbox-left:before {
  border-right-color: var(--success);
}
.tabsbox.success .tabsbox-right:before {
  border-left-color: var(--success);
}
.tabsbox.info {
  border-bottom-color: var(--info);
}
.tabsbox.info .tabsbox-tab.active {
  background-color: var(--info);
}
.tabsbox.info .tabsbox-menugroup {
  border-left-color: var(--info);
  border-bottom-color: var(--info);
}
.tabsbox.info .tabsbox-left:before {
  border-right-color: var(--info);
}
.tabsbox.info .tabsbox-right:before {
  border-left-color: var(--info);
}
.tabsbox.warning {
  border-bottom-color: var(--warning);
}
.tabsbox.warning .tabsbox-tab.active {
  background-color: var(--warning);
}
.tabsbox.warning .tabsbox-menugroup {
  border-left-color: var(--warning);
  border-bottom-color: var(--warning);
}
.tabsbox.warning .tabsbox-left:before {
  border-right-color: var(--warning);
}
.tabsbox.warning .tabsbox-right:before {
  border-left-color: var(--warning);
}
.list {
  padding-left: 0;
  list-style: none;
}
.list > li {
  padding: 0.1em 0;
}
.list > li > * {
  vertical-align: middle;
}
.list .list {
  padding-left: 2em;
}
.list.square > li::before,
.list.cir > li::before {
  content: '';
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background-color: #000;
  margin-right: 0.5em;
  vertical-align: middle;
}
.list.cir > li::before {
  border-radius: 50%;
}
.list.square.primary > li::before {
  background-color: var(--primary);
}
.list.cir.primary > li::before {
  background-color: var(--primary);
}
.list.square.danger > li::before {
  background-color: var(--danger);
}
.list.cir.danger > li::before {
  background-color: var(--danger);
}
.list.square.success > li::before {
  background-color: var(--success);
}
.list.cir.success > li::before {
  background-color: var(--success);
}
.list.num,
.list.abc {
  counter-reset: li-item;
}
.list.num > li::before,
.list.abc > li::before {
  counter-increment: li-item;
  vertical-align: middle;
}
.list.num > li::before {
  content: counters(li-item, '.') '. ';
}
.list.abc > li::before {
  content: '(' counters(li-item, '.', lower-latin) ') ';
}
.onoff-check {
  position: absolute;
  opacity: 0;
}
.onoff-label {
  display: inline-block;
  width: 5em;
  height: 2em;
  line-height: 2em;
  border: 1px solid var(--grayse);
  border-radius: 20px;
  background-color: var(--gray);
  user-select: none;
  transition: background-color 1s;
}
.onoff-label:after {
  content: 'OFF';
  padding-left: 10px;
}
.onoff-check:checked + .onoff-label {
  text-align: right;
  background-color: var(--font-color);
  color: #fff;
}
.onoff-check:checked + .onoff-label:after {
  content: 'ON';
  padding-right: 10px;
}
.onoff-label.sm {
  font-size: 12px;
}
.onoff-label.lg {
  font-size: 0.16rem;
}
.onoff-label.xl {
  font-size: 0.2rem;
}
.onoff-check:checked + .onoff-label.primary {
  background-color: var(--primary);
  border-color: var(--primaryse);
}
.onoff-check:checked + .onoff-label.danger {
  background-color: var(--danger);
  border-color: var(--dangerse);
}
.onoff-check:checked + .onoff-label.success {
  background-color: var(--success);
  border-color: var(--successse);
}
.onoff-check:checked + .onoff-label.info {
  background-color: var(--info);
  border-color: var(--infose);
}
.onoff-check:checked + .onoff-label.warning {
  background-color: var(--warning);
  border-color: var(--warningse);
}
.msgshow {
  padding: 0.8em;
  background-color: var(--graylt);
  border-radius: 4px;
}
.msgshow .title {
  font-weight: 600;
}
.msgshow .text {
  margin-left: 1em;
}
.msgshow .close {
  float: right;
  cursor: pointer;
}
.msgshow.primary {
  background-color: var(--primarylt);
  color: var(--primaryse);
}
.msgshow.danger {
  background-color: var(--dangerlt);
  color: var(--dangerse);
}
.msgshow.success {
  background-color: var(--successlt);
  color: var(--successse);
}
.msgshow.info {
  background-color: var(--infolt);
  color: var(--infose);
}
.msgshow.warning {
  background-color: var(--warninglt);
  color: var(--warningse);
}
.msgshow.sm {
  font-size: 12px;
}
.msgshow.lg {
  font-size: 0.16rem;
}
.msgshow.xl {
  font-size: 0.2rem;
}
.mnavmenu {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--grayse);
  text-align: center;
  background-color: var(--white);
  user-select: none;
}
.mnavmenu-group {
  position: relative;
  flex: 1 1 0;
}
.mnavmenu-group.split {
  border-right: 1px solid var(--gray);
}
.mnavmenu-label {
  display: block;
}
.mnavmenu-itembox {
  position: absolute;
  bottom: 1.8em;
  width: 100%;
  background-color: var(--white);
  z-index: 10000;
  list-style: none;
  box-shadow: 2px -2px 5px var(--graylt);
}
.mnavmenu-itembox.close {
  display: none;
}
.mnavmenu-item {
  display: block;
  padding: 8px 0;
  margin: 4px 0;
}
.mnavmenu-split {
  display: block;
  height: 1px;
  width: 90%;
  margin: 0 auto;
  border-bottom: 1px dashed var(--gray);
}
.mnavmenu-menu {
  display: block;
}
.mdirbar {
  display: grid;
  grid-template-columns: 15% auto 15%;
  place-items: center;
  background-color: var(--white);
  border-bottom: 1px solid var(--graylt);
  user-select: none;
  box-shadow: 0 2px 5px var(--graylt);
}
.mdirbar .back {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 2px solid #333;
  border-right: none;
  border-top: none;
  padding-left: 10px;
  transform: rotate(45deg);
  margin: 0 auto;
}
.mdirbar .back:active {
  border-color: #ff4500;
}
.pageload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  animation: pageloading 2.4s linear infinite;
}
@-moz-keyframes pageloading {
  0% {
    letter-spacing: 1px;
  }
  25% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 9px;
  }
  75% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 1px;
  }
}
@-webkit-keyframes pageloading {
  0% {
    letter-spacing: 1px;
  }
  25% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 9px;
  }
  75% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 1px;
  }
}
@-o-keyframes pageloading {
  0% {
    letter-spacing: 1px;
  }
  25% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 9px;
  }
  75% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 1px;
  }
}
@keyframes pageloading {
  0% {
    letter-spacing: 1px;
  }
  25% {
    letter-spacing: 5px;
  }
  50% {
    letter-spacing: 9px;
  }
  75% {
    letter-spacing: 5px;
  }
  100% {
    letter-spacing: 1px;
  }
}
.kvpair {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  place-items: center;
}
.kvpair.sm {
  font-size: 12px;
}
.kvpair.lg {
  font-size: 0.16rem;
}
.kvpair.xl {
  font-size: 0.2rem;
}
.kvpair .key,
.kvpair .val {
  padding: 0.08rem;
  border: 1px solid var(--gray);
}
.kvpair .val {
  border-left: none;
}
.kvpair .key.cir {
  border-radius: 6px 0 0 6px;
}
.kvpair .val.cir {
  border-radius: 0 6px 6px 0;
}
.menubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid var(--gray);
  border-left: none;
  border-right: none;
  user-select: none;
  box-shadow: 0 2px 5px var(--graylt);
}
.menubar > :first-child {
  padding-left: 20px;
}
.menubar .arr {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  border: 2px solid #808080;
  border-left: none;
  border-bottom: none;
  margin-right: 25px;
  transform: rotate(45deg);
}
.menubar:active .arr {
  border-color: #ff4500;
}