*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
:root {
  --font-size: 14px;
  --font-color: #333;
  --grayback: #ecf0f1;
  --primary: #690;
  --danger: #c00;
  --success: #090;
  --primaryse: #578200;
  --dangerse: #ad0000;
  --successse: #008200;
  --graybackse: #c3cfd3;
}
html {
  font-size: 100px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
  font-family: 'Microsoft YaHei', -apple-system, BlinkMacSystemFont, sans-serif, '\5B8B\4F53';
  font-size: var(--font-size);
  color: var(--font-color);
  background-color: #fff;
}
img {
  vertical-align: middle;
}
.img-autosize {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-circle {
  border-radius: 50%;
}
.text-overflow,
.sidemenu-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-primary {
  color: var(--primary) !important;
}
.text-danger {
  color: var(--danger) !important;
}
.text-success {
  color: var(--success) !important;
}
.text-gray {
  color: var(--grayback) !important;
}
.text-primaryse {
  color: var(--primaryse) !important;
}
.text-dangerse {
  color: var(--dangerse) !important;
}
.text-successse {
  color: var(--successse) !important;
}
.text-grayse {
  color: var(--graybackse) !important;
}
.bg-primary {
  background-color: var(--primary) !important;
}
.bg-danger {
  background-color: var(--danger) !important;
}
.bg-success {
  background-color: var(--success) !important;
}
.bg-gray {
  background-color: var(--grayback) !important;
}
.bg-primaryse {
  background-color: var(--primaryse) !important;
}
.bg-dangerse {
  background-color: var(--dangerse) !important;
}
.bg-successse {
  background-color: var(--successse) !important;
}
.bg-grayse {
  background-color: var(--graybackse) !important;
}
.mg-5 {
  margin: 5px;
}
.mg-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.mg-t-5 {
  margin-top: 5px;
}
.mg-b-5 {
  margin-bottom: 5px;
}
.mg-lr-5 {
  margin-left: 5px;
  margin-right: 5px;
}
.mg-l-5 {
  margin-left: 5px;
}
.mg-r-5 {
  margin-right: 5px;
}
.pd-5 {
  padding: 5px;
}
.pd-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.pd-t-5 {
  padding-top: 5px;
}
.pd-b-5 {
  padding-bottom: 5px;
}
.pd-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.pd-l-5 {
  padding-left: 5px;
}
.pd-r-5 {
  padding-right: 5px;
}
.mg-10 {
  margin: 10px;
}
.mg-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-b-10 {
  margin-bottom: 10px;
}
.mg-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
.mg-l-10 {
  margin-left: 10px;
}
.mg-r-10 {
  margin-right: 10px;
}
.pd-10 {
  padding: 10px;
}
.pd-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pd-t-10 {
  padding-top: 10px;
}
.pd-b-10 {
  padding-bottom: 10px;
}
.pd-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.pd-l-10 {
  padding-left: 10px;
}
.pd-r-10 {
  padding-right: 10px;
}
.mg-15 {
  margin: 15px;
}
.mg-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.mg-t-15 {
  margin-top: 15px;
}
.mg-b-15 {
  margin-bottom: 15px;
}
.mg-lr-15 {
  margin-left: 15px;
  margin-right: 15px;
}
.mg-l-15 {
  margin-left: 15px;
}
.mg-r-15 {
  margin-right: 15px;
}
.pd-15 {
  padding: 15px;
}
.pd-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pd-t-15 {
  padding-top: 15px;
}
.pd-b-15 {
  padding-bottom: 15px;
}
.pd-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.pd-l-15 {
  padding-left: 15px;
}
.pd-r-15 {
  padding-right: 15px;
}
.mg-20 {
  margin: 20px;
}
.mg-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mg-t-20 {
  margin-top: 20px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.mg-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.mg-l-20 {
  margin-left: 20px;
}
.mg-r-20 {
  margin-right: 20px;
}
.pd-20 {
  padding: 20px;
}
.pd-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pd-t-20 {
  padding-top: 20px;
}
.pd-b-20 {
  padding-bottom: 20px;
}
.pd-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.pd-l-20 {
  padding-left: 20px;
}
.pd-r-20 {
  padding-right: 20px;
}
.mg-25 {
  margin: 25px;
}
.mg-tb-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.mg-t-25 {
  margin-top: 25px;
}
.mg-b-25 {
  margin-bottom: 25px;
}
.mg-lr-25 {
  margin-left: 25px;
  margin-right: 25px;
}
.mg-l-25 {
  margin-left: 25px;
}
.mg-r-25 {
  margin-right: 25px;
}
.pd-25 {
  padding: 25px;
}
.pd-tb-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pd-t-25 {
  padding-top: 25px;
}
.pd-b-25 {
  padding-bottom: 25px;
}
.pd-lr-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.pd-l-25 {
  padding-left: 25px;
}
.pd-r-25 {
  padding-right: 25px;
}
.mg-30 {
  margin: 30px;
}
.mg-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.mg-t-30 {
  margin-top: 30px;
}
.mg-b-30 {
  margin-bottom: 30px;
}
.mg-lr-30 {
  margin-left: 30px;
  margin-right: 30px;
}
.mg-l-30 {
  margin-left: 30px;
}
.mg-r-30 {
  margin-right: 30px;
}
.pd-30 {
  padding: 30px;
}
.pd-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pd-t-30 {
  padding-top: 30px;
}
.pd-b-30 {
  padding-bottom: 30px;
}
.pd-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.pd-l-30 {
  padding-left: 30px;
}
.pd-r-30 {
  padding-right: 30px;
}
.mg-35 {
  margin: 35px;
}
.mg-tb-35 {
  margin-top: 35px;
  margin-bottom: 35px;
}
.mg-t-35 {
  margin-top: 35px;
}
.mg-b-35 {
  margin-bottom: 35px;
}
.mg-lr-35 {
  margin-left: 35px;
  margin-right: 35px;
}
.mg-l-35 {
  margin-left: 35px;
}
.mg-r-35 {
  margin-right: 35px;
}
.pd-35 {
  padding: 35px;
}
.pd-tb-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}
.pd-t-35 {
  padding-top: 35px;
}
.pd-b-35 {
  padding-bottom: 35px;
}
.pd-lr-35 {
  padding-left: 35px;
  padding-right: 35px;
}
.pd-l-35 {
  padding-left: 35px;
}
.pd-r-35 {
  padding-right: 35px;
}
.mg-40 {
  margin: 40px;
}
.mg-tb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.mg-t-40 {
  margin-top: 40px;
}
.mg-b-40 {
  margin-bottom: 40px;
}
.mg-lr-40 {
  margin-left: 40px;
  margin-right: 40px;
}
.mg-l-40 {
  margin-left: 40px;
}
.mg-r-40 {
  margin-right: 40px;
}
.pd-40 {
  padding: 40px;
}
.pd-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.pd-t-40 {
  padding-top: 40px;
}
.pd-b-40 {
  padding-bottom: 40px;
}
.pd-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}
.pd-l-40 {
  padding-left: 40px;
}
.pd-r-40 {
  padding-right: 40px;
}
.mg-45 {
  margin: 45px;
}
.mg-tb-45 {
  margin-top: 45px;
  margin-bottom: 45px;
}
.mg-t-45 {
  margin-top: 45px;
}
.mg-b-45 {
  margin-bottom: 45px;
}
.mg-lr-45 {
  margin-left: 45px;
  margin-right: 45px;
}
.mg-l-45 {
  margin-left: 45px;
}
.mg-r-45 {
  margin-right: 45px;
}
.pd-45 {
  padding: 45px;
}
.pd-tb-45 {
  padding-top: 45px;
  padding-bottom: 45px;
}
.pd-t-45 {
  padding-top: 45px;
}
.pd-b-45 {
  padding-bottom: 45px;
}
.pd-lr-45 {
  padding-left: 45px;
  padding-right: 45px;
}
.pd-l-45 {
  padding-left: 45px;
}
.pd-r-45 {
  padding-right: 45px;
}
.mg-50 {
  margin: 50px;
}
.mg-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mg-t-50 {
  margin-top: 50px;
}
.mg-b-50 {
  margin-bottom: 50px;
}
.mg-lr-50 {
  margin-left: 50px;
  margin-right: 50px;
}
.mg-l-50 {
  margin-left: 50px;
}
.mg-r-50 {
  margin-right: 50px;
}
.pd-50 {
  padding: 50px;
}
.pd-tb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pd-t-50 {
  padding-top: 50px;
}
.pd-b-50 {
  padding-bottom: 50px;
}
.pd-lr-50 {
  padding-left: 50px;
  padding-right: 50px;
}
.pd-l-50 {
  padding-left: 50px;
}
.pd-r-50 {
  padding-right: 50px;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
@media only screen and (min-width: 576px) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
}
.grids-1 {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  overflow: hidden;
}
.grids-2 {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  overflow: hidden;
}
.grids-3 {
  display: grid;
  grid-template-columns: repeat(3, 33.33333333333333%);
  overflow: hidden;
}
.grids-4 {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  overflow: hidden;
}
.grids-5 {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  overflow: hidden;
}
.grids-6 {
  display: grid;
  grid-template-columns: repeat(6, 16.666666666666664%);
  overflow: hidden;
}
.grids-7 {
  display: grid;
  grid-template-columns: repeat(7, 14.285714285714285%);
  overflow: hidden;
}
.grids-8 {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  overflow: hidden;
}
.grids-9 {
  display: grid;
  grid-template-columns: repeat(9, 11.11111111111111%);
  overflow: hidden;
}
.grids-10 {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  overflow: hidden;
}
.grids-11 {
  display: grid;
  grid-template-columns: repeat(11, 9.090909090909092%);
  overflow: hidden;
}
.grids-12 {
  display: grid;
  grid-template-columns: repeat(12, 8.333333333333332%);
  overflow: hidden;
}
.grids {
  display: flex;
  flex-wrap: wrap;
}
.grid {
  flex: 1 1 0;
  overflow: hidden;
}
.grid-1 {
  flex: 0 1 8.333333333333332%;
  overflow: hidden;
}
.grid-2 {
  flex: 0 1 16.666666666666664%;
  overflow: hidden;
}
.grid-3 {
  flex: 0 1 25%;
  overflow: hidden;
}
.grid-4 {
  flex: 0 1 33.33333333333333%;
  overflow: hidden;
}
.grid-5 {
  flex: 0 1 41.66666666666667%;
  overflow: hidden;
}
.grid-6 {
  flex: 0 1 50%;
  overflow: hidden;
}
.grid-7 {
  flex: 0 1 58.333333333333336%;
  overflow: hidden;
}
.grid-8 {
  flex: 0 1 66.66666666666666%;
  overflow: hidden;
}
.grid-9 {
  flex: 0 1 75%;
  overflow: hidden;
}
.grid-10 {
  flex: 0 1 83.33333333333334%;
  overflow: hidden;
}
.grid-11 {
  flex: 0 1 91.66666666666666%;
  overflow: hidden;
}
.grid-12 {
  flex: 0 1 100%;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
h1,
h2,
h3 {
  margin: calc(var(--font-size) * 1.5) auto;
}
h4,
h5,
h6 {
  margin: var(--font-size) auto;
}
h1 {
  font-size: calc(var(--font-size) * 2.6);
}
h2 {
  font-size: calc(var(--font-size) * 2.2);
}
h3 {
  font-size: calc(var(--font-size) * 1.8);
}
h4 {
  font-size: calc(var(--font-size) * 1.3);
}
h5 {
  font-size: var(--font-size);
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 var(--font-size);
}
.line {
  height: 1px;
  background-color: var(--graybackse);
  border: none;
  outline: none;
  margin: calc(var(--font-size) * 2) auto;
  padding: 0;
}
.line.primary {
  background-color: var(--primary);
}
.line.danger {
  background-color: var(--danger);
}
.line.success {
  background-color: var(--success);
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

  /*禁用(样式来自bt)*/
  .btn.disabled{
      cursor: not-allowed;
      filter: alpha(opacity = 65);
      -webkit-box-shadow: none;
      box-shadow: none;
      opacity: 0.65;
  }
  .btn.loading{
      background-image: url(data:image/gif;base64,R0lGODlhEAALALMMAOXp8a2503CHtOrt9L3G2+Dl7vL0+J6sy4yew1Jvp/T2+e/y9v///wAAAAAAAAAAACH/C05FVFNDQVBFMi4wAwEAAAAh+QQFCwAMACwAAAAAEAALAAAEK5DJSau91KxlpObepinKIi2kyaAlq7pnCq9p3NZ0aW/47H4dBjAEwhiPlAgAIfkECQsADAAsAAAAAAQACwAABA9QpCQRmhbflPnu4HdJVAQAIfkECQsADAAsAAAAABAACwAABDKQySlSEnOGc4JMCJJk0kEQxxeOpImqIsm4KQPG7VnfbEbDvcnPtpINebJNByiTVS6yCAAh+QQJCwAMACwAAAAAEAALAAAEPpDJSaVISVQWzglSgiAJUBSAdBDEEY5JMQyFyrqMSMq03b67WY2x+uVgvGERp4sJfUyYCQUFJjadj3WzuWQiACH5BAkLAAwALAAAAAAQAAsAAAQ9kMlJq73hnGDWMhJQFIB0EMSxKMoiFcNQmKjKugws0+navrEZ49S7AXfDmg+nExIPnU9oVEqmLpXMBouNAAAh+QQFCwAMACwAAAAAEAALAAAEM5DJSau91KxlpOYSUBTAoiiLZKJSMQzFmjJy+8bnXDMuvO89HIuWs8E+HQYyNAJgntBKBAAh+QQFFAAMACwMAAIABAAHAAAEDNCsJZWaFt+V+ZVUBAA7);
      background-repeat: no-repeat;
      background-position: right 8px center;
      padding-right: 2.2em;
      cursor: wait;
  }
.btn.cir {
  border-radius: 4px;
}
.btn.block {
  display: block;
}
.btn {
  display: inline-block;
  padding: 0.4em 0.7em;
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--primary);
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--grayback);
  cursor: pointer;
  outline: none;
  user-select: none;
  transition: background-color 0.3s;
}
.btn:hover {
  color: var(--primaryse);
  background-color: var(--grayback);
  border: 1px solid var(--graybackse);
  text-decoration: none;
}
.btn.primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primaryse);
}
.btn.primary:hover {
  color: #fff;
  background-color: var(--primaryse);
  border: 1px solid var(--primaryse);
  text-decoration: none;
}
.btn.danger {
  color: #fff;
  background-color: var(--danger);
  border-color: var(--dangerse);
}
.btn.danger:hover {
  color: #fff;
  background-color: var(--dangerse);
  border: 1px solid var(--dangerse);
  text-decoration: none;
}
.btn.success {
  color: #fff;
  background-color: var(--success);
  border-color: var(--successse);
}
.btn.success:hover {
  color: #fff;
  background-color: var(--successse);
  border: 1px solid var(--successse);
  text-decoration: none;
}
.btn.sm {
  font-size: 12px;
}
.btn.lg {
  font-size: 18px;
}
.btn.xl {
  font-size: 24px;
}
.btn.link {
  color: var(--primary);
  border-color: transparent;
  background-color: transparent;
}
.btn.link:hover {
  color: var(--primary);
  text-decoration: underline;
  background-color: transparent;
}
.btn.link:active {
  color: var(--primaryse);
  box-shadow: none;
}
.btn-group {
  display: inline-flex;
}
.btn-group > .btn {
  flex: auto;
}
.btn-group.cir > .btn:first-child {
  border-radius: 4px 0 0 4px;
}
.btn-group.cir > .btn:last-child {
  border-radius: 0 4px 4px 0;
}
.btn-list-group {
  position: relative;
}
.btn-list-group:hover .btn-list-area {
  display: block;
}
.btn-list-group > .btn:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 0.4em solid transparent;
  border-top-color: var(--font-color);
  vertical-align: middle;
  margin-left: 4px;
}
.btn-list-area {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
}
.btn-list-area .btn {
  display: block;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table.border {
  border: 1px solid var(--grayback);
}
.table.border-all,
.table.border-all th,
.table.border-all td {
  border: 1px solid var(--graybackse);
}
.table.hover tr:nth-child(even) {
  background-color: var(--grayback);
}
.table.hover tr:hover {
  background-color: var(--graybackse);
}
.table th {
  border-bottom: 2px solid var(--graybackse);
  vertical-align: bottom;
  padding: 5px;
  text-align: left;
}
.table td {
  border-bottom: 1px solid var(--grayback);
  vertical-align: middle;
  padding: 5px;
}
::-ms-clear,
::-ms-reveal {
  display: none;
}
.input-label {
  display: block;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
}
.input-text {
  border: 1px solid var(--graybackse);
  transition: border-color 0.3s;
  width: 100%;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0.25em;
}
.select {
  border: 1px solid var(--graybackse);
  transition: border-color 0.3s;
  width: 100%;
  height: 2.4em;
  line-height: 2.4em;
  padding: 0.25em;
}
.textarea {
  border: 1px solid var(--graybackse);
  transition: border-color 0.3s;
  width: 100%;
  height: 100px;
  padding: 4px;
  resize: none;
}
.textarea-label {
  display: block;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.input-file-box {
  position: relative;
  height: 28px;
  line-height: 28px;
}
.input-file {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: none;
  cursor: pointer;
  z-index: 11;
}
.input-file-label {
  position: absolute;
  height: 100%;
  border: 1px solid var(--graybackse);
  transition: border-color 0.3s;
  width: 100%;
  color: #555;
  padding: 0 8px;
  z-index: 10;
  overflow: hidden /* 超出时隐藏 */;
  text-overflow: ellipsis /* 文本超出时省略号 */;
  white-space: nowrap /* 不许换行 */;
}
.input-check {
  position: absolute;
  opacity: 0;
}
.input-check-label {
  z-index: 10;
  cursor: pointer;
}
.input-check-label .check,
.input-check-label .radio {
  display: inline-block;
  position: relative;
  height: 1.2em;
  width: 1.2em;
  margin-right: 4px;
  border: 1px solid var(--graybackse);
  background-color: var(--grayback);
  vertical-align: text-bottom;
}
.input-check-label .radio {
  border-radius: 50%;
}
.input-check:checked + .input-check-label .check:after {
  border-width: 3px;
}
.input-check-label .check:after {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  content: '';
  width: 0.7em;
  height: 1em;
  border: 0 solid var(--font-color);
  border-top: none;
  border-left: none;
  background: transparent;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: border-width 0.3s;
}
.input-check:checked + .input-check-label .radio:after {
  width: 0.5em;
  height: 0.5em;
}
.input-check-label .radio:after {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  content: '';
  width: 0;
  height: 0;
  background-color: var(--font-color);
  border-radius: 50%;
  transition: width, height 0.3s;
}
.input-check:checked + .input-check-label.primary .check {
  background-color: var(--primary);
}
.input-check:checked + .input-check-label.primary .check:after {
  border-color: #fff;
}
.input-check:checked + .input-check-label.primary .radio {
  border-color: var(--primary);
}
.input-check:checked + .input-check-label.primary .radio:after {
  background-color: var(--primary);
}
.input-check:checked + .input-check-label.danger .check {
  background-color: var(--danger);
}
.input-check:checked + .input-check-label.danger .check:after {
  border-color: #fff;
}
.input-check:checked + .input-check-label.danger .radio {
  border-color: var(--danger);
}
.input-check:checked + .input-check-label.danger .radio:after {
  background-color: var(--danger);
}
.input-check:checked + .input-check-label.success .check {
  background-color: var(--success);
}
.input-check:checked + .input-check-label.success .check:after {
  border-color: #fff;
}
.input-check:checked + .input-check-label.success .radio {
  border-color: var(--success);
}
.input-check:checked + .input-check-label.success .radio:after {
  background-color: var(--success);
}
.input-label.sm {
  font-size: 12px;
}
.textarea-label.sm {
  font-size: 12px;
}
.input-text.sm {
  font-size: 12px;
}
.select.sm {
  font-size: 12px;
}
.input-check-label.sm {
  font-size: 12px;
}
.input-label.lg {
  font-size: calc(var(--font-size) * 1.25);
}
.textarea-label.lg {
  font-size: calc(var(--font-size) * 1.25);
}
.input-text.lg {
  font-size: calc(var(--font-size) * 1.25);
}
.select.lg {
  font-size: calc(var(--font-size) * 1.25);
}
.input-check-label.lg {
  font-size: calc(var(--font-size) * 1.25);
}
.input-label.xl {
  font-size: calc(var(--font-size) * 1.6);
}
.textarea-label.xl {
  font-size: calc(var(--font-size) * 1.6);
}
.input-text.xl {
  font-size: calc(var(--font-size) * 1.6);
}
.select.xl {
  font-size: calc(var(--font-size) * 1.6);
}
.input-check-label.xl {
  font-size: calc(var(--font-size) * 1.6);
}
.input-text:hover,
.textarea:hover,
.select:hover,
.input-file:hover + .input-file-label {
  border-color: var(--primary);
}
.input-text:focus,
.textarea:focus,
.input-file:focus + .input-file-label,
.select:focus {
  outline: 2px solid var(--primary);
}
.form-table-box {
  border: 1px solid var(--graybackse);
}
.form-table-box .grids:not(:last-child) {
  border-bottom: 1px solid var(--graybackse);
}
.form-table-box .grids [class*=grid]:not(:last-child) {
  border-right: 1px solid var(--graybackse);
}
.form-table-box .input-text,
.form-table-box .textarea {
  border: none;
}
.form-table-box .input-text:hover,
.form-table-box .input-text:focus,
.form-table-box .textarea:hover,
.form-table-box .textarea:focus {
  background-color: var(--grayback);
  outline: none;
}
.form-table-box .textarea,
.form-table-box .input-text {
  height: 100%;
  line-height: 100%;
}
.label {
  display: inline-block;
  font-size: var(--font-size);
  color: var(--font-color);
  text-align: center;
  background-color: #fff;
  padding: 0.2em 0.8em;
  border: 1px solid var(--grayback);
  border-radius: 1em;
}
.label:hover {
  background-color: var(--grayback);
  border-color: var(--graybackse);
}
.label.primary {
  color: #fff;
  background-color: var(--primary);
}
.label.danger {
  color: #fff;
  background-color: var(--danger);
}
.label.success {
  color: #fff;
  background-color: var(--success);
}
.label.primary:hover {
  background-color: var(--primaryse);
  border-color: var(--primaryse);
}
.label.danger:hover {
  background-color: var(--dangerse);
  border-color: var(--dangerse);
}
.label.success:hover {
  background-color: var(--successse);
  border-color: var(--successse);
}
.label.sm {
  font-size: 12px;
}
.label.lg {
  font-size: calc(var(--font-size) * 1.25);
}
.label.xl {
  font-size: calc(var(--font-size) * 1.6);
}
.article-title {
  border-left: 5px solid;
  font-weight: 600;
  padding: 0.5em 0 0.5em 1em;
  margin: 1em auto;
  border-left-color: var(--graybackse);
  font-size: var(--font-size);
}
.article-title.primary {
  border-left-color: var(--primary);
}
.article-title.danger {
  border-left-color: var(--danger);
}
.article-title.success {
  border-left-color: var(--success);
}
.article-title.sm {
  font-size: 12px;
}
.article-title.lg {
  font-size: calc(var(--font-size) * 1.25);
}
.article-title.xl {
  font-size: calc(var(--font-size) * 1.5);
}
.msgpanel {
  border-left: 5px solid;
  padding: var(--font-size);
  margin: var(--font-size) auto;
  color: var(--font-color);
  border-bottom: 1px solid var(--grayback);
  border-top: 1px solid var(--grayback);
  border-right: 1px solid var(--grayback);
  border-left-color: var(--graybackse);
}
.msgpanel.primary {
  color: var(--primary);
  border-left-color: var(--primary);
}
.msgpanel.danger {
  color: var(--danger);
  border-left-color: var(--danger);
}
.msgpanel.success {
  color: var(--success);
  border-left-color: var(--success);
}
.sidemenu-box {
  background-color: var(--grayback);
  user-select: none;
  padding: 15px;
}
.sidemenu-group {
  margin: 0;
  padding: 10px 0;
  list-style: none;
}
.sidemenu-item {
  display: block;
  color: var(--font-color);
  cursor: pointer;
  text-decoration: none;
  padding: 0.4em 0 0.4em 2.4em;
  font-weight: 500;
}
.sidemenu-item:hover {
  text-decoration: none;
  color: var(--font-color);
}
.sidemenu-item.active {
  font-weight: 600;
}
.sidemenu-item:hover {
  background-color: var(--graybackse);
}
.sidemenu-label {
  display: block;
  position: relative;
  width: 100%;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
}
.sidemenu-arrleft,
.sidemenu-arrdown {
  position: absolute;
  top: 10px;
  right: 0;
}
.sidemenu-arrleft {
  display: inline-block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: var(--font-color);
}
.sidemenu-arrdown {
  display: inline-block;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: var(--font-color);
}
.sidemenu-group-close .sidemenu-item {
  display: none;
}
.sidemenu-box.primary {
  background-color: var(--primary);
}
.sidemenu-box.primary .sidemenu-item.active {
  color: #fff;
}
.sidemenu-box.danger {
  background-color: var(--danger);
}
.sidemenu-box.danger .sidemenu-item.active {
  color: #fff;
}
.sidemenu-box.success {
  background-color: var(--success);
}
.sidemenu-box.success .sidemenu-item.active {
  color: #fff;
}
-box.success -item:hover {
  background-color: var(--grayback);
}
.panel {
  border: 1px solid var(--graybackse);
  padding: 4px;
}
.panel-head {
  background-color: var(--grayback);
  overflow: hidden;
  padding: 10px;
  text-align: center;
}
.panel-body {
  padding: 15px;
  background-color: #fff;
}
.panel.primary .panel-head {
  background-color: var(--primary);
}
.panel.danger .panel-head {
  background-color: var(--danger);
}
.panel.success .panel-head {
  background-color: var(--success);
}
.tabs-box {
  position: relative;
}
.tabs-header {
  display: flex;
  border-bottom: 2px solid var(--graybackse);
}
.tabs-label {
  flex: 0 1 auto;
  padding: 0 15px;
  height: 31px;
  line-height: 30px;
  background-color: var(--grayback);
  color: var(--font-color);
  cursor: pointer;
}
.tabs-box.full .tabs-label {
  flex: 1 1 0;
}
.tabs-label.active,
.tabs-box.list .tabs-label.active {
  background-color: var(--graybackse);
  color: #fff;
}
.tabs-panel {
  display: none;
}
.tabs-panel.active {
  display: block;
}
.tabs-box.list {
  display: grid;
  grid-template-columns: 108px auto;
}
.tabs-box.list .tabs-header {
  display: block;
  border: none;
  border-right: 2px solid var(--graybackse);
}
.tabs-box.list .tabs-label {
  height: auto;
  line-height: normal;
  display: block;
  padding: 10px;
  background-color: var(--grayback);
  color: var(--font-color);
  cursor: pointer;
  text-align: center;
}
.tabs-box.primary .tabs-header {
  border-bottom-color: var(--primary);
}
.tabs-box.list.primary .tabs-header {
  border-right-color: var(--primary);
}
.tabs-box.primary .tabs-label.active,
.tabs-box.list.primary .tabs-label.active {
  background-color: var(--primary);
}
.tabs-box.danger .tabs-header {
  border-bottom-color: var(--danger);
}
.tabs-box.list.danger .tabs-header {
  border-right-color: var(--danger);
}
.tabs-box.danger .tabs-label.active,
.tabs-box.list.danger .tabs-label.active {
  background-color: var(--danger);
}
.tabs-box.success .tabs-header {
  border-bottom-color: var(--success);
}
.tabs-box.list.success .tabs-header {
  border-right-color: var(--success);
}
.tabs-box.success .tabs-label.active,
.tabs-box.list.success .tabs-label.active {
  background-color: var(--success);
}
.msgbox-shadow {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  background-color: #000;
  z-index: 10000;
}
.msgbox-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10001;
}
.msgbox {
  position: relative;
  width: 75vw;
  height: 120px;
  padding: 20px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 2px 2px 16px #000;
}
.msgbox-center {
  align-self: center;
}
.msgbox-top {
  align-self: flex-start;
}
.msgbox-bottom {
  align-self: flex-end;
}
.msgbox-btn {
  position: absolute;
  bottom: 10px;
  width: 76px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid var(--graybackse);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: var(--grayback);
  user-select: none;
  font-size: 14px;
  color: var(--font-color);
  outline: 0;
  cursor: pointer;
}
.msgbox-ok {
  right: 10px;
}
.msgbox-cancel {
  right: 96px;
}
.msgbox-btn:hover {
  background-color: var(--graybackse);
  color: #fff;
}
.msgbox.primary .msgbox-btn {
  background-color: var(--primary);
}
.msgbox.danger .msgbox-btn {
  background-color: var(--danger);
}
.msgbox.success .msgbox-btn {
  background-color: var(--success);
}
.msgbox.primary .msgbox-btn:hover {
  background-color: var(--primaryse);
}
.msgbox.danger .msgbox-btn:hover {
  background-color: var(--dangerse);
}
.msgbox.success .msgbox-btn:hover {
  background-color: var(--successse);
}
.msgbox-input {
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 4px 8px;
  margin: 5px auto;
  width: 100%;
  border: 1px solid var(--graybackse);
  color: var(--font-color);
  background-color: #fff;
  outline: 0;
}
@media only screen and (min-width: 768px) {
  .msgbox {
    width: 360px;
  }
}
.pagenum {
  height: 2.7em;
  line-height: 2.7em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagenum-btns {
  font-size: 0;
  color: var(--font-color);
  background-color: #fff;
}
.pagenum-prev,
.pagenum-num,
.pagenum-active,
.pagenum-next,
.pagenum-break {
  display: inline-block;
  width: 2.7em;
  text-align: center;
  font-size: 14px;
  border: 1px solid var(--graybackse);
  border-left: none;
}
.pagenum-prev:hover,
.pagenum-num:hover,
.pagenum-active:hover,
.pagenum-next:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: var(--grayback);
}
.pagenum-prev {
  border-left: 1px solid var(--graybackse);
}
.pagenum-active,
.pagenum-active:hover {
  color: #fff;
  background-color: var(--graybackse);
}
.pagenum-break {
  color: var(--graybackse);
}
.pagenum-skip {
  margin-left: 5px;
}
.pagenum-input {
  width: 2.7em;
  height: 90%;
  text-align: center;
  border: 1px solid var(--grayback);
  padding: 0;
  margin: 0 3px;
}
.pagenum-input:focus {
  outline: 2px solid var(--graybackse);
}
.pagenum-ok {
  display: inline-block;
  width: 3em;
  text-align: center;
  margin-left: 5px;
  color: var(--font-color);
  border: 1px solid var(--graybackse);
}
.pagenum-ok:hover {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}
.pagenum.primary .pagenum-active,
.pagenum.primary .pagenum-active:hover {
  color: #fff;
  background-color: var(--primary);
}
.pagenum.danger .pagenum-active,
.pagenum.danger .pagenum-active:hover {
  color: #fff;
  background-color: var(--danger);
}
.pagenum.success .pagenum-active,
.pagenum.success .pagenum-active:hover {
  color: #fff;
  background-color: var(--success);
}
.date-box {
  position: absolute;
  box-sizing: border-box;
  width: 308px;
  cursor: default;
  border: 1px solid var(--graybackse);
  padding: 10px 5px;
  text-align: center;
  box-shadow: 1px 1px 10px var(--graybackse);
  background-color: #fff;
  font-size: 14px;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.date-area-ymt {
  display: flex;
  box-sizing: border-box;
}
.date-area-year,
.date-area-month,
.date-area-today {
  position: relative;
  box-sizing: border-box;
  padding: 0 4px;
}
.date-area-year {
  flex: 0 1 44%;
}
.date-area-month {
  flex: 0 1 38%;
}
.date-area-today {
  flex: 0 1 18%;
}
.date-area-week {
  display: flex;
  box-sizing: border-box;
  padding: 5px 0;
}
.date-area-day {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.date-area-tc {
  display: flex;
  position: relative;
}
.date-area-time,
.date-area-clear,
.date-area-ok {
  border-top: 1px solid var(--graybackse);
  padding-top: 10px;
}
.date-area-time {
  flex: 0 1 64%;
}
.date-area-clear,
.date-area-ok {
  flex: 0 1 18%;
  padding-left: 4px;
  padding-right: 4px;
}
.date-select-year,
.date-select-month,
.date-select-hour,
.date-select-minute,
.date-select-second {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  border: 1px solid var(--graybackse);
  border-radius: 4px;
  border-top: none;
  background-color: var(--grayback);
  z-index: 9999;
}
.date-select-month {
  width: 100%;
}
.date-select-year {
  width: 200px;
  height: 180px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px 0;
}
.date-select-hour,
.date-select-minute,
.date-select-second {
  width: 100%;
  bottom: 28px;
}
.date-option-year,
.date-option-month,
.date-option-hour,
.date-option-minute,
.date-option-second {
  border-bottom: 1px solid var(--graybackse);
  height: 28px;
  line-height: 28px;
  font-weight: 500;
}
.date-option-year,
.date-option-month {
  flex: 0 1 33.33333333%;
}
.date-option-year:hover,
.date-option-month:hover,
.date-option-hour:hover,
.date-option-minute:hover,
.date-option-second:hover {
  background-color: var(--graybackse);
}
.date-option-year.selected,
.date-option-month.selected {
  background-color: var(--primary);
}
.date-option-hour {
  flex: 0 1 16.66666666%;
}
.date-option-minute,
.date-option-second {
  flex: 0 1 10%;
}
.date-btn-year,
.date-btn-month,
.date-btn-today,
.date-btn-prev,
.date-btn-next,
.date-btn-time,
.date-btn-clear,
.date-btn-ok {
  display: inline-block;
  font-weight: 600;
  border: 1px solid var(--graybackse);
  border-radius: 3px;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
}
.date-btn-year,
.date-btn-month {
  box-sizing: border-box;
  color: var(--font-color);
  width: calc(100% - 52px);
}
.date-btn-today,
.date-btn-prev,
.date-btn-next {
  box-sizing: border-box;
  color: var(--primary);
}
.date-btn-today,
.date-btn-clear,
.date-btn-ok {
  width: 100%;
}
.date-btn-clear,
.date-btn-ok {
  font-weight: 500;
  color: var(--font-color);
}
.date-btn-prev,
.date-btn-next {
  width: 26px;
}
.date-btn-clear:hover,
.date-btn-ok:hover,
.date-btn-prev:hover,
.date-btn-next:hover {
  background-color: var(--grayback);
}
.date-btn-time {
  font-weight: 500;
  width: 32px;
  margin: 0 5px;
}
.date-btn-time.open {
  color: #fff;
  background-color: var(--primary);
}
.date-item-week,
.date-item-day {
  flex: 0 1 14.28571428%;
  font-weight: 500;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
}
.date-item-week {
  font-weight: 600;
}
.date-item-weekend {
  color: #c00;
}
.date-item-day:hover {
  background-color: var(--grayback);
}
.date-item-dayoutmonth {
  opacity: 0.3;
}
.date-item-day.selected:not(.date-item-today) {
  background-color: var(--graybackse);
}
.date-item-today,
.date-item-today:hover {
  color: #fff;
  background-color: var(--primary);
}
.tabsbox {
  display: flex;
  position: relative;
  height: 42px;
  line-height: 40px;
  border-bottom: 2px solid var(--graybackse);
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tabsbox-left,
.tabsbox-right {
  flex: 0 1 36px;
  border-left: 1px solid var(--graybackse);
  border-right: 1px solid var(--graybackse);
  cursor: pointer;
  background-color: #fff;
}
.tabsbox-right {
  text-align: right;
}
.tabsbox-left:before,
.tabsbox-right:before {
  content: '';
  vertical-align: middle;
}
.tabsbox-left:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-right-color: var(--graybackse);
}
.tabsbox-right:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-left-color: var(--graybackse);
}
.tabsbox-left:hover,
.tabsbox-right:hover {
  background-color: var(--grayback);
}
.tabsbox-left:active,
.tabsbox-right:active {
  background-color: var(--graybackse);
}
.tabsbox-menutitle {
  flex-basis: 56px;
  text-align: center;
  background-color: #fff;
}
.tabsbox-menutitle:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--graybackse);
  margin-left: 2px;
  vertical-align: middle;
}
.tabsbox-menutitle:hover {
  background-color: var(--grayback);
}
.tabsbox-menutitle:hover ~ .tabsbox-menugroup {
  display: block;
}
.tabsbox-menugroup {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 120px;
  color: var(--grayback);
  text-align: center;
  background-color: #fff;
  border-left: 2px solid var(--graybackse);
  border-bottom: 2px solid var(--graybackse);
  cursor: pointer;
}
.tabsbox-menugroup:hover {
  display: block;
}
.tabsbox-close-all,
.tabsbox-close-other,
.tabsbox-goto-active {
  display: block;
}
.tabsbox-goto-active {
  border-bottom: 1px solid #e9ecef;
}
.tabsbox-close-all:hover,
.tabsbox-close-other:hover,
.tabsbox-goto-active:hover {
  color: var(--font-color);
  background-color: var(--graybackse);
}
.tabsbox-navbox {
  flex: 1 1 0;
  width: 0;
  height: 40px;
  overflow: hidden;
  background-color: var(--grayback);
}
.tabsbox-nav {
  position: relative;
  margin-right: 100px;
  white-space: nowrap;
  overflow-x: auto;
}
.tabsbox-tab {
  display: inline-block;
  padding: 0 15px;
  height: 40px;
  border-right: 1px solid var(--graybackse);
  font-size: 14px;
  cursor: pointer;
}
.tabsbox-tab:hover {
  background-color: var(--graybackse);
}
.tabsbox-tab.active {
  color: #fff;
  background-color: var(--font-color);
}
.tabsbox-tabclose {
  display: none;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  margin-left: 8px;
  border-radius: 50% 50%;
  color: #fff;
  background-color: #c00;
  text-decoration: none;
}
.tabsbox-tab:hover .tabsbox-tabclose {
  display: inline-block;
}
.tabsbox.primary {
  border-bottom: 2px solid var(--primary);
}
.tabsbox.primary .tabsbox-tab.active {
  background-color: var(--primary);
}
.tabsbox.danger {
  border-bottom: 2px solid var(--danger);
}
.tabsbox.danger .tabsbox-tab.active {
  background-color: var(--danger);
}
.tabsbox.success {
  border-bottom: 2px solid var(--success);
}
.tabsbox.success .tabsbox-tab.active {
  background-color: var(--success);
}